/* Google fonts  */
/* @import url('https://fonts.gstatic.com'); */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* Color Palette - Details

Palette#: 226650 from Colorhunt

Reference Colors:
- Red: #161d65 - main header & footer color
- Light Red: #ff8585 - support colors
- Light Orange: #ffb396 - support colors
- Yellow: #fff5c0- support colors

*/

/********** tag selectors ************/

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'lato';
  /* color: #1D741B; */
}

h1{
  font-size: 2.6rem;
  font-weight: 700;
  /* font-family: 'Oswald'; */
  letter-spacing: 1px;
}

h2{
  font-size: 2rem;
  font-weight: 600;
  /* font-family: 'Oswald'; */
  letter-spacing: 1px;
}
h3{
  font-size: 1.8rem;
  font-weight: 500;
  /* font-family: 'Oswald', sans-serif; */
  letter-spacing: 1px;
}
h4{
  font-size: 1.5rem;
  font-weight: normal;
  /* font-family: 'lato'; */
  letter-spacing: 1px;
}
h5{
  font-size: 0.9rem;
  font-weight: 700;
  /* font-family: 'Oswald', sans-serif; */
  letter-spacing: 1px;
}
h6{
  font-size: 1rem;
  font-weight: 700;
  /* font-family: 'Oswald', sans-serif; */
  letter-spacing: 0.5px;
}


/********** class selectors ************/
.container-fluid{
  width: 100%;
}

/* navbar start */

.before-navbar {
  background: #88CA5E;
  padding: 5px;
}


.before-navbar-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1D741B;
  font-weight: 600;
  border: none;
}


.cod-free-shiping{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

@media (max-width: 850px) {
  .cod-free-shiping{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.cod-free-shiping h6{
  font-size: 0.7rem;
  padding: 0 10px;
}



.social-media-head {
  display: flex;
  padding-left: 20px;
}

.social-media-head i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 1rem;
  margin: auto 5px;
  border-radius: 2px;
  color: #65463E;
  transition: all 0.5s;
}

.social-media-head i:hover {
  background: #65463E;
  color: #fff;
}

.contact {
  display: flex;
  justify-content: space-between;
}

.contact div {
  border-right: 1px solid #fff;
  padding: 0 15px;
  transition: all 0.3s;
}

.contact .content div:hover {
  cursor: pointer;
}

.contact div i {
  font-size: 0.8rem;
  padding-right: 7px;
  color: #1D741B;
}

.contact .content div span {
  font-size: 0.7rem;
  font-weight: bold;
  color: #1D741B;
}

.navbar{
  background-color: #1D741B; /*color changed*/
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  border-color: #1638A0;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2)
}

.navbar-mobile{
  background: #1D741B;
  padding: 9px;
  height: 48px;
}

.navbar-mobile-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-mobile-menu a{
  color: #fff;
  font-size: 1.3rem;
}

.navbar-mobile-menu .hamburger-icon{
  position: absolute;
  top: 14px;
}

.navbar-mobile-menu .user-icon{
  font-size: 1rem;
  position: absolute;
  top: 11px;
  right: 7px;
  border: 1px solid #fff;
  line-height: 20px;
  text-align: center;
  width: 25px;
  height:25px;
  border-radius:50%;
}

.navbar-mobile-search-bar input{
  width: 100%;
  border: none;
  outline: none;
  padding: 5px 10px 5px 30px;
  margin: 5px 0;
  font-size: 0.9rem;
  color: #444;
  border-radius: 2px;
}

.navbar-mobile-search-bar i{
  position: absolute;
  left: 5%;
  transform: translateY(15px);
}

.navbar-mobile-bottom{
  position: fixed;
  background: #1D741B;
  /* background: #f4f4f4; */
  bottom: 0;
  width: 100%;
  z-index: 999;
  padding: 9px 0px 4px 0px;
  border-top: 0.01rem solid #aaa;
}

.navbar-mobile-bottom-menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-mobile-bottom-menu .navbar-mobile-bottom-menu-a{
  color: #88CA5E;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
}

.navbar-mobile-bottom-menu .navbar-mobile-bottom-menu-a.active{
  color: #fff;
}

/* .notification{
  position: absolute;
  left: 4%;
  top: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0.7rem;
  background: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
} */

.navbar-cart-no{
  position: absolute;
  right: 5%;
  top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0.7rem;
  background: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.navbar-brand{
  color: #fff;
  font-size: 1.7rem;
  padding-left: 12px;
  text-transform: uppercase;
}

.navbar-brand:hover{
  color: #fff;
}

.navbar-text{
  color:white;
  padding-left: 12px;
}

.nav-item{
  width: 140px;
  /* padding-left: 20px; */
  line-height: 2;
}

.nav-link{
  /* color: white; */
  color:#3e4095;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}

.nav-link:hover{
  color: #aaa;
}

.nav .active{
  /* color: #161d65;
  font-size: 1.1rem; */
  background-color:#ededed;
  margin-top: 0px;
}

.navbar-toggler{
  border: 1px solid #ffff00;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/*
.sticky {
  background-color: #161d65 !important;
  transition: all 0.9s ease-in-out;
} */

.sticky .nav .active{
  /* color: #161d65;
  font-size: 1.1rem; */
  background-color:#ededed;
  margin-top: 0px;
  border-radius: 2px;
}

.sticky .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* navbar end */

.large{
  border-radius: 0 0 0 0 ;
}
.small{
  display: none;
  border-radius: 0 0 0 0 ;
}

@media (max-width: 1080px) {
  .large{
    display: none;
    border-radius: 0 0 0 0 ;
  }
  .small{
    display: block;
    border-radius: 0 0 0 0 ;
  }
}

.mybutton {
  background: #221B1B; /* Green */
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  /* border-radius: 8px; */
}
.button5 {
  background: #f58634;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}
.button5:hover {

}

.button6{
  background: #fff;
  color: #f58634;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 500;
}

.buttonTransparent{
  background: none;
  border: 1px solid #bbb;
  color: #666;
  border-radius: 20px;
  padding: 5px 20px;
  font-weight: 600;
}

.buttonTransparent:hover{
  background: #666;
  color: #f4f4f4;
}

.before-nav{
  position: absolute;
  top: 25%;
}

.before-nav span{
  float: right;
  padding: 0 6px;
  color: #88CA5E;
}

.before-nav span a{
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
}

.before-nav span a:hover{
  color: #fff;
}

.before-nav span i{
  font-size: 0.9rem;
  padding: 0 5px 0 20px;
}

.more-button-links {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(136,202,94,0.95);
  z-index: 50;
  text-align: center;
  height: 100%;
}

.more-button-links .pop-up-close-btn{
  position: absolute;
  top: 20px;
  right: 10px;
}

.more-button-links .pop-up-close-btn span{
  font-size: 2rem;
}

.more-button-links ul {
  position: relative;
  top: calc(50% - 140px);
  display: list-item;
}

.more-button-links ul li {
  list-style: none;
  font-size: 1.5rem;
  line-height: 2.5;
}

.more-button-links ul li a {
  color: #000;
}

.new-user{
  position: absolute;
  z-index: 999;
  width: 40px;
  height: 40px;
  background: #f58634;
  border-radius: 50%;
  bottom: 60%;
  left: calc(50% - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-user span{
  color: #fff;
}

.serach-div{
  display: flex;
}

.serach-div input{
  border: 1px solid #666;
  border-radius: 4px;
  padding: 0px 0px 0px 30px;
  z-index: 999;
  background: none;
  outline: none;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  height: 40px;
  width: 250px;
  background: rgba(255,255,255,0.4);
}

.serach-div input:focus{
  background: rgba(250,250,250,0.8);
}

.serach-div i{
  position:absolute;
  transform:translateY(12px) translateX(7px);
  color: #000;
}

.small-text{
  font-size: 0.9rem;
  color: #666;
}

.user-agreement{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

@media (max-width: 850px) {
  .before-nav{
    display: none;
  }

  .before-nav span{
    float: left;
  }
}

.carousel-indicators{
  /* position: absolute; */
  left: 0;
  /* width: 100%; */
}

.carousel-indicators > li{
  width: 150px;
  height: 40px;
  text-indent: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid transparent;
  cursor: pointer;
  background: rgba(221,221,221,0.7);
  color: #000;
  font-size: 0.8rem;
}

.carousel-indicators > li.active{
  border-bottom: 5px solid #F58634;
}

.below-banner-box{
  width: 100%;
  text-align: center;
  /* background: rgba(221,221,221,0.7); */
  background: rgba(245,134,52,0.8);
  /* background: #eee; */
  border-radius: 4px;
  height: 40px;
  /* padding: 6px 20px 5px 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.below-banner-box h4{
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 5px;
}

.ads1-div{
  background: rgba(210,251,164,0.7);
  /* background: #D2FBA4; */
  /* background: linear-gradient(to right ,#078e00, #f58634); */
}

.category-list-menu{
  text-decoration: none;
  width: 100%;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 5px 4px;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 4px;
}

.category-list-menu.active{
  background: #f58634;
}

.category-list-menu h5{
  position: relative;
  top: 5px;
  color: #444;
  font-size: 0.7rem;
  font-weight: normal;
}

.category-list-menu.active h5{
  color: #fff;
}

.category-list-sub-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px 0 10px;
}

.product-list-div{
  border: 1px solid #dedede;
  padding: 6px;
  border-radius: 4px;
  margin: 2px auto;
  background: #fff;
}

.product-list-div small{
  font-size: 1rem;
  color: rgba(0,0,0,0.9);
}

.product-list-div select,
.product-list-div input{
  outline: none;
  background: #efefef;
  padding: 8px 10px;
  width: 100%;
  color: rgba(0,0,0,0.7);
  border: 1px solid #bbb;
  margin-top: 8px;
}

.product-list-div input{
  border: 1px solid #efefef;
}

.product-details{
  margin: 10px 0;
  padding: 5px 10px;
  background: rgba(0,0,0,0.1);
}

.product-details .mrp{
  color: rgba(0,0,0,0.5);
  font-size: 0.7rem;
}

.product-details p{
  color: rgba(0,0,0,0.7);
  font-size: 0.7rem;
}

.product-details input{
  width: 30%;
  outline: none;
  padding: 0 10px;
}

.ver-line1{
  content: '';
  height: 100px;
  width: 3px;
  background: #f58634;
  position: relative;
  left: 17%;
}

.hor-line1{
  content: '';
  height: 2px;
  width: 100px;
  background: #f58634;
  margin-right: 5px;
  margin-top: -7px;
}

#partners{
  background: rgba(210,251,164,0.7);
}

#partners-carousel .item img{
  filter: brightness(0.1);
}

#partners-carousel .item:hover img{
  filter: brightness(0.4);
}


.work-heading h3{
  font-size: 1.8rem;
  padding: 10px 3%;
}

.work-content p{
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.5;
}

.triangle1{
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 180px solid rgba(0,0,0,0.1);
  position: absolute;
  top: 5%;
  transform: rotate(150deg);
}

.triangle-left{
  position: absolute;
  right: 15%;
  width: 0;
  height: 0;
  border-top: 300px solid transparent;
  border-bottom: 300px solid transparent;
  border-right: 300px solid rgba(245,134,52,0.2);
  transform: translateY(-80%) rotate(100deg);
  z-index: -1;
}

.inner-triangle{
  position: absolute;
  right: 2px;
  width: 0;
  height: 0;
  border-top: 200px solid transparent;
  border-bottom: 200px solid transparent;
  border-right: 200px solid #fff;
  transform: translateX(270px) translateY(-200px);
  z-index: -1;
}

.clients-p{
  color: #000;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.client-card p{
  padding: 20px;
  margin: 0;
  background: rgba(0,0,0,0.8);
  color: #fff;
}

.client-item{
  transform: scale(1);
  transition: 2s linear;
}

.owl-item.center .client-item{
  transform: scale(1.1);
}

.owl-item.active.center .client-item{
  transform: scale(1.1);
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* .below-banner-box h4{
  font-size: 1.2rem;
} */

/* Footer Section - Start */
#map {
  width: 100%;
  height: 550px;
}

#footer{
  background-color:#fefefe;
  text-align:center;
}

.footer-list{
  text-align: left;
}

@media (max-width: 1080px) {
  .footer-list{
    text-align: center;
  }
}

.footer-list h5{
  font-size: 1rem;
  font-weight: bold;
}

.footer-list ul li{
  list-style: none;
}

.footer-list ul li a{
  color: rgba(29,116,27,0.7);
  font-size: 0.9rem;
}

.footer-list ul li a:hover{
  color: rgba(29,116,27,1);
}

.copy-write{
  background: #1D741B;
  color: #fff;
  padding: 0 0 4px 0;
}

.copy-write span{
  font-size: 0.8rem;
}

@media (max-width: 850px) {
  .copy-write{
    padding: 0 0 80px 0;
  }
}

.social{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social i{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  line-height: 50px;
  font-size: 1rem;
  border: 2px solid white;
  transition: all 0.5s ease-in;
  background: #f58634;
}

.social i:hover{
  background: #88CA5E;
  transform: rotate(360deg) scale(1.1);
}

/* Footer Section - End */



/* product page - start */

.product-img-td {
  padding: 20px 10px;
}

.product-img-td .off-div {
  position: absolute;
  top: 16px;
  left: 10px;
  background: #1D741B;
  padding: 2px 10px;
  border-radius: 10px 20px;
}

.product-img-td .off-div small {
  font-size: 0.7rem;
  color: #fff;
}

.veg-nonVeg-div img{
  position: absolute;
  top: 20px;
  left: 45%;
  bottom: 7%;
  width: 20px;
  height: 20px;
}

.product-names-div{
  padding: 2px 2px 2px 2px;
}

.product-names{
  font-size: 1.2rem;
  padding-left: 18px;
}

.product-price{
  padding-top: 5px;
}

.product-price small{
  color: #1D741B;
}

.product-price h5{
  color: rgba(0,0,0,0.5);
  font-size: 0.7rem;
  text-decoration: line-through;
  position: relative;
  top: 10px;
}

/* -- quantity box -- */
.quantity-td{
  text-align: right;
  padding: 5px;
}

.quantity {
  display: inline-block;
}

.quantity .input-text.qty {
  outline: none;
  width: 47px;
  height: 34px;
  padding: 0 5px;
  text-align: center;
  background-color: transparent;
  background: #f58634;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.quantity.buttons_added {
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: top;
}

.quantity.buttons_added input {
  display: inline-flex;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
  width: 25px;
  height: 34px;
  background: #fff;
  border: 1px solid #f58634;
  cursor: pointer;
  color: #f58634;
}

.quantity.buttons_added .plus{
  border-radius: 0 4px 4px 0;
}

.quantity.buttons_added .minus{
  border-radius: 4px 0 0 4px;
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
  background: #eeeeee;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
  outline: none;
}

.product-menu a{
  background: #eee;
}

/* finish */


/* product page - end */


/* cart page - start */

.empty-cart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}


.checkout-div{
  position: fixed;
  bottom: 9%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px;
  z-index: 10;
  background: #eee;
}

.checkout-div div h5{
  margin: 0 auto;
  font-weight: 500;
  font-size: 1rem;
}

.checkout-div div small{
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0 auto;
  color: #88CA5E;
}

/* cart page - end */

/************* Profile page - starts **************/

.camera-update-icon-div{
  display:flex;
  justify-content: space-around;
  position: relative;
  top: -30px;
}

.camera-icon{
  /* float: right; */
}

.camera-icon i{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: #f58634;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}

.profile-pic{
  text-align: center;
}

.profile-pic img{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: #eee;
  padding:10px;
}

.profile-personal-input{
  background: none;
  outline: none;
  border: 1px solid #ddd;
  text-align: center;
}

.profile-personal-input:read-only{
  border: 1px solid transparent;
}

.city-selector{
  background: rgba(0,0,0,0.1);
  outline: none;
  border: #ddd;
  padding: 5px 40px 5px 20px;
  margin: 10px auto;
  border-radius: 4px;
  color: #444;
  -webkit-appearance: none;
  z-index: 10;
}

/* .city-selector::-ms-expand {
  display: none;
} */

.city-selector-icon{
  position: relative;
  top: 5px;
  right: 35px;
  pointer-events:none;
}


/************* Profile page - ends *************/

/* address page - start */

.address-edit-icon{
  background: red;
  position: absolute;
  right: 10px;
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: #fff;
  background: #1D741B;
  border-radius: 50%;
}

.address-div span{
  position:absolute;
  top: 10px;
  right: 4%;
}

.address-card{
  padding: 10px;
}

.address-card div{
  display: flex;
}

.address-card div h5{
  padding-left: 5px;
  margin-top: -5px;
  color: rgba(0,0,0,0.7);
  font-weight: bold;
  font-size: 1rem;
}

.address-card p{
  color: rgba(0,0,0,0.6);
  font-size: 0.9rem;
  padding: 0 6px 0 12px;
  margin: 0 auto;
}

.address-hr{
  margin: 10px auto;
}

.address-input-field label{
  font-size: 0.9rem;
  margin: 0 auto;
}

.address-input-field input{
  padding: 2px 5px;
}


/* address page - end */


/* delivery page - start */

.dievery-address-card{
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  padding: 10px;
}

.dievery-address-card .location{
  display: flex;
  align-items: center;
}

.dievery-address-card .location span{
  font-size: 1.7rem;
}

.dievery-address-card .deliver-to{
  padding-left: 5px;
  width: 100%;
}

.dievery-address-card .deliver-to small{
  font-size: 0.65rem;
  color: rgba(0,0,0,0.7);
  font-weight: bold;
  margin-top: -20px;
}

.dievery-address-card .deliver-to h5{
  font-size: 0.9rem;
  font-weight: bold;
}

.dievery-address-card p{
  position: absolute;
  margin: 0 auto;
  padding: 5px 0;
  color: rgba(0,0,0,0.6);
  width: 73%;
}

.dievery-address-card a{
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.dievery-address-card .delivery-options{
  border: 1px solid #88CA5E;
  margin: 16px auto;
  border-radius: 4px;
  display: flex;
  padding: 5px 10px;
  align-items: center;
}

.dievery-address-card .delivery-options span{
  color: rgba(0,0,0,0.6);
  padding-left: 10px;
}

.dievery-address-card .delivery-options h4{
  font-size: 1rem;
  color: rgba(0,0,0,0.6);
  padding-left: 5px;
  position: relative;
  top: 4px;
}

.date-div select,
.product-list-div input{
  outline: none;
  background: #efefef;
  padding: 8px 10px;
  width: 100%;
  color: rgba(0,0,0,0.7);
  border: 1px solid #bbb;
  margin-top: 8px;
}

#btnProceedToPay:disabled{
  opacity: 0.5;
}


/* delivery page - end */

/* login page - start */

#beforeLogin{
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.before-login-continue{
  width: 200px;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  transition: 3s;
}

/*************** login - Strat *************/

.login-full-page{
  width: 100%;
}

.login-register-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-register-card-fixed{
  padding: 10px 0;
  /* width: 350px; */
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
  overflow: hidden;
}

.login-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
  transition: transform 1s;
}

.login-form .login-form-feilds{
  height: 65px;
  padding: 0 14px;
}

.login-form .login-form-feilds input{
  width: 100%;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid #000;
  z-index: 999;
  letter-spacing: 1px;
  color: #555;
}

.login-form .login-form-feilds .underline{
  position: relative;
  bottom: 1px;
  height: 1px;
  width: 100%;
  background: #88CA5E;
  transform: scaleX(0);
  transition: 0.5s;
}

.login-form .login-form-feilds h5{
  position: relative;
  top: -22px;
  font-size: 1rem;
  z-index: -1;
  transition: 0.5s;
  color: #bbb;
  transition: 1.2s;
  font-weight: normal;
}

.login-form .login-form-feilds input:focus ~ h5,
.login-form .login-form-feilds input:valid ~ h5{
  top: -40px;
  font-size: 0.9rem;
}

.login-form .login-form-feilds input:focus ~ .underline,
.login-form .login-form-feilds input:valid ~ .underline{
  transform: scaleX(1);
}

.login-form .login-form-feilds .reset-password{
  float: right;
  position: relative;
  top: -20px;
}

.form-btn div{
  display:flex;
  justify-content: space-around;
}

.form-btn span{
  font-weight: bold;
  padding: 0 10px;
  color: #aaa;
  cursor: pointer;
  width: 50%;
  display: inline-block;
  text-align: center;
  font-size: 1.4rem;
}

#Indicator{
  width: 50%;
  border: none;
  background: #88CA5E;
  height: 3px;
  margin-top: 8px;
  transform: translateX(0px);
  transition: transform 1s;
}

.social-media{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social-media i{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: none;
}

.social-media i:nth-child(1){
  border: 1px solid #1873eb;
  color: #1873eb;
  transition: all 0.5s;
}
.social-media i:nth-child(1):hover{
  background: #1873eb;
  color: #fff;
}

.social-media i:nth-child(2){
  border: 1px solid #1c9cea;
  color: #1c9cea;
  transition: all 0.5s;
}
.social-media i:nth-child(2):hover{
  background: #1c9cea;
  color: #fff;
}

.social-media i:nth-child(3){
  border: 1px solid #d54836;
  color: #d54836;
  transition: all 0.5s;
}
.social-media i:nth-child(3):hover{
  background: #d54836;
  color: #fff;
}

.social-media i:nth-child(4){
  border: 1px solid #0a63bc;
  color: #0a63bc;
  transition: all 0.5s;
}
.social-media i:nth-child(4):hover{
  background: #0a63bc;
  color: #fff;
}

.social-media i:nth-child(5){
  border: 1px solid #0d8cf7;
  color: #0d8cf7;
  transition: all 0.5s;
}
.social-media i:nth-child(5):hover{
  background: #0d8cf7;
  color: #fff;
}

/*************** login - End *************/


/* login page - end */

/* orders page - start */

.orders-list-div{
  padding: 16px;
  background: #fefefe;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin: 2px auto;
}

.orders-list-div div:nth-child(1) small{
  font-size: 1rem;
  font-weight: bold;
}

.orders-list-div div:nth-child(1){
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orders-list-div h6{
  font-size: 0.95rem;
  color: #666;
  padding-top: 5px;
}

.orders-list-div .order-details{
  display: flex;
  justify-content: space-between;
}

.orders-list-div .order-details h5{
  font-size: 0.85rem;
}

.cancel{
  color: #888;
}

.payment-pending{
  color: red;
}

.delivery-pending{
  color: orange;
}

/* orders page - end */

/* order summary page - start */

.order-summary{
  background: #fff;
  border-radius: 10px;
  padding: 10px;
}

.order-summary .order-summary-div{
  text-align: left;
  padding: 20px 10px;
}

.order-summary-address{
  color: #aaa;
}

.order-summary-address h5{
  color: #666;
}

.order-summary-address p{
  width: 100%;
  margin: 0 auto;
  font-size: 0.9rem;
}

/* order summary page - end */

/* dashboard page - start */


.side-navbar{
  height: 100vh;
  width: 100%;
  box-shadow: 0 1px 30px 1px rgba(0,0,0,0.2);
}

.side-navbar-menu{
  padding-top: 40px;
}

.side-navbar-menu a{
  color: #1D741B;
  transition: 0.2s linear;
}

.side-navbar-menu a div{
  padding: 10px 20px;
  transition: 0.2s linear;
}

.side-navbar-menu a:hover,
.side-navbar-menu a div:hover{
  text-decoration: none;
  background: #1D741B;
  color: #fff;
}

.detail-card-full-div{
  padding: 0 3%;
}

.detail-card-full-div .detail-card-full-div-heading{
  font-size: 1.7rem;
  color: #000;
  text-align: center;
}

.dashboard-card{
  background: #fff;
  margin: 25px auto;
  padding: 15px 10px;
  border-radius: 10px;
  height: 75px;
  overflow-y: hidden;
  transition: 1s;
}

#cardOrder:hover{
  height: 320px;
}

#cardDelivery:hover{
  height: 512px;
}

#productDiv:hover{
  height: 320px;
}
#userRegistration:hover{
  height: 320px;
}

.dashboard-card.order-status:hover{
  height: 350px;
}

.dashboard-card .arrow-down{
  position: absolute;
  right: 20px;
  transform: translateY(-20px);
  transition: 1s;
}

.dashboard-card:hover .arrow-down{
  transform: translateY(-20px) rotate(180deg);
}

.dashboard-card div .order-icon{
  font-size: 2.4rem;
}

.dashboard-sub-heading{
  font-size: 0.8rem;
  font-weight: 500;
}

.dashboard-card .details{
  padding-left: 20px;
}

.dashboard-card .details h4{
  margin: 0 auto;
  color: #444;
  font-weight: 600;
  font-size: 1.2rem;
}

.dashboard-card .details p{
  margin: 0 auto;
}

.dashboard-card-order{
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.dashboard-card-order div:nth-child(2){
  text-align: right;
}

.dashboard-card-order div a{
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0 auto;
  color: #1D741B;
  text-decoration: none;
}

.dashboard-card-order div small{
  position: relative;
  top: -1px;
  font-weight: bold;
  color: #aaa;
  font-size: 0.8rem;
}

.dashboard-card-delivery{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  margin: 10px auto;
}

.dashboard-card-delivery div h5{
  color: #000;
  margin-top: 7px;
  padding-left: 5px;
}

.detail-card{
  background: rgba(0,0,0,0.05);
  cursor: pointer;
}

.detail-card-no{
  padding: 0 15px 0 15px;
  display:flex;
  justify-content: space-between;
}

.detail-card-no .detail-card-heading{
  display:flex;
  align-items:center;
}

.detail-card-no .detail-card-heading i{
  padding-right:10px;
  color:#88CA5E;
}

.detail-card-no .detail-card-heading h6{
  color: #000;
  margin-top: 10px;
  font-size: 1rem;
}

.detail-card .detail-card-arrow{
  display:flex;
  align-items:center;
  font-size:0.7rem;
  color:#888;
}

.detail-card hr{
  margin: 5px 0;
}

.detail-card .detail-card-details{
  display:flex;
  justify-content: space-between;
  padding: 0 20px;
}

.detail-card-details div{
  display:flex;
  flex-direction:column;
}

.detail-card-details div .small-1{
  color:#aaa;
  font-size: 0.7rem;
}

.detail-card-details div .small-2{
  font-size:1.3rem;
}

.detail-card-details div .small-2.negative{
  color: red;
}

.detail-card-details div .small-3{
  color:#444;
  margin-top:-7px;
  font-size: 0.7rem;
}

.detail-card .progress-bar{
  background: rgba(0,0,0,0.1);
  height: 14px;
  width: 100%;
}

.detail-card .progress-bar .inner-progress-bar{
  background: linear-gradient(to right, rgba(29,116,27,0.8),#1D741B);
  height: 14px;
}

.notification-count{
  position: absolute;
  color: #fff;
  font-size: 0.9rem;
  background: red;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: 6px;
  right: 10px;
}

/* dashboard page - end */

/* notification page - start */
.notification-card{
  padding: 10px;
  background: #efefef;
  margin: 15px auto;
}

.notification-card .notification-card-details{
  padding-top: 10px;
}

.notification-card .notification-card-details h4{
  font-size: 1.3rem;
  font-weight: 600;
}

/* notification page - end */

/* create product page - start */


.input-feild{
  padding: 10px;
}

.input-feild input{
  width: 100%;
  outline: none;
  background: none;
  border: 1px solid #000;
  padding: 2px 10px;
}


/* create product page - end */

/* Registration page - start */
.registration-full-form{
  padding: 3%;
}

.registration-inner-div{
  padding: 20px 10px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.registration-inner-div .registration-input-field{
  margin: 10px 0;
  padding: 0 3px;
}

.registration-inner-div .registration-input-field h5{
  padding-left: 5px;
  font-size: 1rem;
}

.registration-inner-div .registration-input-field input,
.registration-inner-div .registration-input-field select{
  width: 100%;
  border: none;
  outline: none;
  border: 1px solid rgba(0,0,0,0.5);
  font-size: 1rem;
  padding: 2px 5px;
  color: rgba(0,0,0,0.6);
  border-radius: 4px;
  height: 32px;
}

.checkbox{
  position:absolute;
  opacity: 0;
}

.checkbox ~ .checkbox-label{
  width: 100%;
  border:1px solid rgba(0,0,0,0.2);
  height: 35px;
  border-radius: 20px;
  padding:6px 7px;
  font-size: 0.8rem;
  font-weight: 500;
  color: rgba(0,0,0,0.4);
  transition: 0.3s;
}

.checkbox:checked ~ .checkbox-label{
  background: #88CA5E;
  border: 1px solid #88CA5E;
  color: #fff;
}

.checkbox-label .fa-check,
.checkbox-label .fa-plus{
  font-size: 0.7rem;
  padding-right: 5px;
  transition: display .3s;
}

.checkbox ~ .checkbox-label .fa-check{
  display: none;
}

.checkbox ~ .checkbox-label .fa-plus{
  display: inline-block;
}

.checkbox:checked ~ .checkbox-label .fa-check{
  display: inline-block;
}

.checkbox:checked ~ .checkbox-label .fa-plus{
  display: none;
}


/* Registration page - end */





  /********* Loader - Starts **********/
  .loaderincenter{
    position: fixed;
    width: 80%;
    height: 80vh;
    background: rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    /* filter: sepia(100px); */
    /* backdrop-fitler: blur(20px); */
  }

  .loader {
    border: 12px solid #E10032;
    border-radius: 50%;
    border-top: 12px solid #DBE8E1;
    border-right: 12px solid #034687;
    border-bottom: 12px solid #DBE8E1;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-top: 10%;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  /********* Loader - Ends **********/
