/* Color Palette - Details

Palette#: 226650 from Colorhunt

Reference Colors:
- Red: #161d65 - main header & footer color
- Light Red: #ff8585 - support colors
- Light Orange: #ffb396 - support colors
- Yellow: #fff5c0- support colors

*/

/********** tag selectors ************/

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


body{
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';

}

h1{
  font-size: 3rem;
  font-weight: bold;
}

h2{
  font-size: 2.5rem;
  font-weight: bold;
}
h3{
  font-size: 2rem;
  font-weight: bold;
}
h4{
  font-size: 1.5rem;
  font-weight:normal;
}
h5{
  font-size: 1.2rem;
  font-weight:normal;
}
h6{
  font-size: 0.8rem;
  font-weight:normal;
}


/********** class selectors ************/
.container-fluid{
  width: 100%;
}

/* navbar start */
.navbar{
  background-color:#555; /*color changed*/
  border-top: 0;
  border-bottom: 1px;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  border-color: #555;
  font-family: 'Oswald', sans-serif;
}

.bardown{
  background-color:#555;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index:100;
  height: 50px;
  font-family:'Oswald', sans-serif;
  border-top:1px solid;

}
.bardown ul{
  display: flex;
  flex-direction:row;
  /* justify-content: center; */
  justify-content: space-between;
  overflow: auto;
  align-items: center;
  padding: 0 10px;
  text-align: center;


}
.bardown ul li{
  list-style-type: none;
  /* padding-top: 1px; */
  font-size: 0.8rem;
  color:#fff;
}
.bardown ul li span{
  font-size: 1rem;
}


.navbar-brand{
  color: #fff;
  font-size: 1.7rem;
  padding-left: 12px;
}

.navbar-brand:hover{
  color: #ec1066;
}

.navbar-text{
  color:white;
  padding-left: 12px;
}

.nav-item{
  width: 140px;
  /* padding-left: 20px; */
  line-height: 1;



}

.nav-link{
  /* color: white; */
  color:#fff;
  font-size: 1rem;
  text-align: center;




}

.nav-link:hover{
  color: #ec1066;
}

.nav .active{
  color: #161d65;
  font-size: 1.1rem;
  background-color:#fff;
  margin-top: 0px;
}

.navbar-toggler{
  /* border: 1px solid #ec1066; */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(236,16,102)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.sticky {
  background-color: #555 !important;
  /* transition: background-color 200ms linear; */
  transition: all 0.9s ease-in-out;
  padding-top:12px;
}

.sticky .nav-link, .sticky .navbar-brand, .sticky .navbar-text {
  color: #fff;
}

.sticky .nav .active{
  color: #ff4c68;
  font-size: 1.1rem;
  background-color:#fff;
  margin-top: 0px;
  border-radius: 2px;
}

.sticky .nav-link:hover{
  color: #ff4c68;
}

.sticky .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* navbar end */

.large{
  width: 100% ;
  border-radius: 0 0 0 0 ;
}
.small{
  width: 0px ;
  display: none;
  border-radius: 0 0 0 0 ;
}

@media (max-width: 1080px) {
  .large{
    width: 0% ;
    display: none;
    border-radius: 0 0 0 0 ;
  }
  .small{
    width: 100% ;
    display: block;
    border-radius: 0 0 0 0 ;
  }
}

.statistics-content-area{
  padding:26px;
  background-color:#fff;
  border-radius:8px;
  background-color:rgb(255,255,255,0.9);
}

.statistics-content-heading{
   /* color:#888; */
   color:#ff7b54;
}

.statistics-content-number{
  font-size:3rem;
  padding-top:10px;
  padding-bottom:10px;
}

/* Designs - Start */
#designs .item {
  /* border: 1px solid #373435; */
  transition: all 1s ease-in-out;
}

.post-slide {
  margin: 0 10px;
}

.post-slide-banner {
  background-size: cover;
  background-position: center;
  height: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.post-slide .post-info {
  padding: 5px 0;
  margin: 0;
  list-style: none;
}

.post-slide .post-info li {
  display: inline-block;
  margin: 0 5px;
}

.post-slide .post-info i {
  margin-right: 0;
}

.post-slide .post-info a {
  font-size: 0.6rem;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

.post-slide .post-info li a:hover {
  text-decoration: none;
  color: #1dcfd1;
}

.post-slide .post-img {
  position: relative;
}

.post-slide .post-img:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  /* background: rgba(0,0,0,0.6); */
  /* transition: opacity 0.90s linear 0s; */
}

.post-slide:hover .post-img:before {
  opacity: 1;
}

.post-slide-banner:hover .post-img:before {
  opacity: 1;
}

.post-slide .post-img img {
  width: 100%;
  height: auto;
}

.post-slide-banner .post-img img {
  width: 100%;
  height: auto;
}

.post-slide .read {
  position: absolute;
  bottom: 30px;
  left: 50px;
  font-size: 14px;
  color: white;
  text-transform: capitalize;
  opacity: 0;
  transition: all 0.40s linear 0s;
}

.post-slide:hover .read {
  opacity: 1;
}

.post-slide .read:hover {
  text-decoration: none;
  color: deepskyblue;
}

.post-slide .post-content {
  padding: 10px 0 0 0;
  position: relative;
}

.post-slide .post-author {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: absolute;
  top: -45px;
  right: 10px;
  overflow: hidden;
  border: 4px solid white;
}

.post-slide .post-author img {
  width: 100%;
  height: auto;
}

.post-slide .post-title {
  font-size: 0.7rem;
  font-weight: bold;
  color:#555;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  transition: all 0.30s linear 0s;
}

.post-slide .post-title:after {
  content: "";
  width: 25px;
  display: block;
  margin-top: 10px;
  border-bottom: 4px solid #ec1066;
  /* border-bottom: 4px solid #444; */
}

.post-slide .description {
  /* color: white; */
  color: #555;
  font-size: 0.7rem;
  font-weight: 500;
}

.post-slide .post-content .viewbtn {
  /* display: block; */
  opacity: 0;
  color: #ec1066;
  /* transition: all 3s ease-in-out; */
}

.item:hover .viewbtn {
  /* display: block; */
  opacity: 1;
  transition: all 0.6s ease-in-out;
  /* transition: all 0.1s ease-in-out; */
}

/* Designs End */

/* Footer Section - Start */
#map {
  width: 100%;
  height: 550px;
}

#footer{
  background-color:#555;
  text-align:center;
  color:white;
}

.social .fa{
    color: white;
    border-radius: 50px;
    margin: 15px 5px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border: 2px solid white;
    transition: all 0.5s ease-in;
    background: #000;
}
.card-title{
  margin: 0;
  font:14px;
  font-weight: bold;
}
.card-img-overlay{
  padding: 4px;
}
.cardheading{
  color:#555;
  font-family: 'Oswald', sans-serif;
}
.card{
  border:0;
}
.card-img-top{
  border-radius:5%;
}
.footer-styles{
  display:flex;
  flex-direction:row;
  /* text-align: center; */
  justify-content: center;
}
.footer-styles li{
  text-decoration-style: none;
  list-style-type: none;
  font-weight: bold;
}

.contact-us{
  position: relative;
  left: -30px;
}
@media (max-width: 1080px){
  .liclass{
    padding-left: 5%;
  }

  .contact-us{
    position: relative;
    left: 0;
  }
}
.footer-li{
  padding:0 5%;
}
.secbox{
  font-family: 'Oswald', sans-serif;
  padding: 3%;
  border-radius: 10px;

}

.secbox ul li{
  list-style-type:none;
}
.secbox ul li i{
  color:#ff4c68;
  font-size:1.1rem;
}
.textheadleft{
  padding-left :1%;
  color:#000;
}
.firstbox{
  font-family: 'Oswald', sans-serif;
  padding: 3%;
  border-radius: 10px;
}
.firstbox ul li{
  list-style-type:none;
}

.textheadright{

  color:#889;
  padding-left:1%
}
.firstsbox{
  font-family: 'Oswald', sans-serif;

}
.thirdbox{
    font-family: 'Oswald', sans-serif;
    padding: 3%;
    border-radius: 10px;
}
.thirdbox ul li{
  list-style-type:none;
}
.textcontentareaAll{
  font-family: 'Oswald', sans-serif;
}
.myclass{
  position: fixed;
  top: 0;
}
#floatingInputValue.form-control{

}
.bardown ul li a{
  text-decoration: none;
  color:#fff !important;
}

.orderborder{
  border: 2px solid #000;
  font-family: 'Oswald', sans-serif;
  border-radius: 10px;

}
/* .borderfortop{
  border-top: 2px solid #000;

} */
.heightwidth{
  width:35%;
  padding-top: 0.5%;
}

.step3-checkoutbox{
  font-family: 'Oswald', sans-serif;
  padding: 1%;
  border-radius: 10px;
}

.new{
  display: flex;
  justify-content: space-around;
  padding-bottom: 2%;
}











/* Footer Section - End */
