/* Color Palette - Details

Palette#: 226650 from Colorhunt

Colors:
- Red: #ff4c68
- Light Red: #ff8585
- Light Orange: #ffb396
- Yellow: #fff5c0;

*/
/**** tag selectors *****/
body {
  width: 100%;
  margin: 0;
  padding: 0;
  /* font-family: Montserrat; */
  font-family: Montserrat, 'Roboto Condensed', sans-serif;
  font-size: 16px;
}

h1 {
  font-weight: 800;
  font-size: 2.1rem;
  line-height: 1.4;
}

h2 {
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 1.2;
}

h3 {
  font-weight: 600;
  font-size: 1.2rem;
}

h4 {
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 0.5rem;
}

h5 {
  font-weight: 600;
  font-size: 0.8rem;
  color: #8f8f8f;
}

h6 {
  font-weight: normal;
  font-size: 0.8rem;
}

/**** id selectors *****/
/**** class selectors *****/

/* Customized Nav Bar - Start */
.main_header {
  position: fixed;
  max-height: 56px;
  z-index: 999;
  width: 100%;
  padding: 0 10%;
  background: none;
  overflow: hidden;
  transition: all 1s ease-in-out;
  opacity: 1;
  top: 0px;
  background-color: #eee;
}

@media only screen and (max-width: 766px) {
  .main_header {
    padding-top: 25px;
    opacity: 1;
  }
}

.open-nav {
  max-height: 600px !important;
  padding-bottom: 10px;
}

.open-nav .mobile-toggle {
  transform: rotate(-90deg);
}

.sticky {
  background-color: #333;
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid silver;
}

.logo {
  float: left;
  margin-top: 8px;
  width: 60px;
  height: auto;
}

.logo-opposite {
  display: none;
  float: left;
  margin-top: 8px;
  width: 60px;
  height: auto;
}

.sticky .logo {
  display: none;
  float: left;
  margin-top: 8px;
  width: 60px;
  height: auto;
}

.sticky .logo-opposite {
  display: block;
  float: left;
  margin-top: 8px;
  width: 60px;
  height: auto;
}

.logo-name {
  width: 250px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #ff4c68;
  float: left;
  padding-left: 6px;
  display: block;
  margin-top: 20px;
  line-height: 1;
  margin-bottom: 0px;
  font-family: 'Great Vibes', cursive;
}
.logo-name:hover{
  color: #ff4c68;
}

.sticky .logo-name {
  width: 250px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff5c0;
  float: left;
  padding-left: 6px;
  display: block;
  margin-top: 20px;
  line-height: 1;
  margin-bottom: 0px;
  font-family: 'Great Vibes', cursive;
}

.header_menu {
  color: #ff4c68;
  font-size: 1.2rem;
  font-weight: lighter;
  padding-left: 40px;
}

.header_menu:hover {
  color: #ff4c68;
  font-size: 1.3rem;
  font-weight: bolder;
  padding-left: 40px;
}

.sticky .header_menu {
  color: #fff5c0;
}

.social-icon-header_menu {
  text-align: center;
  color: #ff4c68;
}

.sticky .social-icon-header_menu {
  text-align: center;
  color: #fff5c0;
}

@media (max-width: 766px) {
  .logo {
    float: left;
    margin-top: -18px;
    width: 60px;
    height: auto;
    margin-left: -35px;
  }

  .sticky .logo {
    display: none;
    float: left;
    margin-top: -18px;
    width: 60px;
    height: auto;
    margin-left: -35px;
  }

  .logo-opposite {
    display: none;
    float: left;
    margin-top: -18px;
    width: 60px;
    height: auto;
    margin-left: -35px;
  }

  .sticky .logo-opposite {
    float: left;
    margin-top: -18px;
    width: 60px;
    height: auto;
    margin-left: -35px;
  }

  .logo-name {
    float: none;
    font-size: 1.6rem;
    font-weight: 400;
    color: #ff4c68;
    /* margin-left: 40; */
    margin-top: -8px;
    text-align: center;
  }

  .sticky .logo-name {
    float: none;
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff5c0;
    /* margin-left: 0; */
    margin-top: -8px;
  }
}

nav {
  padding-top: 12px;
  float: right;
  /* width: 85%;  */
}

@media (max-width: 766px) {
  nav {
    width: 100%;
  }
}

nav ul {
  /* padding-left: 480px; */
}

@media (max-width: 766px) {
  nav ul {
    /* padding-top: 0px; */
    /* margin-bottom: 2px; */
    padding-left: 0;
    width: 100%;
  }
}

nav ul li {
  display: inline-block;
}

@media (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}

nav ul a {
  transition: all 500ms linear;
  font-family: 'Great Vibes', cursive;
}

nav ul a.active {
  transition: all 0.1s ease-in-out;
}

nav ul li a:hover, nav ul li a:focus {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  /* font-size: 20px; */
  position: absolute;
  right: 22px;
  top: 14px;
  width: 30px;
  transition: all 1s ease-in-out;
}

/* @media (max-width: 1700px) { */
.mobile-toggle {
  display: block;
}

/* } */
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #ff4c68;
  display: block;
}

.sticky .mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #fff5c0;
  display: block;
}

@keyframes scroll {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

/* Customized Nav Bar - End */
.mynavbar {
  background-color: #333;
  padding-top: 0;
  padding-left: 10%;
  padding-right: 10%;
}

.logo-img {
  width: 40%;
}

@media (max-width: 1028px) {
  .mynavbar {
    background-color: #333;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  .logo-img {
    width: 30%;
    padding-left: 10px;
  }

  .social-icons {
    margin: 20px 10px;
    color:#ff4c68;
  }
}

.banner-section {
  padding: 100px 10%;
}

/* .navbar{
  padding:0 0 4.5rem;
}
 */
/* .nav-item{
  padding: 0 4px;
}

.nav-link{
font-family: 'Great Vibes', cursive;
  font-size: 2rem;
  font-weight:0;
  letter-spacing: 4;
  margin-left: 10px;
} */
.download-button {
  margin: 5% 3% 5% 0;
}

#title {
  background-color: #ff4c68;
  color: white;
  min-height: 260px;
}

.title-image-laptop {
  padding-top: 0;
  width: 80%;
  /* width: 80%; */
  transform: rotate(25deg);
  /* transform: rotate(0deg); */
  position: absolute;
  right: 15%;
}

.title-image-mobile {
  display: none;
  width: 40%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* .portfolio-card-text{
  color:#888;
  font-size:normal;
  font-weight:lighter;
  text-align:left;
}

.portfolio-card-text-heading{
  font-weight: bold;
} */
#banner-carousel {
  padding-top: 0;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image-laptop {
    display: none;
    /* width: 70%;
    transform: rotate(0deg);
    position: static; */
  }

  .title-image-mobile {
    display: block;
    width: 100%;
    transform: rotate(0deg);
    position: static;
    /* right: 30%; */
  }

  #banner-carousel {
    padding-top: 0;
  }
}

/* Features Section - Start */
#features {
  padding: 5% 10% 5%;
  background-color: #fff;
  position: relative;
  text-align: center;
}

#features p {
  color: #8f8f8f;
  font-size: 0.7rem;
  font-weight: 600;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.feature-icons {
  color: #ff4c68;
  margin-bottom: 0.6rem;
}

.feature-icons:hover {
  color: #ff8585;
}

/* Features - End */
/* Designs - Start */
#designs .item {
  border: 1px solid #fff5c0;
  transition: all 1s ease-in-out;
}

.post-slide {
  margin: 0 10px;
}

.post-slide-banner {
  background-size: cover;
  background-position: center;
  height: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.post-slide .post-info {
  padding: 5px 0;
  margin: 0;
  list-style: none;
}

.post-slide .post-info li {
  display: inline-block;
  margin: 0 5px;
}

.post-slide .post-info i {
  margin-right: 0;
}

.post-slide .post-info a {
  font-size: 0.6rem;
  font-weight: bold;
  color: #fff5c0;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

.post-slide .post-info li a:hover {
  text-decoration: none;
  color: #1dcfd1;
}

.post-slide .post-img {
  position: relative;
}

.post-slide .post-img:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  /* background: rgba(0,0,0,0.6); */
  /* transition: opacity 0.90s linear 0s; */
}

.post-slide:hover .post-img:before {
  opacity: 1;
}

.post-slide-banner:hover .post-img:before {
  opacity: 1;
}

.post-slide .post-img img {
  width: 100%;
  height: auto;
}

.post-slide-banner .post-img img {
  width: 100%;
  height: auto;
}

.post-slide .read {
  position: absolute;
  bottom: 30px;
  left: 50px;
  font-size: 14px;
  color: white;
  text-transform: capitalize;
  opacity: 0;
  transition: all 0.40s linear 0s;
}

.post-slide:hover .read {
  opacity: 1;
}

.post-slide .read:hover {
  text-decoration: none;
  color: deepskyblue;
}

.post-slide .post-content {
  padding: 10px 0 0 0;
  position: relative;
}

.post-slide .post-author {
  /* width: 75px;
  height: 75px; */
  width: 52px;
  height: 52px;
  border-radius: 50%;
  position: absolute;
  top: -26px;
  right: 8px;
  overflow: hidden;
  border: 4px solid white;
}

.post-slide .post-author img {
  width: 100%;
  height: auto;
}

.post-slide .post-title {
  font-size: 0.7rem;
  font-weight: bold;
  color: #fff;
  /* margin: 0 0 10px 0; */
  margin-top:-5px;
  text-transform: uppercase;
  transition: all 0.30s linear 0s;
}

.post-slide .post-title:after {
  content: "";
  width: 25px;
  display: block;
  margin-top: 10px;
  border-bottom: 4px solid #fff5c0;
  /* border-bottom: 4px solid #444; */
}

.post-slide .description {
  /* color: white; */
  color: #ccc;
  font-size: 0.7rem;
  font-weight: 500;
}

.post-slide .post-content .viewbtn {
  /* display: block; */
  opacity: 0;
  /* transition: all 3s ease-in-out; */
}

.item:hover .viewbtn {
  /* display: block; */
  opacity: 1;
  transition: all 0.6s ease-in-out;
  /* transition: all 0.1s ease-in-out; */
}

/* Designs End */
/* Pricing section */
#pricing {
  padding: 5% 5%;
  text-align: center;
}

#pricing p {
  color: #8f8f8f;
  font-size: 0.7rem;
  font-weight: 600;
}

.pricing-column {
  padding: 2% 2%;
}

.pricing-column .btn {
  background-color: #ff4c68;
  color: #fff;
}

.card {
  /* border-color: #fff5c0; */
  /* border: 2px solid #fff5c0; */
  border: 1px solid #aaa;
}

.card-header {
  /* background-color: #fff5c0; */
  background-color: #444;
  color: #fff5c0;
  /* - Red: #ff4646
  - Light Red: #ff8585
  - Light Orange: #ffb396
  - Yellow: #fff5c0; */
}

.card-body {
  text-align: left;
}

/* footer section */

/* #map {
  width: 100%;
  height: 550px;
}  */

#footer {
  padding: 5% 10%;
  text-align: center;
}

.footer-block {
  padding: 30px 0;
}

.footer-link-line-height {
  line-height: 1.4;
}

.social-icons {
  margin: 20px 10px;
  color:#ff4c68;
}

.Copyright {
  padding: 1% 0;
  background-color: #333;
  color: #fff5c0;
  text-align: center;
  font-size: 0.7rem;
}

.webpicker-footer-text {
  font-family: 'Great Vibes', cursive;
  font-size: 0.9rem;
  padding-left: 6px;
}

/* Carousel - Start */
.owl-dots .owl-dot span {
  background-color: #aaa !important;
  width: 12px;
  height: 12px;
  margin: 8px;
}

.owl-dots .active span {
  background-color: #fff5c0 !important;
}

#clients-list .owl-dots .owl-dot span:hover {
  background-color: #ff0000 !important;
}

/* Carousel - End */

/* Designs page style - Start */
.designs-padding{
  padding: 18px;
}
/* Designs page style - End */

/* Site page style - Start */
.site-category-link-p{
  font-size: 1.2rem;
  /* font-weight: bold; */
  margin-top: 14px;
  color:#ff4c68;
  font-family: 'Great Vibes', cursive;
}

.site-category-link{
  color:#ff4c68;
}

.site-category-link:hover{
  color:#ff4c68;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.3rem;
  transition: all 0.4s ease-in-out;
}

.sticky .site-category-link{
  color:#fff5c0;
}

.logo-site {
  float: left;
  margin-top: 3px;
  width: 60px;
  height: auto;
}

.logo-opposite-site {
  display: none;
  float: left;
  margin-top: 3px;
  width: 60px;
  height: auto;
}

.sticky .logo-site {
  display: none;
  float: left;
  margin-top: 3px;
  width: 60px;
  height: auto;
}

.sticky .logo-opposite-site {
  display: block;
  float: left;
  margin-top: 3px;
  width: 60px;
  height: auto;
}

@media (max-width: 766px) {
  .logo-site {
    float: left;
    margin-top: -22px;
    width: 60px;
    height: auto;
    margin-left: -35px;
  }

  .sticky .logo-site {
    display: none;
    float: left;
    margin-top: -22px;
    width: 60px;
    height: auto;
    margin-left: -35px;
  }

  .logo-opposite-site {
    display: none;
    float: left;
    margin-top: -22px;
    width: 60px;
    height: auto;
    margin-left: -35px;
  }

  .sticky .logo-opposite-site {
    float: left;
    margin-top: -22px;
    width: 60px;
    height: auto;
    margin-left: -35px;
  }

  .site-category-link-p{
    font-size: 1.1rem;
    margin-top: -10px;
    font-family: 'Great Vibes', cursive;
  }
}

.site-heading-after {
  content: "";
  width: 30px;
  display: block;
  /* margin-top: 10px; */
  border-bottom: 4px solid #ff4c68;
  /* border-bottom: 4px solid #444; */
  margin-left: 47%;
}




/* Site page style - End */
