

/* Color Palette - Details

Palette#: 226650 from Colorhunt

Colors:
- Red: #ff4646
- Light Red: #ff8585
- Light Orange: #ffb396
- Yellow: #fff5c0;

*/



/**** tag selectors *****/

body{
  margin: 0;
  font-family: Montserrat;


}
h1{
  font-weight: 800;
  font-size: 2rem;
  line-height: 1.5;
}

h2{

  font-weight: 800;
  font-size: 2rem;
  line-height: 1.2;
}

h3{
  font-weight: bold;
  font-size: 1.4rem;
}

h4{
  font-weight:lighter;
  font-size: 1rem;
  line-height:0.5rem;
}

/**** id selectors *****/


/**** class selectors *****/
.mynavbar{
  background-color:#333;
  padding-top: 0;
  padding-left: 10%;
  padding-right: 10%;

}
.logo-img{
  width: 40%;
}

@media (max-width: 1028px) {
  .mynavbar{
    background-color:#333;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;

  }
  .logo-img{
    width: 30%;
    padding-left: 10px;
  }
}

.container-fluid
{
  padding: 3% 10%;
}

/* .navbar{
  padding:0 0 4.5rem;
}
 */



 .nav-item{
  padding: 0 4px;
}

.nav-link{
font-family: 'Great Vibes', cursive;
  font-size: 2rem;
  font-weight:0;
  letter-spacing: 4;
  margin-left: 10px;
}



.download-button{
  margin: 5% 3% 5% 0;
}

#title{
  background-color: #ff4646;
  color: white;
  min-height: 660px;
}

.title-image{
  width: 40%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

#banner-carousel{
  padding-top:80px;
}

@media (max-width: 1028px) {
  #title{
    text-align: center;
  }
  .title-image{
    width: 70%;
    transform: rotate(0deg);
    position: static;
    /* right: 30%; */

  }
  #banner-carousel{
    padding-top:0;
  }
}

/* Features Section */
#features{
  padding: 5% 10% 5%;
  background-color: #fff;
  position: relative;

}
.feature-box{
  text-align: center;
  padding: 5% ;
}
.feature-box p{
  color: #8f8f8f;
  font-weight: 600;
}

.feature-icons{
  color: #ff4646;
  margin-bottom: 1rem;
}

.feature-icons:hover{
  color: #ff8585;
}

/* Testimonials */
#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonials-image{
  width: 25%;
  border-radius: 100%;
  margin: 20px;
}

.testimonials-carousel-item{
  padding: 7% 15%;
}

#press{
  padding: 3% 15%;
  text-align: center;
  background-color: #ef8172;
}

.press-logo{
  width: 20%;
  margin: 20px 15px 50px;
}

/* Pricing section */
#pricing{
  padding: 5% 5%;
  text-align: center;
}

.pricing-column{
  padding: 2% 2%;
}

.pricing-column .btn{
  background-color:#ff4646;
  color:#fff;
}

.card{
  /* border-color: #fff5c0; */
  border: 2px solid #fff5c0;
}
.card-header{
  background-color: #fff5c0;
  color: #ff4646;
  /* - Red: #ff4646
  - Light Red: #ff8585
  - Light Orange: #ffb396
  - Yellow: #fff5c0; */

}

/* footer section */
#cta{
  background-color: #ff4c68;
  color: white;
  text-align: center;
  padding: 7% 15%;
}

.cta-heading{
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.4;
}

#footer{
  padding: 5% 10%;
  text-align: center;
}

.footer-block{
  padding: 30px 0;
}

.social-icons{
  margin: 20px 10px;
}

.Copyright{
  padding: 1% 0;
  background-color: #333;
  color: white;
  text-align: center;
}
