.property-filter {
    margin: 30px auto;
}

.property-filter nav {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
}

.property-filter p {
    font-size: 0.9em;
    margin-right: 10px;
}

.property-filter button {
    background: transparent;
    border: 0;
    font-family: inherit;
    font-weight: bold;
    color: var(--text-color);
    cursor: pointer;
    border-right: 1px solid #e4e4e4;
    font-size: 0.9em;
}

.property-filter button:last-child {
    border: 0;
}

.property-filter button.active {
    color: var(--primary-color);
}

/* tenant propfile - start */

.tenant-profile-property-detail {
    position: relative;
    padding: 10px 15px;
    /* border-top: 1px solid var(--peach-color); */
    /* border-bottom: 1px solid var(--peach-color); */
}

.tenant-profile-property-detail::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 0.5px;
    width: calc(100% - 30px);
    background: var(--peach-color);
}

.tenant-profile-property-detail-inner-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tenant-profile-property-detail-inner-div div:nth-child(2) {
    text-align: right;
}

.tenant-profile-property-detail-inner-div h1 {
    font-size: 0.7rem;
    color: var(--lightgrey-color);
    margin: 0;
}

.tenant-profile-property-detail-inner-div h2 {
    font-size: 1rem;
    color: var(--darkgrey-color);
    margin: 0;
}

.secondary-details-display {
    display: flex;
    width: 100%;
}

.secondary-details-display .secondary-details-inside-display {
    width: 100%;
    border-right: 1px solid var(--lightgrey-color);
    border-left: 1px solid var(--lightgrey-color);
}

.secondary-details-hr {
    display: none;
}

@media (max-width: 900px) {
    .secondary-details-display {
        flex-direction: column;
    }

    .secondary-details-display .secondary-details-inside-display {
        border: none;
    }

    .secondary-details-hr {
        display: block;
    }
}

.property-contact-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    flex-direction: column;
    height: 100%;
    /* width: 350px; */
}

/* @media (max-width: 850px) {
  .property-contact-div {
    width: 100%;
  }
} */

.property-contact-div div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.property-contact-div div span {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    color: var(--red-color);
    font-size: 1.2rem;
    background: #fff;
}

.property-contact-div div h1 {
    font-size: 0.7rem;
    margin: 0;
    padding-top: 5px;
    color: var(--darkgrey-color);
}

.property-contact-div div img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

@media (max-width: 850px) {
    .property-media-icons-horizontal {
        flex-direction: row;
    }
}

/* tenant propfile - end */

/* tenant dashboard - start */

.rent-tenant-card {
    position: relative;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 20px 10px 18px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rent-tenant-card h6 {
    font-size: 0.8rem;
    font-weight: bold;
    color: #888;
}

.rent-tenant-card h1 {
    color: #444;
    font-size: 2rem;
    margin: 0;
}

.rent-tenant-card div:nth-child(2) {
    text-align: right;
}

.rent-tenant-card h2 {
    font-size: 0.7rem;
    color: var(--lightgrey-color);
    font-weight: normal;
    margin: 0;
}

.rent-tenant-card h3 {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 0.6rem;
    color: var(--red-color);
    margin: 0;
}

.rent-tenant-card button {
    height: 20px;
    font-size: 0.6rem;
    width: 80px;
    margin: 10px 0 0 0;
}

.rent-tenant-card img {
    width: 80px;
    margin-bottom: 15px;
}

.rent-tenant-card h5 {
    font-size: 0.8rem;
    color: #444;
    font-weight: bold;
}

.rent-tenant-card h4 {
    font-size: 0.7rem;
    color: var(--red-color);
    margin: 0;
}

.tenant-rent-history {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 20px 10px;
}

.tenant-dashboard-ticket-card {
    background: #fff;
    padding: 10px 40px;
    border-radius: 10px;
    height: 155px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    position: relative;
}

.ticket-round-right,
.ticket-round-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #efefef;
    width: 40px;
    height: 80px;
}

.ticket-round-left {
    left: -10px;
    border-radius: 0 100px 100px 0;
    overflow: hidden;
    background: #efefef;
}

.ticket-round-right {
    right: -10px;
    border-radius: 100px 0 0 100px;
}

.tenant-dashboard-ticket-card .tenant-dashboard-ticket-card-heading {
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 0;
    text-align: center;
}

.tenant-dashboard-ticket-card hr {
    margin: 5px 0 0 0;
}

.tenant-dashboard-ticket-card .tenant-dashboard-ticket-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100% - 25px);
}

.tenant-dashboard-ticket-card .tenant-dashboard-ticket-card-content div:nth-child(2) {
    text-align: right;
}

.tenant-dashboard-ticket-card div h1,
.tenant-dashboard-ticket-card div h3 {
    font-size: 0.7rem;
    color: var(--lightgrey-color);
    font-weight: bold;
    margin: 0;
}

.tenant-dashboard-ticket-card div h2 {
    color: #444;
    font-size: 1.3rem;
    margin: 0;
}

.tenant-dashboard-ticket-card div h4 {
    font-size: 0.9rem;
    color: var(--darkgrey-color);
    margin: 0;
}

.tenant-dashboard-ticket-card div button {
    height: 20px;
    font-size: 0.6rem;
    width: 100px;
    margin: 10px 0 0 0;
}

.dashboard-tenant-past-month-button {
    height: 20px;
    font-size: 0.6rem;
    width: 80px;
    margin: 10px 0 6px 0;
}

.event-id {
    position: absolute;
    top: -10px;
    right: 15%;
    width: 95px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.event-id.residential {
    background: var(--blue-color);
}

.event-id.commercial {
    background: var(--red-color);
}

.event-id::before {
    content: '';
    position: absolute;
    top: 5px;
    left: -12px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 8px solid #ab3a1d;
    transform: rotate(-220deg);
    z-index: -1;
}

.event-id.residential::before {
    border-bottom: 8px solid #375e0f;
}

.event-id.commercial::before {
    border-bottom: 8px solid #832c2c;
}

.event-id h5 {
    position: relative;
    top: 1px;
    color: #fff;
    font-size: 0.7rem;
    margin: 0;
    text-transform: uppercase;
}

/* tenant dashboard - end */