.partners-div {
    position: relative;
}

.partners-div::before {
    content: '';
    position: absolute;
    left: 0;
    top: -10px;
    width: 80%;
    height: 170px;
    background: #fff;
    border-radius: 0 10px 10px 0;
}

@media (max-width: 500px) {
    .partners-div::before {
        height: 120px;
    }
}

.owl-item .partners-item img {
    opacity: 0.5;
    transition: 3s;
    transform: scale(0.6);
    filter: saturate(0.5);
}

.owl-item.center .partners-item img {
    opacity: 1;
    transform: scale(1);
    transition: 3s;
    border-radius: 6px;
    filter: saturate(1);
}

.owl-item.active.center .partners-item img {
    opacity: 1;
    transform: scale(1);
    transition: 3s;
    border-radius: 6px;
    filter: saturate(1);
}