@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.formabove,
.formabovepro{
  width:100%;
  overflow: hidden;
}
 .form,
 .formpro{
  display: flex;
  align-items: center;
}

.form{
  width: 200%;
}

.formpro{
  width: 500%;
}


.formslide,
.formslidepro{
  width: 100%;
  padding: 0 20px;
  transition: 1s;
  /* border-radius: 10px; */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}

@media (max-width:850px) {
  .formslide,
  .formslidepro{
    padding: 5px;
  }
}

.form .txt_field,
.formpro .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field label.labelsize{
  font-size: 1rem;
}
.txt_field input:focus ~ label.labelsize,
.txt_field input:valid ~ label.labelsize{
  font-size: 16px;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}
.logdiv{
  margin: 6% 10% 0 10%;
  padding: 5% 5%;
}

@media (max-width:850px) {
  .logdiv{
    margin: 6% 10% 0 10%;
    padding: 0;
  }
}

.logdivpro{
  margin: auto 10%;
  padding: 5% 5%;
}
@media (max-width:850px) {
  .logdivpro{
    margin: 6% 10% 0 10%;
    padding: 0;
  }
}
.alertspan{
  font-size: 1rem;
  color: #ff5757;
  position: relative;
  padding-left: 15px;
  display: none;
}
.alertspan::before{
  content: '';
  position: absolute;
  top: calc(50% - 5px);
  transform: translateX(-15px);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ff5757;
  animation: blink 1s infinite;
}
@keyframes blink {
  0%,100%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.bigdivpro{
  background: linear-gradient(to right,#161d65, #348DCB);
  padding: 3% 0;
}
.whitedivpro{
  /* box-shadow: 0 0 25px 0 rgba(225,225,225,0.5); */
  /* background-color: #ccc; */
}
.genderRadio{
  position: relative;
}
.genderRadio input{
  position: absolute;
  width: 0;
  height: 0;
  border: none;
  outline: none;
  background: none;
}
.genderRadio label{
  padding: 5px 10px 5px 40px;
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
  background: #ccc;
  color: #fff;
}

.genderRadio input ~ label span.check{
  display: none;
}

.genderRadio input ~ label span.close{
  display: block;
}

.genderRadio input:checked ~ label span.check{
  display: block;
}

.genderRadio input:checked ~ label span.close{
  display: none;
}

.genderRadio input:checked ~ label{
  background: green;
}

.genderRadio input#male:checked ~ label{
  /* background: #07dff2; */
  background: green;
  color: #fff;
}
.genderRadio input#female:checked ~ label{
  background: #eb65ba;
  color: #fff;
}

.genderRadio label span{
  position: absolute;
  left: 10px;
  color: #fff;
}
.genderRadio input:checked ~ label span{
  color: #fff;
}

.stepcircleparent{
  display:flex;
  /* align-items: center; */
  justify-content: space-between;

}
.stepcircle{
  display:flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height:20px;
  width:20px;
  border-radius: 50%;
  background-color: #aaa;
  position: relative;
}

.stepcircle.active{
  background: green;
}

.stepcircle span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: #fff;
  display: none;
}

.stepcircle.active span{
  display: block;
}

.stepcircle small{
  position: absolute;
  text-align: center;
  width: 6px;
  left: calc(50% - 3px);
  color: #fff;
}

.stepcircle.active small{
  display: none;
}

.stepcircle::before{
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  width: 100px;
  height: 2px;
  left: -115px;
  background: #aaa;
}

@media (max-width: 850px) {
  .stepcircle::before{
    width: 70px;
    left: -80px;
  }
}

.stepcircle:nth-child(1)::before{
  display: none;
}

.stepcircle.active::before{
  background: green;
}

.stepline{
  height:15px;
  width:60px;
  border-radius: 6px;
  background-color: red;
}

.city-selector{
  background: rgba(0,0,0,0.1);
  outline: none;
  border: #ddd;
  padding: 5px 10px 5px 10px;
  width: 100%;
  margin: 10px auto;
  border-radius: 4px;
  color: #444;
  -webkit-appearance: none;
  z-index: 10;
}

.city-selector.multi-select option{
  padding: 5px 0;
  font-size: 1rem;
}

/* .city-selector::-ms-expand {
  display: none;
} */

.city-selector-icon{
  position: relative;
  top: -40px;
  float: right;
  /* right: 35px; */
  pointer-events:none;
}
