@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* variables */
:root {

  --heading-color: #3F5E98;
  --text-color: #444;
  --white-color: #fff;
  --black-color: #000;
  --darkgrey-color: #666;
  --lightgrey-color: #aaa;
  --red-color: #E4021B;
  --blue-color: #3F5E98;
  /* --yellow-color: #FFDB15; */
  --yellow-color: #FEEBA0;
  --cream-color: #F4F2EB;
  /* --bg-color: #fff; */
  --bg-color: #F4F2EB;

}

/* base styles */
body {
  font-family: 'Comfortaa', cursive;
  margin: 0;
  font-size: 0.9rem;
  background: var(--bg-color);
}

ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

/* layout */
.page-title {
  /* font-size: 1em;
  color: var(--heading-color);
  display: inline-block; */
  font-size: 1.4rem;
  font-weight: bolder;
  color: var(--blue-color);
  padding: 4px 0px;
  z-index: 10;
  display: flex;
  align-items: center;
}

.page-title h1 {
  font-size: 1.6rem;
  font-weight: bolder;
  padding-left: 8px;
}

.auth-form {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid;
  border-color: var(--yellow-color);
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  background: #fff;
}

.btn {
  background: var(--white-color);
  padding: 8px 18px;
  border-radius: 4px;
  color: var(--red-color);
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bolder;
  border: 2px solid;
  border-color: var(--red-color);
}

.btn.cancel {
  border-color: var(--yellow-color);
  color: var(--black-color);
}

.btn:hover {
  color: var(--bg-color);
  background-color: var(--red-color);
}

.btn.cancel:hover {
  background: var(--yellow-color);
  color: var(--blue-color);
}

.mybutton {
  background: var(--cream-color);
  outline: none;
  border: none;
  color: var(--white-color);
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  /* border-radius: 8px; */
}

.button5 {
  background: linear-gradient(to right, #DC948B, #E4947C);
  /* background: #85cb0b; */
  background: var(--red-color);
  color: var(--cream-color);
  text-decoration: none;
  border-radius: 40px;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-transform: uppercase;
  margin: 10px 0;
  transition: 0.5s;
}

.button5:hover {
  text-decoration: none;
  color: var(--cream-color);
}

/* forms */
label {
  display: block;
  margin: 24px auto;
}

label span {
  display: block;
  margin-bottom: 6px;
}

input,
textarea {
  margin: 4px 0 25px 0px;
  padding: 5px 6px 5px 30px;
  font-size: 0.9em;
  font-style: normal;
  font-weight: lighter;
  color: var(--darkgrey-color);
  width: 100%;
  box-sizing: border-box;
  border: none;
  /* border-color: none; */
  border-bottom: 1px solid var(--yellow-color);
  border-radius: 0px;
  outline: none;

}

textarea {
  min-height: 100px;
}

.select {
  width: 100%;
  z-index: 10;
}

.menu {
  /* .css-t3ipsp-control .css-inmdiq5-menu { */
  background: red;
  z-index: 999;
}


.error {
  color: var(--red-color);
  background: pink;
  border: 1px solid var(--red-color);
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
}


.large {
  width: 100%;
  border-radius: 0 0 0 0;
}

.small {
  width: 0px;
  display: none;
  border-radius: 0 0 0 0;
}

@media (max-width: 992px) {
  .large {
    width: 0%;
    display: none;
    border-radius: 0 0 0 0;
  }

  .small {
    width: 100%;
    display: block;
    border-radius: 0 0 0 0;
  }
}

/* Form Field Title */
.form-field-title {
  position: relative;
  color: var(--blue-color);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-field-title span {
  position: absolute;
  left: 0;
  top: 45%;
  transform: translateY(-50%);
  font-size: 1.4rem;
  font-weight: normal;
  color: var(--lightgrey-color);
  ;
}

.form-field-title h1 {
  font-size: 0.9rem;
  font-weight: bolder;
  padding-left: 4px;
  margin-top: -4px;
}

.sign-up-or-div {
  position: relative;
  text-align: center;
}

.sign-up-or-div h1 {
  font-size: 0.9rem;
  color: var(--lightgrey-color);
}

.sign-up-or-div h1::before,
.sign-up-or-div h1::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-200%);
  width: 40%;
  background: var(--lightgrey-color);
  height: 0.5px;
}

.sign-up-or-div h1::before {
  left: 0;
}

.sign-up-or-div h1::after {
  right: 0;
}

.sign-in-with-more-methods-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--cream-color);
  height: 40px;
  padding: 0 10px;
  border-radius: 40px;
  border: 1px solid var(--yellow-color);
  cursor: pointer;
}

.sign-in-with-more-methods-div img {
  width: 20px;
}

.sign-in-with-more-methods-div span {
  padding-left: 10px;
  font-size: 0.9rem;
  color: var(--darkgrey-color);
}

/* popup  */
.pop-up-div {
  opacity: 0;
  pointer-events: none;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: 1s;
}

.pop-up-div.open {
  opacity: 1;
  pointer-events: all;
}

.pop-up-div div {
  position: relative;
  background: var(--bg-color);
  padding: 20px 10px;
  border-radius: 10px;
  max-width: 500px;
  /* width: 100%; */
  text-align: center;
}

.pop-up-div div p {
  font-size: 1.1rem;
  color: var(--blue-color);
}

.pop-up-div div p strong {
  color: var(--blue-color);
}