/* Color Palette - Details

Palette#: 226650 from Colorhunt

Reference Colors:
- Red: #161d65 - main header & footer color
- Light Red: #ff8585 - support colors
- Light Orange: #ffb396 - support colors
- Yellow: #fff5c0- support colors

*/

/********** tag selectors ************/

*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}

body{
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Baloo 2', cursive;
  color: #333C5D;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

hr{
  border: none;
  border: 1px solid #ddd;
}

h1{
  font-size: 3rem;
  font-weight: bold;
}

h2{
  font-size: 2.5rem;
  font-weight: bold;
}
h3{
  font-size: 2rem;
  font-weight: bold;
}
h4{
  font-size: 1.5rem;
  font-weight:normal;
}
h5{
  font-size: 1.2rem;
  font-weight:normal;
}
h6{
  font-size: 0.8rem;
  font-weight:normal;
}


/********** class selectors ************/
.container-fluid{
  width: 100%;
}

/* navbar start */
.navbar{
  background-color: #fff; /*color changed*/
  padding: 0 20px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.navbar-brand{
  color: white;
}

.navbar-brand:hover{
  color: #aaa;
}

.navbar-text{
  color:white;
  padding-left: 12px;
}

.nav-item{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin: 0 10px;
  border-radius: 55px 0;
  transition: 0.5s;
}

.nav-link{
  position: relative;
  top: 2px;
  color:#161d65;
  font-size: 0.9rem;
  text-align: center;
  font-weight: 900;
}

.nav-link small{
  position: relative;
  top: -7px;
  font-size: 0.95rem;
  padding-left: 5px;
}

.nav-item.active{
  position: relative;
  background: rgba(52, 141, 203,0.2);
  /* background: #348DCB; */
  /* transform: translateY(-7px); */
  border-radius: 8px;
}

.nav-item.active b{
  position: absolute;
  top: 0;
  height: 20px;
  width: 20px;
  background: rgba(52, 141, 203,0);
}

.nav-item.active b:nth-child(1){
  left: -20px;
}

.nav-item.active b:nth-child(2){
  right: -20px;
}

.nav-item.active b::before{
  content: '';
  position: absolute;
  background: #fff;
  width: 100%;
  height: 110%;
}

.nav-item.active b:nth-child(1)::before{
  border-radius: 0 20px 0 0;
}

.nav-item.active b:nth-child(2)::before{
  border-radius: 20px 0 0 0;
}

.navbar-toggler{
  border: 1px solid #ffff00;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.sticky .nav-item.active{
  background: #348DCB;
  transform: translateY(-7px);
  border-radius: 0 0 8px 8px;
}

.sticky .nav-item.active b{
  position: absolute;
  top: 0;
  height: 20px;
  width: 20px;
  background: #348DCB;
}

.sticky .nav-item.active b:nth-child(1){
  left: -20px;
}

.sticky .nav-item.active b:nth-child(2){
  right: -20px;
}

.sticky .nav-item.active b::before{
  content: '';
  position: absolute;
  background: #fff;
  width: 100%;
  height: 110%;
}

.sticky .nav-item.active b:nth-child(1)::before{
  border-radius: 0 20px 0 0;
}

.sticky .nav-item.active b:nth-child(2)::before{
  border-radius: 20px 0 0 0;
}

.sticky .nav-item.active .nav-link{
  color: #fff;
}

/* navbar end */

.large{
  width: 100% ;
  border-radius: 0 0 0 0 ;
}
.small{
  width: 0px ;
  display: none;
  border-radius: 0 0 0 0 ;
}

@media (max-width: 1080px) {
  .large{
    width: 0% ;
    display: none;
    border-radius: 0 0 0 0 ;
  }
  .small{
    width: 100% ;
    display: block;
    border-radius: 0 0 0 0 ;
  }
}

.mybutton {
  background: #221B1B;
  /* Green */
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  /* border-radius: 8px; */
}

.button5 {
  background: linear-gradient(to right, #348DCB,#161d65);
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 20px;
}

.button5:hover {}

.buttonTransparent{
  border: 1px solid #fff;
  background: none;
  border-radius: 20px;
  padding: 0 10px;
  font-size: 0.8rem;
  font-weight: 500;
}

.buttonTransparent:hover{
  background: #fff;
  color: #161d65;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


/* Designs - Start */

.post-slide {
  background: #fff;
  border-radius: 10px;
  /* border: 1px solid #fff; */
}

.post-slide-banner {
  background-size: cover;
  background-position: center;
  height: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.post-slide .post-info {
  padding: 5px 0;
  margin: 0;
  list-style: none;
}

.post-slide .post-info li {
  display: inline-block;
  margin: 0 5px;
}

.post-slide .post-info i {
  margin-right: 0;
}

.post-slide .entries{
  position: absolute;
  right: 0;
  background: #161d65;
  border-radius: 0 10px 0 0;
  padding: 3px 10px;
  color: #fff;
  animation: blink 2s linear infinite;
  z-index: 10;
}

@keyframes blink {
  0%,60%{
    opacity: 1;
  } 30%{
    opacity: 0;
  }
}

.post-slide .post-img {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #161d65;
  border-radius: 10px 10px 0 0;
  transition: 0.5s;
}

.post-slide .post-img img {
  width: 100%;
  height: 250px;
  transition: 0.5s;
}

.post-slide:hover .post-img img{
  transform: scale(1.2);
}

.post-slide .post-content {
  padding: 10px;
  position: relative;
  background: linear-gradient(to right, #161d65, #348DCB);
  border-radius: 0 0 10px 10px;
}

.post-slide .post-title {
  font-size: 0.8rem;
  font-weight: normal;
  color: #333C5D;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  transition: all 0.30s linear 0s;
  color: #fff;
}

.post-slide .post-title:after {
  content: "";
  width: 25px;
  display: block;
  margin-top: 10px;
  border-bottom: 4px solid #348DCB;
  /* border-bottom: 4px solid #444; */
}

.post-slide .description {
  /* color: white; */
  color: #fff;
  font-size: 0.8rem;
  font-weight: 500;
}

.post-slide .description div{
  display: flex;
  align-items: center;
  padding: 1px 0;
}

.post-slide .description div small{
  line-height: 1.6;
  letter-spacing:1px;
  position: relative;
  top: 1px;
  font-size: 0.8rem;
}

.post-slide .description div span{
  font-size: 1.1rem;
  padding-right: 5px;
}

.post-slide .register{
  position: absolute;
  top: 0;
  left: 0;
  height: 250px;
  width: 100%;
  background: rgba(255,255,255,0.6);
  z-index: 10;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  opacity: 0;
  position: none;
}

.post-slide:hover .register{
  opacity: 1;
  position: all;
}

.loading{
  width: 40%;
  height: 40%;
}

@media (max-width: 850px) {
  .loading{
    width: 70%;
    height: 70%;
  }
}

#event-new{
  background: #348DCB;
}

.event-card{
  text-decoration: none;
  position: relative;
}

.event-card .event-card-img{
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  padding: 0 30px;
  /* height: 300px; */
  z-index: 10;
}

.event-card .event-card-img img{
  width: 100%;
  border-radius: 15px;
  /* height: auto; */
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.1);
}

.event-card .event-card-content{
  position: relative;
  top: 50px;
  background: #fff;
  border-radius: 15px;
  padding: 0px 20px 15px 20px;
  height: 410px;
  text-align: center;
  z-index: 5;
}

@media (max-width: 850px) {
  .event-card .event-card-img img{
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1);
  }

  .event-card .event-card-content{
    height: 350px;
  }

}

.event-card .event-card-content .event-name{
  font-size: 1.05rem;
  color: #222;
  margin: 5px 0;
}

.event-card .event-card-content .event-organiser{
  font-size: 0.9rem;
  font-weight: normal;
  color: #888;
}

.event-card-content .rating{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.event-card-content .rating small{
  font-size: 0.7rem;
  color: #aaa;
  font-weight: normal;
  position: relative;
  top: 3px;
  padding-left: 5px;
}

.event-card-content .rating div span{
  color: #fbba9c;
  font-size: 0.8rem;
  width: 13px;
}

.event-card-content .rating div span.grade{
  opacity: 0.7;
}

.event-card .event-card-content .event-schedule-div{
  position: absolute;
  bottom: 6px;
  left: 20px;
  width: calc(100% - 45px);
}

.event-card .event-card-content .details{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
}

.event-card .event-card-content .details div{
  /* width: 100%; */
}

.event-card .event-card-content .details div h3{
  font-size: 0.9rem;
  color: #222;
  margin: 0;
}

.event-card .event-card-content .details div h4{
  font-size: 0.7rem;
  color: #aaa;
}

.event-card .event-card-content .event-btns{
  position: absolute;
  top: 10%;
  width: calc(100% - 20px);
  pointer-events: none;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.2s;
}

.event-card:hover .event-card-content .event-btns{
  pointer-events: all;
  opacity: 1;
}

.event-card-button{
  padding: 0;
  height: 35px;
  width: 100%;
  border-radius: 6px;
  font-size: 0.8rem;
  /* font-weight: bold; */
  text-transform: uppercase;
}

.event-card-button.entries{
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-card-button.entries img{
  width: 30px;
  height: 25px;
  filter: invert(0.5);
  padding-right: 5px;
}

.sports-large-div{
  opacity: 1;
  overflow: hidden;
  height: 100%;
  pointer-events: all;
}

.sports-small-div{
  opacity: 0;
  height: 0px;
  overflow: hidden;
  pointer-events: none;
}

@media (max-width: 600px) {
  .sports-large-div{
    opacity: 0;
    height: 0px;
    overflow: hidden;
    pointer-events: all;
  }

  .sports-small-div{
    opacity: 1;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
  }
}

.genre-card{
  padding: 0 10px;
  text-align: center;
}

.genre-card .img-div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 20px;
}

.genre-card:hover .img-div{
  border: 1px solid #348DCB;
}

.genre-card .img-div img{
  width: 60%;
}

@media (max-width: 1000px) {
  .genre-card .img-div img{
    width: 100%;
  }
}

.genre-card h2{
  padding-top: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0;
}

.genre-card h3{
  font-size: 0.9rem;
  margin-top: 0;
  color: #aaa;
  font-weight: 500;
}

.genre-locoation-card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  color: #161d65;
}

.genre-locoation-card:hover,
.genre-locoation-card.active{
  border: 1px solid #348DCB;
}

.genre-locoation-card.active{
  background: rgba(52,141,203,0.1);
}

@media (max-width: 850px) {
  .genre-locoation-card{
    border: none;
    padding: 0px;
  }

  .genre-locoation-card:hover,
  .genre-locoation-card.active{
    border: none;
  }

  .genre-locoation-card.active{
    background: none;
  }
}

.genre-locoation-card div img{
  width: 40px;
  height: 40px;
  /* filter: invert(0.5); */
}

.genre-locoation-card.active div img{
  /* filter: brightness(0); */
  width: 40px;
}

.genre-locoation-card h2{
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.genre-locoation-card.active h2{
  color: #000;
}

.genre-locoation-card h3{
  font-size: 0.8rem;
  color: #aaa;
  font-weight: 500;
  margin: 0;
}

.genre-locoation-card.active h3{
  color: #888;
}

.background-img-div{
  background: rgba(0,0,0,0.5) url('https://firebasestorage.googleapis.com/v0/b/tpliveapp.appspot.com/o/img%2Fbackground-banner.webp?alt=media&token=77b7ed4f-6fe7-43dc-86f7-3237acd50fe5');
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.games-section{
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.owl-item .partners-item img {
  opacity: 0.5;
  transition: 3s;
  transform: scale(0.8);
  filter: saturate(0);
}

.owl-item.center .partners-item img {
  opacity: 1;
  transform: scale(1.4);
  transition: 3s;
  border-radius: 6px;
  filter: saturate(1);
}

.owl-item.active.center .partners-item img {
  opacity: 1;
  transform: scale(1.4);
  transition: 3s;
  border-radius: 6px;
  filter: saturate(1);
}

.text-para{
  text-align: justify;
  font-size: 1.8rem;
}

/* Footer Section - Start */


.last-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border-top: 1px solid #348DCB;
  background: #efefef;
  height: 0px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 850px) {
  .last-div{
    height: 100%;
    opacity: 1;
    pointer-events: all;
  }
}

.last-div a{
  font-size: 1rem;
  color: #348DCB;
}

.last-div small{
  font-size: 1rem;
  color: #aaa;
  font-weight: 500;
}


#footer{
  background: linear-gradient(#161d65,#348DCB);
  border-top: 1px solid #161d65;
  /* box-shadow: 0 0 20px 0 rgba(0,0,0,0.2); */
  color: #fff;
}

#footer .hr{
  border: none;
  border-top: 1px solid #ddd;
  width: 50%;
}

.footer-large{
  display: block;
}

@media (max-width: 600px) {
  .footer-large{
    display: none;
  }

  .footer-logo{
    text-align: center;
  }
}

.footer-details{
  text-align: justify;
}

.footer-details h3{
  font-size: 1.1rem;
  color: #fff;
}

.footer-links{
  padding: 5px;
  text-align: center;
}

.footer-links div{
  display: inline-block;
  border-left: 2px solid #fff;
}

.footer-links a{
  font-size: 1rem;
  color: #fff;
  margin: 0 10px;
  transition: 0.5s;
}

.footer-links a:hover{
  text-decoration: underline;
}

.copy-right{
  position: relative;
  font-size:0.9rem;
  padding:0.5% 0;
  font-family: 'Baloo 2', cursive;
  color:#ddd;
  text-align: center;
}

.copy-right::before{
  content: '. . .';
  position: absolute;
  font-size: 2.5rem;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  color: #ddd;
}

.before-nav{
  position: relative;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #348DCB,#161d65);
  font-family: 'Baloo 2', cursive;
  padding: 0px 20px;
  height: 40px;
}

@media (max-width: 1080px) {
  .before-nav{
    display: none;
  }
}

.before-nav-content{
  text-align: right;
  display: flex;
  align-items: center;
}

.before-nav-content .before-nav-icons{
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: relative;
}

.before-nav-content .before-nav-icons a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 0 15px;
  padding: 2px 10px;
}

.before-nav-content .before-nav-icons a:hover{
  background: rgba(0,0,0,0.2);
  cursor: pointer;
}

.before-nav-content .before-nav-icons div{
  height: 30px;
  width: 30px;
  margin: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 50%;
}

.before-nav-content .before-nav-icons div h5{
  position: relative;
  top: 5px;
  font-size: 1.1rem;
}

.nav-location{
  display: flex;
  align-items: center;
  color: #fff;
  background: rgba(255,255,255,0.5);
  padding: 0 10px;
  height: 100%;
}

.nav-location:hover{
  color: #fff;
}

.nav-location span{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48
}

.nav-location small{
  padding-left: 5px;
  font-weight: 600;
}

.city-select-div{
  position: fixed;
  right: 1%;
  top: 7%;
  z-index: 9999;
  width: 200px;
  background: #348DCB;
  height: 90vh;
  /* overflow-y: auto; */
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  padding: 10px;
}

@media (max-width: 850px) {
  .city-select-div{
    top: 9%;
  }
}

.city-select-div::before{
  content: '';
  position: absolute;
  top: -10px;
  left: 70%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #348DCB;
}

.city-select-div .search{
  position: relative;
}

.city-select-div .search input{
  background: #fafafa;
  height: 40px;
  outline: none;
  border: none;
  width: 100%;
  padding: 0 30px 0 5px;
  letter-spacing: 0.5px;
  border-radius: 4px;
}

.city-select-div .search span{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  font-variation-settings:
  'wght' 100
}

.city-select-div .cities{
  padding-top: 20px;
}

.city-select-div .cities a{
  position: relative;
  left: 0;
  width: 100%;
  display: block;
  padding: 5px 10px;
  color: #ddd;
  font-weight: 500;
  transition: 0.5s;
}

.city-select-div .cities a:hover{
  color: #fff;
  position: relative;
  left: 5px;
}

.city-select-div .cities hr{
  border: none;
  border-bottom: 1px solid #161d65;
}

.icons{
  word-spacing: 20px;
  display: flex;
  align-items: center;
}
.icons a{
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.icons a:hover{
  color: #348DCB;
  background: #fff;
}

.icons.footer a{
  font-size: 1.3rem;
  margin: 0 20px;
  width: 50px;
  height: 50px;
}

.headbox{
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
  align-items: center;
  height:60px;
  overflow:hidden;
}

.headbox-div-1{
  background-color:#348DCB;
  display: flex;
  align-items: center;
  width:100%;
  height:100%;
  border-radius:60px 0 0 60px;
}

.secbox{
  font-family: 'Baloo 2', cursive;
  padding: 3%;
  border-radius: 10px;

}

.secbox ul li{
  list-style-type:none;
}
.secbox ul li i{
  color:#348DCB;
  font-size:1.1rem;
}
.textheadleft{
  padding-left :1%;
  color:#333C5D;
}
.firstbox{
  font-family: 'Baloo 2', cursive;
  padding: 3%;
  border-radius: 10px;
}
.firstbox ul li{
  list-style-type:none;
}

.textheadright{
  color:#889;
  padding-left:1%
}
.firstsbox{
  font-family: 'Baloo 2', cursive;

}
.thirdbox{
    font-family: 'Baloo 2', cursive;
    padding: 3%;
    border-radius: 10px;
}
.thirdbox ul li{
  list-style-type:none;
}

.footer-styles-phone{
  display:flex;
  flex-direction:row;
  /* text-align: center; */
  justify-content: space-around;
}
.footer-styles-phone li{
  text-decoration-style: none;
  text-align: center;
  list-style-type: none;
  font-weight: bold;
}

.footer-styles{
  display:flex;
  flex-direction:row;
  /* text-align: center; */
  justify-content: space-around;
}
.footer-styles li{
  text-decoration-style: none;
  list-style-type: none;
  font-weight: bold;
}
.footer-ic{
  position: relative;
  top: 10px;
}

.login-full-page{
  width: 100%;
}

.login-register-card{
  /* height: 90vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-register-card-fixed{
  padding: 3% 2%;
  width:100%;
  /* height: 300px; */
  display:flex;
  flex-direction:column;
  /* box-shadow: 0 0 20px 0 rgba(0,0,0,0.1); */
  overflow: hidden;
}

.login-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
  transition: transform 1s;
}

.login-form .login-form-feilds{
  height: 65px;
  padding: 0 14px;
}

.login-form .login-form-feilds input{
  width: 100%;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid #000;
  z-index: 999;
  letter-spacing: 1px;
  color: #555;
}

.login-form .login-form-feilds .underline{
  position: relative;
  bottom: 1px;
  height: 1px;
  width: 100%;
  background: #348DCB;
  transform: scaleX(0);
  transition: 0.5s;
}

.login-form .login-form-feilds h5{
  position: relative;
  top: -22px;
  font-size: 1rem;
  z-index: -1;
  transition: 0.5s;
}

.login-form .login-form-feilds input:focus ~ h5,
.login-form .login-form-feilds input:valid ~ h5{
  top: -40px;
  font-size: 0.9rem;
}

.login-form .login-form-feilds input:focus ~ .underline,
.login-form .login-form-feilds input:valid ~ .underline{
  transform: scaleX(1);
}

.form-btn span{
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  /* width: 200px; */
  display: inline-block;
  text-align: center;
}

#Indicator{
  /* width: 210px; */
  width: 50%;
  border: none;
  background: #348DCB;
  height: 3px;
  margin-top: 8px;
  transform: translateX(0px);
  transition: transform 1s;
}

.social-media{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social-media i{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: none;
}

.social-media i:nth-child(1){
  border: 1px solid #1873eb;
  color: #1873eb;
  transition: all 0.5s;
}
.social-media i:nth-child(1):hover{
  background: #1873eb;
  color: #fff;
}

.social-media i:nth-child(2){
  border: 1px solid #1c9cea;
  color: #1c9cea;
  transition: all 0.5s;
}
.social-media i:nth-child(2):hover{
  background: #1c9cea;
  color: #fff;
}

.social-media i:nth-child(3){
  border: 1px solid #d54836;
  color: #d54836;
  transition: all 0.5s;
}
.social-media i:nth-child(3):hover{
  background: #d54836;
  color: #fff;
}

.social-media i:nth-child(4){
  border: 1px solid #0a63bc;
  color: #0a63bc;
  transition: all 0.5s;
}
.social-media i:nth-child(4):hover{
  background: #0a63bc;
  color: #fff;
}

.social-media i:nth-child(5){
  border: 1px solid #0d8cf7;
  color: #0d8cf7;
  transition: all 0.5s;
}
.social-media i:nth-child(5):hover{
  background: #0d8cf7;
  color: #fff;
}
.card{
  border: 2px solid #161d65;
  color: #161d65;
}
.faqsec{
  color:#fff;
  background: linear-gradient(to right,#161d65, #348DCB);
  border-radius: 8px 8px 8px 8px;
}

.faqsec:hover{
  color:#fff;
}
.srchcl{
  color: #fff;
  border-color: #000;
  margin-left: 1%;
}
.srchcl:hover{
  background-color: #348DCB;
  border-color: #348DCB;
}

.btncl:hover{
  background-color: #348DCB;
  width:30px;
}


.in-cl{
  border-color: #348DCB;

}
.clients-card-img{
  /* border-radius: 50%; */
  width: 20%;
  padding: 2%;
  /* border: 1px solid #aaa; */
}

.clients-card-content{
  /* font-family: 'Baloo Tammudu 2'; */
  font-size: 0.9rem;

  font-family: 'Baloo 2', cursive;
}
@media (max-width: 850px) {
.item img{
  height: 200px;
  width: 300px;
  /* height: 200%; */
  /* display: none; */
}
}

.partners-div{
  position: relative;
}

.partners-div::before{
  content: '';
  position: absolute;
  left: 0;
  top: -10px;
  width: 80%;
  height: 170px;
  background: #fff;
  border-radius: 0 10px 10px 0;
}

@media (max-width: 500px) {
  .partners-div::before{
    height: 120px;
  }
}

.owl-item .partners-item img {
  opacity: 0.5;
  transition: 3s;
  transform: scale(0.6);
  filter: saturate(0.5);
}

.owl-item.center .partners-item img {
  opacity: 1;
  transform: scale(1);
  transition: 3s;
  border-radius: 6px;
  filter: saturate(1);
}

.owl-item.active.center .partners-item img {
  opacity: 1;
  transform: scale(1);
  transition: 3s;
  border-radius: 6px;
  filter: saturate(1);
}

.navbar-mobile{
  background: #fff;
  padding-top: 0px;
  /* background: linear-gradient(to right,#161d65, #348DCB); */
  height: 54px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  z-index: 100;
}

.navbar-mobile-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 3px 10px;
}

.navbar-mobile-menu .navbar-search-icon{
  font-size: 2.1rem;
  font-variation-settings:
  'wght' 250
}

.navbar-mobile-menu a{
  /* color: #fff;
  font-size: 1.3rem; */
  display: flex;
  /* background: red; */
  text-decoration: none;
}

.navbar-mobile-menu a span{
  color: #348DCB;
  /* color: #fff; */
 font-size: 1.3rem
 position: relative;
 top: 1px;

}
.navbar-mobile-menu a h6{
  position: relative;
  top: 3px;
  padding-left: 3px;
  padding-right: 3px;
  color: #fff;
  font-size: 0.9rem

}

.navbar-mobile-menu .hamburger-icon{
  position: absolute;
  top: 14px;
}

.navbar-mobile-menu .user-icon{
  font-size: 1rem;
  position: absolute;
  top: 11px;
  right: 7px;
  border: 1px solid #fff;
  line-height: 20px;
  text-align: center;
  width: 25px;
  height:25px;
  border-radius:50%;
}

.notification-dot{
  position: absolute;
  width: 12px;
  height: 12px;
  background: red;
  border-radius: 50%;
  right: 0;
  border: 2px solid #fff;
}

.side-navbar.mobile{
  height: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 85%;
  z-index: 999;
  background: #fff;
  box-shadow: 0 0 200px 0 rgba(0,0,0,0.8);
  overflow-y: auto;
  transition: 1s;
}

.side-navbar.mobile.open{
  height: 100vh;
  opacity: 1;
  pointer-events: all;
}

.side-navbar.mobile .closeBtn{
  position: absolute;
  top: 15px;
  left: 10px;
  color: #fff;
}

.profile-logo-parent-div{
  display: flex;
  align-items:center;
  justify-content: space-between;
  width:100%;
  position: relative;
  background: #348DCB;
  padding: 20px 10px 30px 10px;
}

.side-navbar .profile-logo{
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-navbar .profile-logo span{
  font-size: 1.1rem;
  font-weight: bold;
}

.profile-logo-details{
  padding-left: 10px;
  line-height: 2;
  color: #fff;
}

.profile-logo-details span{
  font-weight: bold;
  font-size: 1rem;
}

.profile-logo-details div small{
  color: #ddd;
  padding: 0 5px;
  font-size: 0.9rem;
  border-radius: 8px;
}

.profile-logo-details div small.active{
  color: #161d65;
  background: rgba(255,255,255,0.9);
}

.side-navbar-hr{
  border: none;
  border-bottom: 1px solid #ddd;
  margin: 0;
}

.side-navbar ul{
  padding-left: 10px;
}

.side-navbar ul li{
  position: relative;
  width: 100%;
  list-style: none;
  transition: 0.5s;
  position: relative;
}

.side-navbar ul li.active,
.side-navbar ul li:hover{
  background: #348DCB;
  border-radius: 10px 0 0 10px;
}

.side-navbar ul li div{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-40%);
  color: #161d65;
}

.side-navbar ul li.active div{
  color: #fff;
}

.side-navbar ul li b{
  display: none;
  position: absolute;
  height: 10px;
  width: 100%;
  background: #348DCB;
}

.side-navbar ul li.active b{
  display: block;
}

.side-navbar ul li b:nth-child(1){
  top: -10px;
}

.side-navbar ul li b:nth-child(2){
  bottom: -10px;
}

.side-navbar ul li b::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.side-navbar ul li b:nth-child(1)::before{
  border-radius: 0 0 10px 0;
}

.side-navbar ul li b:nth-child(2)::before{
  border-radius: 0 10px 0 0;
}

.side-navbar ul li a{
  padding: 10px 0;
  margin: 10px 0;
  display: flex;
  text-decoration: none;
  color: #348DCB;
  font-size: 1.1rem;
  align-items: center;
  transition: 0.5s;
}

.side-navbar ul li.active a,
.side-navbar ul li:hover a{
  color: #fff;
  padding: 10px;
  font-weight: bold;
}

.side-navbar ul li a span{
  width: 40px;
  font-size: 1.6rem;
}

.side-navbar ul li.active a span,
.side-navbar ul li:hover a span{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* bardown */

.navbar-mobile-bottom{
  position: fixed;
  background: linear-gradient(to right,#161d65, #348DCB);
  /* background: #f4f4f4; */
  bottom: 0;
  width: 100%;
  z-index: 999;
  padding: 9px 0px 4px 0px;
  border-top: 0.01rem solid #aaa;
}

.navbar-mobile-bottom-menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-mobile-bottom-menu .navbar-mobile-bottom-menu-a{
  color: #ccc;
  font-size: 0.9rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.navbar-mobile-bottom-menu .navbar-mobile-bottom-menu-a span{
  font-size: 1.3rem;
}

.navbar-mobile-bottom-menu a:nth-child(3){
  width: 50%;
}

.navbar-mobile-bottom-menu .navbar-mobile-bottom-menu-a.active{
  color: #fff;
}

.navbar-mobile-bottom-menu .navbar-mobile-bottom-menu-a.active span{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.new-user{
  position: absolute;
  z-index: 999;
  width: 40px;
  height: 40px;
  background: #348DCB;
  border-radius: 50%;
  bottom: 60%;
  left: calc(50% - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.01rem solid #bbb;
  border-right: 0.01rem solid #bbb;
  transform: rotate(-45deg);
}

.new-user span{
  color: #fff;
  transform: rotate(45deg);
}

.morePage{
  height:80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* table */

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  /* width: 400px; */
  width:inherit;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background: linear-gradient(to right,#161d65, #348DCB);
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  /* background-color: #f3f3f3; */
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #161d65;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #161d65;
}
.alpharow{
  /* background: #f3f3f3; */
  background: linear-gradient(to right,#161d65, #348DCB);
  color: #fff;
}

.menu-list-tags{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right,#161d65, #348DCB);
  height:60px;
  border-radius: 0 60px 60px 0;

}

.menu-list-tags a{
  /* background: #fff; */
  width: 100%;
  text-align: center;
  color:#ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  height:60px;
  font-size: 0.9rem
}

.menu-list-tags a span{
  font-size: 1rem
}



.menu-list-tags a:hover{
  color:#fff;
  text-decoration: none;
}

.menu-list-tags a.active{
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
}

@media (max-width: 850px) {
  .menu-list-tags a.active{
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
  }

}

.menu-list-tags a.active span {

  font-size: 1.2rem;

}

@media (max-width: 850px) {

  .menu-list-tags a.active span {

    font-size: 1.5rem;

  }

}

.menu-list-parent{
  padding: 0 180px 40px 0;

}

@media (max-width: 850px) {
  .menu-list-parent{
    padding: 4% 4% 2% 0;

  }

}



.menu-list-hr{
  border-top: 6px solid #000;
  margin: 0;
  width: 33.3%;
}

.menu-tag-items{
  width: 100%;
  border-radius: 12px;
  text-align: center;
}

.anchor-tag{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.anchor-tag a{
  text-align: center;
  /* background: red; */
  width: 100%;
  margin:  5px;
  color: #555
}

@media (max-width:850px) {
  .category-box{
    padding: 0 2% 2% 2%;
  }
}

/* ticket */

@media (max-width:850px) {
  .ticketword{
    position: relative;
    top: 10px;
  }
}

@media (max-width:850px) {
  .participantword{
    position: relative;
    top: 10px;
  }
}
.ticket-div{
  /* border: 2px solid black; */
  height:inherit;
  border-radius: 12px 12px 0px 0px;
  position: relative;
  top: 28px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.ticket-head{
  text-align: center;
  background: linear-gradient(to right,#161d65, #348DCB);
  color:#fff;
  /* font-size: 0.2rem; */
  /* box-shadow: 0px 3px 20px #000; */
  border-radius: 12px 12px 0px 0px;


}

.buttonclass{
  position:absolute;
  top:8px;
  right:4px;
  font-size:0.8rem;
  border-radius: 60px;
}

@media (max-width:850px) {
  .buttonclass{
    position: absolute;
    top:24px;
    right: 5px;
  }

}


.ticket-foot{
  text-align: center;
  background: linear-gradient(to right,#161d65, #348DCB);
  color:#fff;
  /* font-size: 0.2rem; */
  /* box-shadow: 0px 3px 20px #000; */
  border-radius: 0px 0px 12px 12px;

}

.ticket-mid{
  /* border: 2px solid red; */
  text-align: center;
  color:#000;
  position: relative;
}

.ticket-mid hr{
  /* border: 2px solid red; */
border: none;
border-bottom: 1px solid #ccc;
position: relative;
top:-12px;

}

.ticket-mid h5{

position: relative;
top:-15px;

}

.participantidbelow{

position: relative;
top:-2px;
color: #ccc;
z-index: 1000;

}

.participantid{
  /* position: absolute;
  top:16px; */
}

.ticket-mid img{

position: relative;
top:-10px;
height: 100px;
width:100px;

}

.ticket-mid-below{
  display: flex;
}

.spandiv{
  /* border-bottom: 2px solid red; */
  display:flex;
  width:100%;
  position: relative;
  top: -28px;
  justify-content: space-around;
  align-items: center;

}

.spandivthings{
  display: flex;
  justify-content: center;
  align-items: center;
}



.lower-tiket{
  display: flex;
  justify-content: space-around;
  /* border: 2px solid red; */

}

.lower-tiket span{
  padding-right: 4px;
  position: relative;
  /* top: 12px; */
}

.lower-tiket p{
  position: relative;
  top: 8px;
}

.lower-tiket-2{
  display: flex;
  justify-content: space-around;

}

.lower-tiket-2 span{
  padding-right: 4px;
  position: relative;
  top: -5px;
  font-size: 1rem;

}

.lower-tiket-2 p{
  padding-right: 4px;
  position: relative;
  top: -7px;
  font-size: 0.9rem;

}

.lower-tiket-after{
  display:flex;

  width: 100%;

  justify-content: center;


}
.lower-tiket-after p{
 /* position: relative;
 top:5px; */
}

/* dashboard starts */
.dashboard-card{
  background: linear-gradient(to right,#161d65, #348DCB);
  margin: 25px 25px;
  padding: 15px 10px;
  border-radius: 10px;
  height: 75px;
  overflow-y: hidden;
  transition: 1s;
  position: relative;

  /* width:100%; */
}
.namebox{
padding:2%;
background:#eee;
border-radius:40px;
margin-bottom: 15px;

}

.nameboxhead{

  display:inline-block;
  position:relative;
  left:35px;
}

@media (max-width:850px) {

.nameboxhead{

  display:inline-block;
  position:relative;
  top:10px;

}
}



.listhead{
position:relative;
left:-200px;
}

@media (max-width:850px) {
  .listhead{
  position:relative;
  left:-40px;
  }
}

.dashboard-card.orgname.active{
  height: 370px;
}

.dashboard-card .arrow-down{
  position: absolute;
  right: 20px;
  /* top: -3px; */
  /* transform: translateY(-20px); */
  transition: 1s;
}

.dashboard-card .arrow-down span{
  transition: 1s;
}

.dashboard-card div .order-icon{
  font-size: 2.4rem;
}

.dashboard-sub-heading{
  font-size: 0.8rem;
  font-weight: 500;
  color: #ccc;
}

.dashboard-card .details{
  padding-left: 20px;
}

.dashboard-card .details h4{
  margin: 0 auto;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
}

.dashboard-card .details p{
  margin: 0 auto;
}

.dashboard-card-order{
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.dashboard-card-order div p{
  font-weight: bold;
  font-size: 1.1rem;
}

.dashboard-card-delivery{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  margin: 10px auto;
}

.dashboard-card-delivery div h5{
  color: #000;
  margin-top: 7px;
  padding-left: 5px;
}

.notificationBox{
  font-family: 'Baloo 2', cursive;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  width:100%;
}

/* .allnotificationBoxContent{
  width: 100%;
} */
.notificationBox ul li{
  list-style-type:none;
  padding-bottom: 5px;
}

.notificationBox img{
  height: 30px;
  width: auto;
  border-radius: 50px;
}

.notificationBoxContent{
  display: flex;
  flex-direction: row;
  margin: 4px;
}

.allorgName{
  /* position: relative; */
  /* left:2.5rem; */
  color: #aaa;
  /* padding-right: 50px; */

}

.allorgName h6{
  font-size: 0.7rem;
}
.notificationBoxWord{
  font-weight: bold;
  padding-left :2%;
  /* color:#333C5D; */
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.notificationBoxWord h6:nth-child(1){
  font-weight: bold;
  padding-left :2%;
  /* color:#333C5D; */
  font-size: 0.8rem;
}

.notificationBoxWord h6:nth-child(2){
  color: #aaa;
  padding-left :2%;
  /* color:#333C5D; */
  font-size: 0.7rem;
}

.notificationBoxWord span{
  color: #aaa;
  font-weight: normal;
  /* padding-left :2%; */
  /* color:#333C5D; */
  font-size: 0.7rem;
}
.notificationBoxWord2{
  /* font-weight: bold; */
  /* padding-left :2%; */
  /* color:#333C5D; */
  font-size: 0.8rem;
}
.analyticsBox{
  font-family: 'Baloo 2', cursive;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.analyticsBox ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  /* text-align: justify; */

}
.analyticsBox ul li{
  list-style-type:none;
  padding-top: 6px;

}
.analyticsBox span{
  margin: 0;
  position: relative;
  top: -3px;
  color: #348DCB;
}
.analyticsBox p{
  font-size: 1rem;
  margin: 0;
  position: relative;
  top: -2px;
  right: -4px;

}
.dots{
  border: 3px dashed #348DCB;
  border-radius: 10px;
  text-align: center;
  padding: 3%;
  color: green;
  display: flex;
  justify-content: center;
}

.dots h6{
  position: relative;
  top: 4px;
  padding-left: 4px;
}

.dots:hover{
  background: linear-gradient(to right,#161d65, #348DCB);
  border: none;
}

.dots:hover span{
  color: #fff;
}

.dots:hover h6{
  color: #fff;
}
.cardsrow{
  padding: 4% 2%;
  /* display: flex; */
  /* justify-content: space-between; */
}

.dashboardCardBox{
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  height: 7rem;
  width: 100%;
  transition: 1s;
  overflow: hidden;

}

.dashboardCardBox.active{
  height:19.5rem;
}

.dashboardCardBox:hover{
  transform: translateY(-15px);
  transition: 1s;
}

.dashboardCardBoxOrg{
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  height: 7rem;
  width: 100%;
  transition: 1s;
  overflow: hidden;

}

.dashboardCardBoxOrg.active{
  height:20rem;
}

.dashboardCardBoxOrg:hover{
  transform: translateY(-15px);
  transition: 1s;
}

.bigNum{
  position: relative;
  float: right;
  bottom: 5rem;
  text-align: right;
}

.bigNum h3{
  margin-bottom: 0;
}

.bigNum h6{
  color: #aaa;
  margin-bottom: 0;
  float: left;
}

.addorgcircle{
  border-radius: 50%;
  position: relative;
  top:100px;
  left: 30%;
  height:90px;
  width: 90px;
  border: 2px dashed #348DCB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding:0.5 2%;
  background: linear-gradient(to right,#161d65, #348DCB);
   border: none;
}

.addorgcircle h6{
  font-size: 0.7rem;
  color: #fff;
}

.addorgcircle span{
  color: #fff;
}

.addorgcircle:hover{
   /* background: linear-gradient(to right,#161d65, #348DCB); */

  /* border: none; */
}

.addorgcircle:hover span{
color: #fff;
}

.addorgcircles:hover h6{
color: #fff;
}


.createEventCircle{
  border-radius: 50%;
  position: relative;
  left: 5%;
  height:90px;
  width: 90px;
  border: 2px dashed #348DCB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding:0.5 2%;

}
.createEventCircle h6{
  font-size: 0.7rem;
  color: green;
}

.createEventCircle span{
  color: green;
}

.createEventCircle:hover{
   background: linear-gradient(to right,#161d65, #348DCB);

  border: none;
}

.createEventCircle:hover span{
color: #fff;
}

.createEventCircle:hover h6{
color: #fff;
}
.createEventCircleother{
  border-radius: 50%;
  position: relative;
  left: 5%;
  height:90px;
  width: 90px;
  border: 2px dashed #348DCB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding:0.5 2%;
  background:  #348DCB;
  border: none;

}
.createEventCircleorg{
  border-radius: 50%;
  position: relative;
  left: 30%;
  height:90px;
  width: 90px;
  border: 5px solid #348DCB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  /* padding:0.5 2%; */
  /* background: linear-gradient(to right,#161d65, #348DCB); */
  /* border: none; */

}
.createEventCircleorg span{
color: green;
}

.createEventCircleorg h6{
color: green;
}

.createEventCircleorg:hover{
  background: linear-gradient(to right,#161d65, #348DCB);
  border: none;
}

.createEventCircleorg:hover span{
color: #fff;
}

.createEventCircleorg:hover h6{
color: #fff;
}

@media (max-width: 850px) {

.createEventCircleorg{
  left: 4%;
}

}
.createEventCircleother h6{
  font-size: 0.7rem;
  color: green;
}

.createEventCircleother span{
  color: green;
}


.dashboardCardAnalytics{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  /* justify-content: space-between; */
  width: 100%;
}

.analyticsLine{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
  border-left: 2px solid #348DCB;
  padding-left: 2%;
}


.analyticsText h6{
  font-weight: bold;
  margin: 0;
}
.analyticsText p{
  font-size: 0.7rem;
  margin: 0;
  color: #aaa;
}

.analyticsLineorg{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* justify-content: flex-start; */

  /* margin-right: 4px; */
  margin-bottom: 8px;
  border-left: 2px solid #348DCB;
  padding-left: 2%;
}
.analyticsNumorg h6{
   /* margin-right: 4px; */
   align-items: stretch;

}

.analyticsLine{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
  border-left: 2px solid #348DCB;
  padding-left: 2%;
}
.analyticsTextorg h6{
  font-weight: bold;
  margin: 0;
}
.analyticsTextorg p{
  font-size: 0.7rem;
  margin: 0;
  color: #aaa;
}
.analyticsSpanHead{
  font-weight: bold;
  margin: 0;
  font-size: 0.8rem;
}
.analyticsSpanHeadValue{
  font-size: 0.8rem;
  margin: 0;
  font-weight: normal;
  padding-left: 4px;
  /* color: #aaa; */
}
.bannerbox{
  width:50%;
  background: linear-gradient(to right,#161d65, #348DCB);
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  z-index: 100;
  border-radius: 12px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
}


@media (max-width: 850px) {
 .bannerbox{
   padding-top: 10px;
 }
}


.btop{
  border-top:4px solid #fff;
  padding-top: 6px;
}

.btop h4{
  font-size: 0.8rem;
  color: #ddd;
}
.itscontent{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* justify-content: space-around; */
  padding-top: 15px;
}
@media (max-width: 850px) {
  .itscontent{
    padding-top: 0;
  }
}

.itscontent :nth-child(2) h6{
color: #aaa;
}

.placeholder1{
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background: rgba(52,141,203,0.8);
}

#ads-carousel .owl-item{
  transition: 2s;
  overflow: hidden;
  margin: 30px 0;
  border-radius: 10px;
}

#ads-carousel .owl-item.active{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#designs{
  background: #eaeaea;
  /* background: rgba(0,0,0,0.1); */
  /* background: #C9C7E3; */
  /* background: linear-gradient(to right,#161d65, #348DCB); */
}

.wave{
  position: absolute;
  bottom: 0;
  clip-path: polygon(0 27%, 10% 25%, 20% 26%, 31% 30%, 41% 34%, 52% 38%, 64% 41%, 77% 41%, 88% 38%, 94% 34%, 100% 26%, 100% 100%, 0 100%);
  /* background: linear-gradient( #eaeaea, #fff); */
  width: 100%;
  height: 600px;
}

.heading{
  display: flex;
  align-items: center;
}

.heading span{
  font-size: 2.3rem;
  padding-right: 10px;
}

.heading h4{
  position: relative;
  top: 5px;
  font-size: 2.1rem;
  font-weight: bold;
}

@media (max-width: 850px) {
  .heading h4{
    font-size: 1.5rem;
  }
}

.formbox{
  padding: 2%;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  top:-100px;
  /* z-index: 1000; */

  /* margin-top: 2%; */
}
.formbox button{
  background: linear-gradient(to right,#161d65, #348DCB);
  color: #fff;
  width: 100px;
}
.dropdown-menu a{
  font-size: 0.8rem;

}
/* .lottiedivevent{
  position: relative;
  top:-100px;
} */
.form-group label{
  font-weight: bold;
  font-size: 1rem;
}

.bigdiv{
  background: linear-gradient(to right,#161d65, #348DCB);
  padding: 3%;
}
.whitediv{
  box-shadow: 0 0 25px 0 rgba(225,225,225,0.5);
  /* box-shadow: 10px 10px 15px rgba(225,225,225,0.5); */
  background-color: #fff;
  border-radius: 20px;
}
/* .graphrow{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */

/* .graphrow img{
  height: 25rem;
} */
/*
@media (max-width:850px) {
  .playerpartner{
    font-size: 0.6rem
  }

} */

/* dashboard ends */
/* ticket ends */

/* this starts */


/*************** login - End *************/

/* Footer Section - End */


/* All event page - start */

.year-range{
  height: 80px;
  width: 360px;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 0 65px 0 65px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.year-range .slider-value{
  position: relative;
  width: 100%;
}

.year-range .slider-value span{
  position: absolute;
  left: 100%;
  height: 45px;
  width: 45px;
  color: #fff;
  font-weight: 500;
  top: -30px;
  transform: translateX(-50%);
  /* transform: translateX(-50%) scale(0); */
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
  line-height: 45px;
  z-index: 2;
}

/* .year-range .slider-value span.show{
  transform: translateX(-50%) scale(1);
} */

.year-range .slider-value span::after{
  content: '';
  position: absolute;
  height: 45px;
  width: 45px;
  background: #348DCB;
  transform: translateX(-50%) rotate(45deg);
  z-index: -1;
  left: 50%;
  border: 3px solid #fff;
  border-radius: 50% 50% 0 50%;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.year-range .draging-field{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.year-range .draging-field .value{
  position: absolute;
  font-size: 1.1rem;
  font-weight: bold;
  color: #348DCB;
}

.year-range .draging-field .value.left{
  left: -48px;
}

.year-range .draging-field .value.right{
  right: -43px;
}

.year-range .draging-field input{
  -webkit-appearance: none;
  height: 3px;
  width: 100%;
  background: #ddd;
  outline: none;
  border: none;
  border-radius: 5px;
}

.year-range .draging-field input::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: #348DCB;
  border-radius: 50%;
  border: 1px solid #348DCB;
  cursor: pointer;
}

.year-range .draging-field input::-moz-range-progress{
  background: #348DCB;
}




/* All event page - end */


/* more page - start */

.more-links{
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 200px;
  transition: 0.5s;
}

.more-links:hover{
  background: rgba(52, 141, 203, 0.2);
  border: 1px solid #348DCB;
}

.more-links img{
  width: 70%;
  height: 100px;
  transition: 0.5s;
}

.more-links:hover img{
  width: 20%;
  height: 30px;
}

.more-links span{
  font-size: 1.3rem;
  padding-top: 30px;
  color: #444;
  font-weight: 500;
  transition: 0.5s;
}

.more-links:hover span{
  font-size: 2.5rem;
  padding-top: 0px;
}

@media (max-width: 850px) {

  .more-links{
    height: 150px;
  }

  .more-links img{
    width: 50%;
    height: 90px;
  }

  .more-links span{
    padding-top: 0px;
  }

  .more-links:hover span{
    font-size: 1.5rem;
    padding-top: 0px;
  }
}



/* more page - end */


/* new index page - start */

.event-display-card{
  position: relative;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
}

.event-display-card .content{
  position: relative;
  background: linear-gradient(to right, #2d2b4c 90%, rgba(0,0,0,0));
  color: #fff;
  height: 400px;
  width: 120%;
  padding: 60px 80px 60px 40px;
  z-index: 5;
}

.event-display-card .content h1{
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.event-display-card .content h2{
  font-size: 1rem;
  color: #aaa;
  font-weight: 500;
}

.event-display-card .content h3{
  font-size: 1.1rem;
  color: #ccc;
  font-weight: lighter;
  padding: 10px 0;
  line-height: 25px;
  width: 340px;
}

.event-display-card .content button{
  position: fixed;
  bottom: 40px;
  width: 150px;
  font-size: 1rem;
  height: 40px;
  text-transform: capitalize;
  background: #348DCB;
  color: #fff;
}

.event-display-card .image{
  position: relative;
  z-index: 2;
}

.event-display-card .image img{
  width: 100%;
}

.new-event-card{
  border-radius: 10px;
}


/* new index page - end */
