/* Color Palette - Details

Palette#: 226650 from Colorhunt

Reference Colors:
- Red: #161d65 - main header & footer color
- Light Red: #ff8585 - support colors
- Light Orange: #ffb396 - support colors
- Yellow: #fff5c0- support colors

*/

/********** tag selectors ************/

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

h1{
  font-size: 3rem;
  font-weight: bold;
}

h2{
  font-size: 2.5rem;
  font-weight: bold;
}
h3{
  font-size: 2rem;
  font-weight: bold;
}
h4{
  font-size: 1.5rem;
  font-weight:normal;
}
h5{
  font-size: 1.2rem;
  font-weight:normal;
}
h6{
  font-size: 0.8rem;
  font-weight:normal;
}


/********** class selectors ************/
.container-fluid{
  width: 100%;
}

/* navbar start */
.before-navbar{
  background: #ff5757;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  padding: 5px;
}

.before-navbar-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.social-media-head{
  display: flex;
  padding-left: 20px;
}

.social-media-head i{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 1rem;
  margin: auto 5px;
  border-radius: 2px;
  color: #dedede;
  transition: all 0.5s;
}

.social-media-head i:hover{
  background: #000;
  color: #fff;
}

.contact{
  display: flex;
  justify-content: space-between;
}

.contact div{
  border-right: 1px solid #fff;
  padding: 0 15px;
  transition: all 0.3s;
}

.contact .content div:hover{
  cursor: pointer;
  color: #000;
}

.contact div i{
  font-size: 0.8rem;
  padding-right: 7px;
  color: #dedede;
}

.contact .content div span{
  font-size: 0.9rem;
}

.navbar{
  background-color: #ff5757; /*color changed*/
  height: 50px;
  padding: 0;
}

.navbar-brand{
  color: white;
  font-size: 1.7rem;
  padding-left: 12px;
}

.navbar-brand:hover{
  color: #aaa;
}

.navbar-text{
  color: #fff;
  /* color:#dedede; */
  padding-left: 12px;
}

.nav-item{
  width: 100px;
  line-height: 2;
}

.nav-link{
  /* color: white; */
  color:#fff;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}

.nav-link:hover{
  color: #fff;
}

.nav .active{
  color: #fff;
}

/* .navbar-toggler{
  border: 1px solid #ffff00;
} */

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  /* width: 20px;
  height: 20px; */
}
.navbar-mobile-bottom{
  position: fixed;
  background: #ff5757;
  /* background: #f4f4f4; */
  bottom: 0;
  width: 100%;
  z-index: 999;
  padding: 9px 0px 4px 0px;
  border-top: 0.01rem solid #aaa;
}

.navbar-mobile-bottom-menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-mobile-bottom-menu .navbar-mobile-bottom-menu-a{
  color: rgba(0,0,0,0.45);
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
}

.navbar-mobile-bottom-menu .navbar-mobile-bottom-menu-a.active{
  color: #fff;
}
/* navbar end */

.large{
  border-radius: 0 0 0 0 ;
}
.small{
  width: 0px ;
  display: none;
  border-radius: 0 0 0 0 ;
}

@media (max-width: 1080px) {
  .large{
    width: 0% ;
    display: none;
    border-radius: 0 0 0 0 ;
  }
  .small{
    width: 100% ;
    display: block;
    border-radius: 0 0 0 0 ;
  }
}

.mybutton {
  background: #221B1B; /* Green */
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  /* border-radius: 8px; */
}
.button5 {
  background: #ff5757;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #ff5757;
  width: 100%;
  font-weight: 500;
}
.button5:hover {
  color: #ff5757;
  background: none;
}

.button6 {
  background: #d2691e;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #d2691e;
  width: 100%;
  font-weight: 500;
}
.button6:hover {
  color: #d2691e;
  background: none;
}

.heading{
  text-align: center;
}

.heading h4{
  font-weight: bold;
}

.heading hr{
  position: absolute;
  left: calc(50% - 50px);
  margin: 0;
  border-bottom: 4px solid #ff5757;
  width: 100px;
}

.gradient{
  position: absolute;
  background: linear-gradient(to right, rgba(255,87,87,1), rgba(255,87,87,0));
  height: 78vh;
  width: 30%;
  z-index: 999;
  pointer-events: none;
}

@media (max-width:850px) {
  .gradient{
    height: 67.5vh;
    width: 40%;
  }
}

.cart{
  font-size: 1.7rem;
  color: #fff;
  /* padding: 0 30px 0 70px; */
}

.inner-triangle{
  position: absolute;
  left: -270px;
  top: 15px;
  width: 0;
  height: 0;
  border-left: 270px solid transparent;
  border-right: 370px solid transparent;
  border-bottom: 370px solid #fff;
}

.triangle{
  position: absolute;
  width: 0;
  height: 0;
  border-left: 300px solid transparent;
  border-right: 400px solid transparent;
  border-bottom: 400px solid rgba(255,87,87,0.3);
  transform: rotate(30deg) ;
  z-index: -1;
}

.our-story-para{
  padding: 20px;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.ingradients-card{
  padding: 40px;
}

@media (max-width: 850px) {
  .ingradients-card{
    padding: 20px;
  }
}

.owl-item .ingradients-item img {
  opacity: 0.3;
  transition: 3s;
}

.owl-item.center .ingradients-item img {
  opacity: 1;
  transform: scale(1.18);
  transition: 3s;
}

.owl-item.active.center .ingradients-item img {
  opacity: 1;
  transform: scale(1.45);
  transition: 3s;
}

.product-card{
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px 3px rgba(0,0,0,0.1);
  transition: 1.4s;
}

.product-card:hover{
  transform: translateY(-15px);
}

.fa-star,
.fa-star-half-alt{
  color: #ffc700;
}

.product-details h5{
  padding: 10px 0 0 0;
  font-weight: bold;
}

.product-details .price small{
  color: #ff5757;
  font-weight: 500;
}

.product-details .price h6{
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 500;
}

.product-details p{
  padding-top: 10px;
  font-size: 0.8rem;
  font-weight: 500;
  color: rgba(0,0,0,0.5);
}

#whyus{
  background: rgba(0,0,0,0.04);
  /* background: #fafafa; */
}

.whyus-heading{
  text-align: center;
  padding: 10px 20%;
  color: rgba(0,0,0,0.7);
  font-size: 0.8rem;
  font-weight: 500;
}

.whyus-card{
  padding: 10px;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.1);
}

.whyus-card img{
  width: 100%;
  height: 180px;
  padding: 10px;
}

.whyus-card h4{
  color: #ff5757;
  font-size: 1.4rem;
  font-weight: 600;
  padding-top: 10px;
}

.whyus-card small{
  color: rgba(0,0,0,0.7);
  font-size: 0.8rem;
  font-weight: 500;
}

#bulk{
  background: rgba(0,0,0,0.04);
  /* background: #fafafa; */
}

.bulk-orders{
  padding:10px;
}

.bulk-orders input,
.bulk-orders textarea{
  width: 100%;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  padding: 5px 0;
}

.bulk-orders span{
  position: absolute;
  left: 10px;
  top: 20px;
  font-size: 0.9rem;
  color: #ff5757;
  pointer-events: none;
  transition: .5s;
}

.bulk-orders input:focus ~ span,
.bulk-orders textarea:focus ~ span,
.bulk-orders input:valid ~ span,
.bulk-orders textarea:valid ~ span{
  transform: translateY(-25px);
  font-size: 0.8rem;
}

.contact-div-1{
  background: #282b32;
  padding: 15px;
}

.contact-card{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 15px 0;
  text-align: center;
}

.full-addres-div{
  display:flex;
  justify-content:space-between;
  background: rgba(255,255,255,0.2);
  padding: 10px;
}

.address-div{
  color: rgba(255,255,255,0.7);
}

.phone-div{
  color: rgba(255,255,255,0.5);
}

.phone-div small{
  padding-left: 5px;
}

.phone-div div{
  transition: .3s;
}

.phone-div div:nth-child(1):hover{
  color: #3aa5dc;
  cursor: pointer;
}

.phone-div div:nth-child(2):hover{
  color: #ff5757;
  cursor: pointer;
}

.contact-form-field{
  padding: 5px;
}

.contact-form-field input,
.contact-form-field textarea{
  padding: 5px;
  width: 100%;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.5);
  outline: none;
  resize: none;
}

.contact-form-field i{
  position: absolute;
  right: 10px;
  top: 13px;
  font-size: 1.3rem;
  display: none;
}

.contact-form-field i.fa-check-circle{
  color: green;
  text-shadow: 0px 0px 8px green;
}

.contact-form-field i.fa-times-circle{
  color: #f54137;
  text-shadow: 0px 0px 8px #f54137;
}

.contact-form-field input:valid ~ i.fa-check-circle{
  display: block;
}

.contact-form-field input:invalid:focus ~ i.fa-times-circle,
.contact-form-field input:invalid:hover ~ i.fa-times-circle{
  display: block;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* Footer Section - Start */
#map {
  width: 100%;
  height: 100%;
}

#footer{
  background-color:#161d65;
  text-align:center;
  color:white;
}

.social .fa{
    color: white;
    border-radius: 50px;
    margin: 15px 5px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border: 2px solid white;
    transition: all 0.5s ease-in;
    background: #000;
}

/* Footer Section - End */
