/* Color Palette - Details

Palette#: 226650 from Colorhunt

Reference Colors:
- Red: #161d65 - main header & footer color
- Light Red: #ff8585 - support colors
- Light Orange: #ffb396 - support colors
- Yellow: #fff5c0- support colors

*/

/********** tag selectors ************/
body{
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  /* background-color: #f7cac9; */
}

h1{
  font-size: 3rem;
  font-weight: bold;
  color: #343148;
}

h2{
  font-size: 2.5rem;
  font-weight: bold;
}
h3{
  font-size: 2rem;
  font-weight: bold;
}
h4{
  font-size: 1.5rem;
  font-weight:normal;
}
h5{
  font-size: 1.2rem;
  font-weight:normal;
}
/* h6{
  font-size: 0.8rem;
  font-weight:normal;
} */

h6 {
       font-family: sans-serif;
       margin-top: 40px;
       color: #888;
       text-align: center;
       font-size: 1rem;
       max-width: 185px;
       position: relative;
     }
     h6:before {
       content: "";
       display: block;
       width: 30px;
       height: 2px;
       background: #f7cac9;
       left: 0;
       top: 50%;
       position: absolute;
     }
     h6:after {
       content: "";
       display: block;
       width: 30px;
       height: 2px;
       background: #f7cac9;
       right: 0;
       top: 50%;
       position: absolute;
     }

.h6-wwd{
  font-family: sans-serif;
  margin: 40px 0 20px 45%;
  color: #888;
  text-align: center;
  font-size: 1rem;
  max-width: 185px;
  position: relative;
}
.h6-wwd:before {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background: #f7cac9;
  left: 0;
  top: 50%;
  position: absolute;
}
.h6-wwd:after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background: #f7cac9;
  right: 0;
  top: 50%;
  position: absolute;
}

.h6-wwd1{
  font-family: sans-serif;
  margin: 40px 0 20px 80px;
  color: #888;
  text-align: center;
  font-size: 1rem;
  max-width: 185px;
  position: relative;
}
.h6-wwd1:before {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background: #f7cac9;
  left: 0;
  top: 50%;
  position: absolute;
}
.h6-wwd1:after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background: #f7cac9;
  right: 0;
  top: 50%;
  position: absolute;
}


/********** class selectors ************/
.container-fluid{
  width: 100%;
}

/* navbar start */
.navbar{
  background-color: rgba(0,0,0,0.1); /*color changed */
  /* background-color: #f7cac9; */
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  padding: 1% 5% ;
}

.navbar-brand{
  color: white;
  font-size: 1.7rem;
  padding-left: 12px;
}

.navbar-brand:hover{
  color: #fff;
}

.navbar-text{
  color:white;
  padding-left: 12px;
}

.nav-item{
  width: 140px;
  /* padding-left: 20px; */
  line-height: 2;
}

.nav-link{
  /* color: white; */
  color:#fff;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}

.nav-link:hover{
  color: #343148;
}

.nav .active{
  color: #343148;
  font-size: 1.1rem;
  background-color:#ededed;
  margin-top: 0;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(52,49,72, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.sticky {
  background-color: #343148 !important;
  transition: all 0.5s linear;
}

.sticky .nav-link, .sticky .navbar-brand, .sticky .navbar-text {
  color: white;
}

.sticky .nav .active{
  color: #161d65;
  font-size: 1.1rem;
  background-color:#ededed;
  margin-top: 0px;
  border-radius: 2px;
}

.yooga-oo{
  color: #343148;
}

.sticky .yooga-oo{
  color: #fff;
  transition: all 0.5s linear;
}


.sticky .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* navbar end */

.large{
  width: 100% ;
  border-radius: 0 0 0 0 ;
}
.small{
  width: 0px ;
  display: none;
  border-radius: 0 0 0 0 ;
}

@media (max-width: 1080px) {
  .large{
    width: 0% ;
    display: none;
    border-radius: 0 0 0 0 ;
  }
  .small{
    width: 100% ;
    display: block;
    border-radius: 0 0 0 0 ;
  }
}

.banner{
  background-color:#f7cac9 ;
  margin-top: -80px ;
}

@media (max-width: 1080px){
  .banner{
    background-color:#f7cac9 ;
    margin-top: -90% ;
  }
}


.heading1{
  padding: 30% 0 0 8%;
  font-size: 4.5rem;
  color: #343148;
}

@media (max-width: 1080px){
  .heading1{
    padding: 110% 0 0 6%;
    font-size: 2rem;
    color: #343148;
  }
}

.mybutton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 16px 1px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3rem;
  margin: 4px 0 4px 0;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: 'Baloo Tammudu 2'
  /* border-radius: 8px; */
}
.button5 {
  background-color: #343148 ;
  color: #f7cac9;
  /* border: 2px solid #555555; */
}
.button5:hover {
  background-color: #fff;
  color: #343148;
}

.button6 {
  background-color: #343148 ;
  color: #f7cac9;
  /* border: 2px solid #555555; */
}
.button6:hover {
  background-color: #f7cac9;
  color: #343148;
}


.heading-content{
  padding: 3% 8%;
  color: #343148;
}

@media (max-width: 1080px){
  .heading-content{
    padding: 3% 8%;
    color: #343148;
    font-size: 0.8rem;
  }
}

.about-content{
  padding: 5% 10% 0 0;
  font-family: 'Baloo Tammudu 2';
  font-size: 1rem;
}

.card-content{
  font-family: 'Baloo Tammudu 2';
  font-size: 1rem;
}

.card{
  text-align: center;
  width: 100%;
}

.card:hover{
  background-color: #343148;
  transition: all 0.2s linear;
}

.card:hover .card-heading{
  color: #f7cac9;
  transition: all 0.2s linear;
}

.card:hover .card-content{
  color: #fff;
  transition: all 0.2s linear;
}

.card-img{
  width:25% ;
  background-color: #f7cac9 ;
  border-radius:50% ;
}

.card-heading{
  padding: 30px 0 20px 0;
}

.shedule-plus{
  background-color: #f7cac9 ;
  font-size: 2rem ;
  color: #343148;
  padding: 10px 20px;
  text-align: right;
  /* border: 1px solid yellow; */
  border-radius: 50%;
}

.shedule-card-box{
  max-width: 290px ;
  /* border: 1px solid red ; */
  text-align: left;
  margin-left: 30px;
  border-radius: 14px;
  /* height: 40px; */
  box-shadow: 0 3px rgba(0,0,0,0.2);
  margin-top:-20px;
  z-index: 999;
  background-color: #fff;
  position: relative;
}

.statistics-content-area{
  padding:26px;
  background-color:#f6f6f6;
  border-radius:8px;
  background-color:rgb(255,255,255,0.9);
}

.statistics-content-heading{
   /* color:#888; */
   color:#ff7b54;
}

.statistics-content-number{
  font-size:3rem;
  padding-top:10px;
  padding-bottom:10px;
}

/* Designs - Start */
#designs .item {
  border: 1px solid #fff5c0;
  transition: all 1s ease-in-out;
}

.post-slide {
  margin: 0 10px;
}

.post-slide-banner {
  background-size: cover;
  background-position: center;
  height: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.post-slide .post-info {
  padding: 5px 0;
  margin: 0;
  list-style: none;
}

.post-slide .post-info li {
  display: inline-block;
  margin: 0 5px;
}

.post-slide .post-info i {
  margin-right: 0;
}

.post-slide .post-info a {
  font-size: 0.6rem;
  font-weight: bold;
  color: #fff5c0;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

.post-slide .post-info li a:hover {
  text-decoration: none;
  color: #1dcfd1;
}

.post-slide .post-img {
  position: relative;
}

.post-slide .post-img:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  /* background: rgba(0,0,0,0.6); */
  /* transition: opacity 0.90s linear 0s; */
}

.post-slide:hover .post-img:before {
  opacity: 1;
}

.post-slide-banner:hover .post-img:before {
  opacity: 1;
}

.post-slide .post-img img {
  width: 100%;
  height: auto;
}

.post-slide-banner .post-img img {
  width: 100%;
  height: auto;
}

.post-slide .read {
  position: absolute;
  bottom: 30px;
  left: 50px;
  font-size: 14px;
  color: white;
  text-transform: capitalize;
  opacity: 0;
  transition: all 0.40s linear 0s;
}

.post-slide:hover .read {
  opacity: 1;
}

.post-slide .read:hover {
  text-decoration: none;
  color: deepskyblue;
}

.post-slide .post-content {
  padding: 10px 0 0 0;
  position: relative;
}

.post-slide .post-author {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: absolute;
  top: -45px;
  right: 10px;
  overflow: hidden;
  border: 4px solid white;
}

.post-slide .post-author img {
  width: 100%;
  height: auto;
}

.post-slide .post-title {
  font-size: 0.7rem;
  font-weight: bold;
  color: #fff;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  transition: all 0.30s linear 0s;
}

.post-slide .post-title:after {
  content: "";
  width: 25px;
  display: block;
  margin-top: 10px;
  border-bottom: 4px solid #fff5c0;
  /* border-bottom: 4px solid #444; */
}

.post-slide .description {
  /* color: white; */
  color: #ccc;
  font-size: 0.7rem;
  font-weight: 500;
}

.post-slide .post-content .viewbtn {
  /* display: block; */
  opacity: 0;
  /* transition: all 3s ease-in-out; */
}

.item:hover .viewbtn {
  /* display: block; */
  opacity: 1;
  transition: all 0.6s ease-in-out;
  /* transition: all 0.1s ease-in-out; */
}

/* Designs End */

/* Footer Section - Start */
#map {
  width: 100%;
  height: 550px;
}

#footer{
  background-color:#161d65;
  text-align:center;
  color:white;
}

.social .fa{
    color: white;
    border-radius: 50px;
    margin: 15px 5px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border: 2px solid white;
    transition: all 0.5s ease-in;
    background: #000;
}

/* Footer Section - End */
