.sidebar-full-div {
    position: fixed;
    top: 80px;
    left: 0;
    background: #034687;
    height: calc(100% - 80px);
    width: 45px;
    padding: 30px 0;
    padding-left: 5px;
    overflow: hidden;
    border-radius: 0 8px 0 0;
    z-index: 999;
    transition: 1s;
}

.sidebar-full-div.open {
    width: 240px;
}

.sidebar-full-div .sidebar-full-content {
    width: 240px;
}

.sidebar-full-div .sidebar-ham-icon {
    position: relative;
    padding: 6px 0 0 5px;
    color: #fff;
    cursor: pointer;
    height: 40px;
    z-index: 10;
}

.sidebar-full-div .sidebar-ham-icon div {
    position: absolute;
    transition: 1s;
}

.sidebar-full-div .sidebar-ham-icon div:nth-child(1) {
    opacity: 1;
    pointer-events: all;
}

.sidebar-full-div .sidebar-ham-icon div:nth-child(2) {
    opacity: 0;
    pointer-events: none;
}

.sidebar-full-div.open .sidebar-ham-icon div:nth-child(1) {
    opacity: 0;
    pointer-events: none;
}

.sidebar-full-div.open .sidebar-ham-icon div:nth-child(2) {
    opacity: 1;
    pointer-events: all;
}

.sidebar-full-div .sidebar-profile-photo {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: 1s;
}

.sidebar-full-div.open .sidebar-profile-photo {
    opacity: 1;
    pointer-events: all;
}

.sidebar-full-div .sidebar-profile-photo div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.sidebar-full-div .sidebar-profile-photo div h1 {
    display: inline-block;
    position: relative;
    top: 1px;
    font-size: 1rem;
    color: #034687;
}

.sidebar-full-div ul {
    padding-top: 10px;
}

.sidebar-full-div ul li {
    margin: 20px 0;
    position: relative;
    cursor: pointer;
}

.sidebar-full-div ul li.active,
.sidebar-full-div ul li:hover {
    background: #fff;
    border-radius: 10px 0 0 10px;
    transition: 1s;
}

.sidebar-full-div ul li b {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 15px;
    background: #fff;
}

.sidebar-full-div ul li.active b {
    display: block;
}

.sidebar-full-div ul li b:nth-child(1) {
    top: -15px;
}

.sidebar-full-div ul li b:nth-child(2) {
    bottom: -15px;
}

.sidebar-full-div ul li b::after {
    position: absolute;
    left: -1px;
    content: '';
    width: 110%;
    height: 17px;
    background: #034687;
}

.sidebar-full-div ul li b:nth-child(1):after {
    top: -1px;
    border-radius: 0 0 15px 0;
}

.sidebar-full-div ul li b:nth-child(2):after {
    border-radius: 0 15px 0 0;
    bottom: -1px;
}

.sidebar-full-div ul li div {
    display: flex;
    align-items: center;
    padding: 10px 0;
    padding-left: 5px;
    transition: 1s;
}

.sidebar-full-div ul li div span {
    position: relative;
    top: -1px;
    font-size: 1.6rem;
    color: #fff;
    font-variation-settings:
        'FILL' 0
}

.sidebar-full-div ul li.active div span,
.sidebar-full-div ul li:hover div span {
    color: #034687;
    font-variation-settings:
        'FILL' 1
}

.sidebar-full-div ul li div h1 {
    position: relative;
    top: 1px;
    font-size: 1rem;
    padding-left: 20px;
    color: #fff;
}

.sidebar-full-div ul li.active div h1,
.sidebar-full-div ul li:hover div h1 {
    color: #034687;
}

.sidebar-full-div .sidebar-profile-div-show {
    opacity: 0;
    pointer-events: none;
}

.sidebar-full-div.open .sidebar-profile-div-show {
    opacity: 1;
    pointer-events: all;
}

.sidebar-profile-div {
    display: grid;
    grid-template-columns: 20% 70% 10%;
    padding: 10px 10px !important;
}

.sidebar-profile-div:hover {
    padding: 10px 15px !important;
}

.sidebar-profile-div .sidebar-profile-div-face {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.sidebar-profile-div .sidebar-profile-div-face div {
    position: relative;
    background: #034687;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}

.sidebar-profile-div .sidebar-profile-div-face div small {
    font-size: 0.8rem;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    color: #fff;
}

.sidebar-profile-div .sidebar-profile-div-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
}

.sidebar-profile-div .sidebar-profile-div-content h2 {
    font-size: 1rem;
    color: #444;
}

.sidebar-profile-div .sidebar-profile-div-content h3 {
    font-size: 0.8rem;
    color: #888;
    font-weight: normal;
}

.sidebar-profile-div .sidebar-profile-div-arrow {
    padding: 0;
    width: 10%;
}

.sidebar-profile-div .sidebar-profile-div-arrow {}