body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.9rem;
  color: #034687;
  box-sizing: border-box;
}

.input-text{
  font-family:Ubuntu;
  font-size:0.9rem;
  width:90%;
}


.fixed-side-nav {
  width: 90%;
}

.navbar-dashboard {
  /* background: rgba(0,0,0,0.1); */
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.1);
  height: 91vh;
  padding-left: 16px;
  border-radius: 0 20px 0 0;
  padding-top: 12px;
}

.nav-all-items-dashboard {
  display: grid;
  grid-row: 1fr;
  text-align: left;
  width: 100%;
  padding: 0px 0;
  font-size: 0.8rem;
}

.nav-all-items-dashboard li {
  padding: 4px;
  margin: 6px 0;
  border-radius: 26px 0 0 26px;
}

.nav-all-items-dashboard li:hover {
  background: #E10032;
}

.nav-item-highlight
{
  background: #E10032;
}

.nav-all-items-dashboard li:hover a {
  color: #fff;
}

.nav-all-items-dashboard li a {
  text-decoration: none;
  color: #603F8B;
}

.dashboard-content-row {
  padding: 0px;
}

.dashboard-card {
  width: 100%;
  box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 15px;
}

.number-one {
  font-size: 1.8rem;
  color: #000;
}

.number-two-positive {
  color: green;
  padding-left: 5px;
  position: relative;
  top: -15px;
  font-size: 0.8rem;
}

.arrow-positive {
  color: green;
  padding-left: 5px;
  position: relative;
  top: -15px;
  font-size: 0.8rem;
}

.number-two-negative {
  color: red;
  padding-left: 5px;
  position: relative;
  /* left: -34px; */
  top: -15px;
  font-size: 0.8rem;
}

.arrow-negative {
  color: red;
  padding-left: 5px;
  position: relative;
  /* left: -34px; */
  top: -15px;
  font-size: 0.8rem;
}

.dashboard-card-button {
  position: relative;
  left: -15px;
}


  /********* Table - Starts **********/
  table {
    font-family: Ubuntu, sans-serif;
    font-size: 0.8rem;
    font-weight:normal;
    /* border-collapse: collapse; */
    width: 99%;
    margin: 0px;
    border: 1px solid #aaa;
  }

  th {
    color:#fff;
    background-color: #034687;
    border: 1px solid #fff;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    /* padding: 8px; */
    height: 50px;
  }

  td {
    /* border: 0px solid #dddddd; */
    text-align: left;
    padding: 8px;

  }

  tr:nth-child(even) {
    background-color: #DBE8E1;
  }

  /********* Table - Ends **********/




  /************* Profile page - starts **************/

  .camera-icon{
    /* float: right; */
  }

  .camera-icon i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #34baeb;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
  }

  .profile-pic{
    text-align: center;
  }


  /************* Profile page - ends *************/

  /* selecttemplate.html */
  .select-tp-heading {
    padding: 10px 0 0 0;
    font-weight: bold;
  }

  .select-tp-content-row {
    padding-left: 3%;
  }

  .select-tp-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 3px 20px;
    cursor: pointer;
  }

  .select-tp-card-text-ads {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    cursor: pointer;
    height: 80px;
    color: #603F8B;
    text-decoration: none;
  }

  .select-tp-card-text-ads:hover {
    color: #603F8B;
    text-decoration: none;
  }

  .select-tp-content-col .active {
    background: #FD49A0;
    color: #fff;
    border-radius: 16px 0 16px 16px;
  }

  .text-ads {
    border: 1px solid #ccc;
    min-height: 400px;
    width: 100%;
    border-radius: 16px;
    padding: 20px;
  }

  .image-ads {
    border: 1px solid #ccc;
    min-height: 400px;
    width: 100%;
    border-radius: 16px;
    padding: 20px;
  }

  /* tp_imagebased.html */
  .input-image-div {
    min-height: 200px;
    width: 100%;
    padding: 7%;
  }

  .input-image {
    min-width: 50%;
    min-height: 200px;
    border: 1px solid #ddd;
  }

  .image-name-input span:nth-child(1) {
    position: relative;
    left: 10px;
    color: rgba(96, 63, 139, 0.8);
  }

  .image-name-input span:nth-child(2) {
    position: relative;
    left: 10px;
    font-size: 2rem;
    color: rgba(96, 63, 139, 0.3);
  }

  .image-name-input input {
    position: relative;
    border-color: rgba(0, 0, 0, 0.2);
    background: none;
    outline: none;
    width: 350px;
    padding: 10px 10px 10px 120px;
    border-radius: 25px;
    left: -110px;
    z-index: 5;
    color: #444;
  }



  /********* Loader - Starts **********/
  .loaderincenter{
    position: fixed;
    width: 80%;
    height: 80vh;
    background: rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    /* filter: sepia(100px); */
    /* backdrop-fitler: blur(20px); */
  }

  .loader {
    border: 12px solid #E10032;
    border-radius: 50%;
    border-top: 12px solid #DBE8E1;
    border-right: 12px solid #034687;
    border-bottom: 12px solid #DBE8E1;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-top: 10%;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  /********* Loader - Ends **********/
