/* Color Palette - Details

Palette#: 226650 from Colorhunt

Reference Colors:
- Red: #161d65 - main header & footer color
- Light Red: #ff8585 - support colors
- Light Orange: #ffb396 - support colors
- Yellow: #fff5c0- support colors

*/
/********** tag selectors ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  color: #65463E;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
}

h4 {
  font-size: 1.5rem;
  font-weight: normal;
}

h5 {
  font-size: 1.2rem;
  font-weight: normal;
}

h6 {
  font-size: 0.8rem;
  font-weight: normal;
}

/********** class selectors ************/
.container-fluid {
  width: 100%;
}

/* navbar start */
.before-navbar {
  background: #EBEBE5;
  /* background: #65463E; */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
  padding: 5px;
  border-bottom: 1px solid rgba(185,154,135,1);
  box-shadow: 0 0 15px 0 rgba(185,154,135,1);
}

.before-navbar-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #65463E;
  font-weight: 600;
  border: none;
}

.social-media-head {
  display: flex;
  padding-left: 20px;
}

.social-media-head i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 1rem;
  margin: auto 5px;
  border-radius: 2px;
  color: #65463E;
  transition: all 0.5s;
}

.social-media-head i:hover {
  background: #65463E;
  color: #fff;
}

.contact {
  display: flex;
  justify-content: space-between;
}

.contact div {
  border-right: 1px solid #fff;
  padding: 0 15px;
  transition: all 0.3s;
}

.contact .content div:hover {
  cursor: pointer;
  color: #000;
}

.contact div i {
  font-size: 0.8rem;
  padding-right: 7px;
  color: #65463E;
}

.contact .content div span {
  font-size: 0.8rem;
}

.navbar {
  background-color: #65463E;
  /*color changed*/
  height: 50px;
  padding: 0;
}

.navbar-brand {
  color: white;
  font-size: 1.7rem;
  padding-left: 12px;
}

.navbar-brand:hover {
  color: #aaa;
}

.navbar-text {
  color: #fff;
  /* color:#dedede; */
  padding-left: 12px;
}

.nav-item {
  width: 100px;
  line-height: 2;
}

.nav-link {
  /* color: white; */
  color: #fff;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}

.nav-link:hover {
  color: #fff;
}

.nav .active {
  color: #fff;
}

/* .navbar-toggler{
  border: 1px solid #ffff00;
} */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  /* width: 20px;
  height: 20px; */
}

.navbar-mobile-bottom {
  position: fixed;
  background: #65463E;
  /* background: #f4f4f4; */
  bottom: 0;
  width: 100%;
  z-index: 999;
  padding: 9px 0px 4px 0px;
  border-top: 0.01rem solid #aaa;
}

.navbar-mobile-bottom-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-mobile-bottom-menu .navbar-mobile-bottom-menu-a {
  color: rgba(0, 0, 0, 0.45);
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
}

.navbar-mobile-bottom-menu .navbar-mobile-bottom-menu-a.active {
  color: #fff;
}

/* navbar end */
.large {
  border-radius: 0 0 0 0;
}

.small {
  width: 0px;
  display: none;
  border-radius: 0 0 0 0;
}

@media (max-width: 1080px) {
  .large {
    width: 0%;
    display: none;
    border-radius: 0 0 0 0;
  }

  .small {
    width: 100%;
    display: block;
    border-radius: 0 0 0 0;
  }
}

.mybutton {
  background: #221B1B;
  /* Green */
  border: none;
  color: white;
  padding: 7px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.7rem;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  /* border-radius: 8px; */
}

.button5 {
  background: #EBEBE5;
  color: #65463E;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #B99A87;
  width: 100%;
  font-weight: bold;
}

.button5:hover {
  color: #65463E;
  background: none;
}

.button6 {
  background: #65463E;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #65463E;
  width: 100%;
  font-weight: 500;
}

.button6:hover {
  color: #65463E;
  background: none;
}

.heading {
  text-align: center;
}

.heading h4 {
  font-weight: bold;
}

.heading hr {
  position: absolute;
  left: calc(50% - 50px);
  margin: 0;
  border-bottom: 4px solid #65463E;
  width: 100px;
}

.gradient {
  position: absolute;
  background: linear-gradient(to right, rgba(101,70,62,1), rgba(101,70,62,0));
  height: 65vh;
  width: 30%;
  z-index: 999;
  pointer-events: none;
}

@media (max-width:850px) {
  .gradient {
    height: 61vh;
    width: 40%;
  }
}

.cart {
  font-size: 1.7rem;
  color: #fff;
  /* padding: 0 30px 0 70px; */
}

.inner-triangle {
  position: absolute;
  left: -270px;
  top: 15px;
  width: 0;
  height: 0;
  border-left: 270px solid transparent;
  border-right: 370px solid transparent;
  border-bottom: 370px solid #fff;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 300px solid transparent;
  border-right: 400px solid transparent;
  border-bottom: 400px solid rgba(255, 87, 87, 0.3);
  transform: rotate(30deg);
  z-index: -1;
}

.our-story-para {
  padding: 20px;
  font-size: 1.2rem;
  font-size: 0.9rem;
  color: rgba(0,0,0,0.4);
  font-weight: 600;
}

.ingradients-card {
  padding: 40px;
}

@media (max-width: 850px) {
  .ingradients-card {
    padding: 20px;
  }
}

.owl-item .ingradients-item img {
  opacity: 0.3;
  width: 70%;
  transition: 3s;
}

.owl-item.center .ingradients-item img {
  opacity: 1;
  transform: scale(1.18);
  transition: 3s;
}

.owl-item.active.center .ingradients-item img {
  opacity: 1;
  transform: scale(1.45);
  transition: 3s;
}

.product-card {
  padding: 20px;
  border-radius: 5px;
  box-shadow: -8px 0 7px 0px rgba(185,154,135,0.7);
  /* box-shadow: -8px 0 10px 0px rgba(0, 0, 0, 0.2); */
  border: 1px solid rgba(0,0,0,0.1);
  transition: 1.4s;
}

.product-card:hover {
  transform: translateY(-15px);
}

.fa-star,
.fa-star-half-alt {
  color: #ffc700;
  font-size: 0.7rem;
}

.review-count {
  font-size: 0.7rem;
}

.product-details h5 {
  padding: 10px 0 0 0;
  font-weight: bold;
}

.product-details .price small {
  color: #65463E;
  font-weight: 500;
  font-size: 0.7rem;
}

.product-details .price h6 {
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.product-details p {
  padding-top: 10px;
  font-size: 0.8rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

#whyus {
  background: #EBEBE5;
  /* background: #fafafa; */
}

.shape1{
  height: 50px;
  width: 50px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
  background: inherit;
  backdrop-filter: blur(5px);
  position: absolute;
  left: 6%;
  animation: shape1 20s linear infinite;
}

@keyframes shape1 {
  0%,100%{
    transform: translateY(240px) rotate(30deg) translateX(0px);
  }

  50%{
    transform: translateY(240px) rotate(30deg) translateX(30px);
  }
}

.whyus-heading {
  text-align: center;
  padding: 10px 20%;
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.8rem;
  font-weight: 500;
}

.whyus-card {
  padding: 0 10px 15px 10px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-shadow: -8px 0 7px 0px rgba(185,154,135,0.7);
}

.whyus-card h1{
  position: absolute;
  font-size: 4rem;
  transform: translateX(150px) translateY(-0px);
  opacity: 0.1;
  transition: 0.5s;
}

.whyus-card:hover h1{
  transform: translateX(150px) translateY(-35px);
}

.whyus-card img {
  width: 80%;
  height: 180px;
  padding: 10px;
}

.whyus-card h4 {
  color: #65463E;
  font-size: 1.4rem;
  font-weight: 600;
  padding-top: 10px;
}

.whyus-card small {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.8rem;
  font-weight: 500;
}

#bulk {
  background: #EBEBE5;
  /* background: #fafafa; */
}

.bulk-orders {
  padding: 10px;
}

.bulk-orders input,
.bulk-orders textarea {
  width: 100%;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px 0;
}

.bulk-orders span {
  position: relative;
  left: 10px;
  top: -25px;
  font-size: 0.9rem;
  color: #65463E;
  pointer-events: none;
  transition: .5s;
}

.bulk-orders input:focus ~ span,
/* .bulk-orders textarea:focus ~ span, */
.bulk-orders input:valid ~ span{
/* .bulk-orders textarea:valid ~ span { */
  top: -50px;
  font-size: 0.8rem;
}

.bulk-orders textarea ~ span{
  position: relative;
  top: -80px;
}

.contactus-bg-image {
  background: rgba(0, 0, 0, 0.5) url('../img/1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: darken;
}

.contact-div-1 {
  /* background: #282b32; */
  padding: 5%;
}

.contact-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 15px 0;
  text-align: center;
}

.full-addres-div {
  display: flex;
  justify-content: space-between;
  background: rgba(255, 87, 87, 0.7);
  /* background: #65463E; */
  /* background: rgba(255,255,255,0.2); */
  padding: 10px;
}

.address-div {
  color: rgba(255, 255, 255, 1);
  /* color: rgba(255,255,255,0.7); */
}

.phone-div {
  color: rgba(255, 255, 255, 1);
  /* color: rgba(255,255,255,0.5); */
}

.phone-div small {
  padding-left: 5px;
}

.phone-div div {
  transition: .3s;
}

.phone-div div:nth-child(1):hover {
  color: #3aa5dc;
  cursor: pointer;
}

.phone-div div:nth-child(2):hover {
  color: #65463E;
  cursor: pointer;
}

.contact-form-field {
  padding: 5px;
}

.contact-form-field input,
.contact-form-field textarea {
  padding: 5px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #65463E;
  /* border: 1px solid rgba(255,255,255,0.2); */
  border-radius: 5px;
  color: rgba(255, 255, 255, 1);
  outline: none;
  resize: none;
}

.contact-form-field input::placeholder,
.contact-form-field textarea::placeholder {
  color: #aaa;
}

.contact-form-field i {
  position: absolute;
  right: 10px;
  top: 13px;
  font-size: 1.3rem;
  pointer-events: none;
  display: none;
  color: #fff;
}

.contact-form-field i.fa-check-circle {
  text-shadow: 0px 0px 8px green;
}

.contact-form-field i.fa-times-circle {
  text-shadow: 0px 0px 15px #f54137;
}

.contact-form-field input:valid~i.fa-check-circle {
  display: block;
}

.contact-form-field input:invalid:focus~i.fa-times-circle,
.contact-form-field input:invalid:hover~i.fa-times-circle {
  display: block;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.shiping-menu {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media (max-width: 850px) {
  .shiping-menu {
    display: flex;
    justify-content: space-around;
  }
}

.shiping-menu div {
  font-size: 0.8rem;
  cursor: pointer;
}

.full-row{
  box-shadow: 0 0 15px 0 rgba(185,154,135,0.6);
  border-radius: 4px;
  margin: 20px auto;
}

.shiping-border{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  height: 100%;
  /* border-right: 2px solid rgba(185,154,135,0.); */
}

.shiping-div-1{
  text-align: left;
  padding: 20px 40px;
}

@media (max-width: 850px) {
  .shiping-div-1{
    text-align: center;
  }

  .shiping-border{
    border-right: 2px solid rgba(0,0,0,0.0);
  }
}

.shiping-div-1 img{
  width: 50%;
}

.shiping-div-1 h5{
  padding: 20px 0 0 0;
  font-size: 0.8rem;
  font-weight: bold;
  /* color: rgba(0,0,0,0.7); */
  margin: 0 auto;
}

.shiping-div-1 small{
  margin: 0 auto;
  font-size: 0.7rem;
  font-weight: 500;
  /* color: rgba(0,0,0,0.4); */
  color: #C9BEB1;
}

.shiping-div-2{
  padding: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shiping-div-2 p{
  /* color: rgba(0,0,0,1); */
  font-weight: 500;
  font-size: 0.9rem;
  color: rgba(101,70,62,0.7);
}

#faq{
  background: #EBEBE5;
  /* background: rgba(0, 0, 0, 0.04); */
}

/* FAQ Expand Collapse - Start*/
.accordion-button.collapsed {
  background: #65463E;
  color: #65463E;
}

.accordion-button:not(.collapsed) {
  background: #65463E;
  color: #fff;
}

.accordion-body {
  font-size: 0.8rem;
  font-weight: normal;
  line-height: 2;
  background: #EBEBE5;
}

.smooth-expand-collapse {
  transition: all 1.1s linear;
}

.faq-span {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1.2px;
  color: #EBEBE5;
}

/* FAQ Expand Collapse - End */
/* Site page style - End */
/* Footer Section - Start */
#map {
  width: 100%;
  height: 87%;
}

#footer {
  background: #65463E;
  color: white;
}

.footer-div-1 {
  text-align: left;
}

.footer-links .menu .footer-contact {
  display: flex;
}

@media (max-width: 1080px) {
  .footer-div-1 {
    text-align: center;
  }

  .footer-links h5 {
    text-align: center;
  }

  .footer-links .menu {
    text-align: center;
  }

  .footer-links .menu .footer-contact {
    display: flex;
    justify-content: center;
  }

  .footer-social {
    display: flex;
    justify-content: center;
  }
}

.footer-content {
  padding: 20px 0 10px 0;
  font-size: 0.8rem;
}

.read-more-button {
  color: #65463E;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 0;
}

.footer-links h5 {
  font-size: 1.1rem;
  font-weight: bold;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
}

.footer-links a i {
  font-size: 0.7rem;
}

.footer-links .menu {
  padding: 5px 0;
}

.footer-links {
  text-align: left;
}

.footer-social {
  display: flex;
}

.footer-social i {
  font-size: 1.1rem;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 10px;
  border-radius: 4px;
  transition: .3s;
}

.footer-social i:hover {
  cursor: pointer;
  background: #fff;
  color: #65463E;
}

/* Footer Section - End */
