.board {
    display: flex;
    justify-content: center;
    width: 100%;
}

.game-box {
    background-image: url(../../public/img/game-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}