
.OrderPageCard{
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  height: 5rem;
  width: 100%;
  transition: 1s;
  overflow: hidden;
  margin-bottom: 20px;
}

.OrderPageCard.active{
  height:15rem;
}


.OrderLine{
  font-weight: normal;
  display: flex;
}

.OrderLineBelow{
  display: flex;
  flex-direction: column;
}

.OrderLineBelow h6:nth-child(1){
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 0;
  font-size: 1rem;

}

.OrderLineBelow h6:nth-child(2){
  /* font-weight: bold; */
  margin-left: 10px;
  font-size: 0.7rem;
  color: #aaa;
  margin-bottom: 0;

}

.OrderLineBelowEnd{
  display: flex;
  justify-content: flex-end;
}
/*
.OrderLineBelowEndContent div:nth-child(1) h6{

  margin-left: 10px;
  margin-bottom: 0;
  font-size: 0.8rem;
  background: red;
} */

.OrderLineBelowEndContent span{
  /* font-weight: bold; */
  margin-left: 10px;
  margin-bottom: 0;
  font-size: 0.8rem;
  /* background: red; */
}

.OrderLineBelowEndContent span:nth-child(1) {
  font-weight: 600;
  color: #65c032;
}

.OrderLineBelowEndContent{
  display: flex;
}

.statusdiv{
  background: #ddd;
  color: #65c032;
  /* margin: 0; */
  display: inline-block;
  height: 24px;
  width: 70px;
  border-radius: 14px;
  display: flex;
  /* text-align: center; */
  justify-content: center;
  /* padding: 3px; */
  /* position: relative; */
}
.statusdiv h6{
  margin: 4px 0;
  display: inline-block;
  /* position: relative; */
  /* top: -3px; */
  font-size: 0.8rem;
  font-weight: bolder;

}

.OrderCardDetail{
  display: flex;
  justify-content: space-between;
}
.OrderCardDetailFeilds{
  display: flex;
  flex-direction: column;
}
.OrderCardDetailFeilds h6:nth-child(1){
font-weight: bold;
margin-bottom: 0;
}
.OrderCardDetailFeilds h6:nth-child(2){
font-weight: 400;
margin-bottom: 0;
}
