/* Color Palette - Details

Palette#: 226650 from Colorhunt

Reference Colors:
- Red: #161d65 - main header & footer color
- Light Red: #ff8585 - support colors
- Light Orange: #ffb396 - support colors
- Yellow: #fff5c0- support colors

*/

/********** tag selectors ************/

*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}

body{
  width: 100%;
  margin: 0;
  padding: 0;
  /* background: #eeefee; */
  /* font-family: 'Montserrat'; */
  font-family: 'Baloo 2', cursive;
}

h1{
  font-size: 3rem;
  font-weight: bold;
}

h2{
  font-size: 2.5rem;
  font-weight: bold;
}
h3{
  font-size: 2rem;
  font-weight: bold;
}
h4{
  font-size: 1.5rem;
  font-weight:normal;
}
h5{
  font-size: 1.2rem;
  font-weight:normal;
}
h6{
  font-size: 0.8rem;
  font-weight:normal;
}


/********** class selectors ************/
.container-fluid{
  width: 100%;
}

.before-nav{
  position: relative;
  display: flex;
  justify-content: space-between;
  background: #54cccb;
  /* background: linear-gradient(to right,#85cb0b, #54cccb); */
  font-family: 'Baloo 2', cursive;
  padding:0.5% 0;
}

@media (max-width: 1080px) {
  .before-nav{
    display: none;
  }
}

.before-nav-information{
  word-spacing: 10px;
  padding-left: 2%;
}
.before-nav-information span{
  font-size: 0.9rem;
}

.before-nav-information a{
  color: #fff;
  text-decoration: none;
}

.before-nav-information a:hover{
  color: #000;
}

.icons{
  word-spacing: 20px;
  padding-right: 2%;
}
.icons a{
  color: #fff;
  text-decoration: none;
}

.icons a:hover{
  color: #333C5D;
}


/* navbar start */
.navbar{
  background-color: #fff; /*color changed*/
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.navbar-brand{
  color: white;
}

.navbar-text{
  color:white;
  padding-left: 12px;
}

.nav-item{
  width: 180px;
  /* padding-left: 20px; */
  line-height: 2;
}

.nav-link{
  /* color: white; */
  color:#333C5D;
  font-size: 1rem;
  text-align: center;
  font-weight: 900;
}

.nav-link:hover{
  color: #aaa;
}

.nav .active{
  color: #161d65;
  font-size: 1.1rem;
  background-color:#ededed;
  margin-top: 0px;
}

.navbar-toggler{
  border: 1px solid #ffff00;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

 .sticky {
  background-color: #161d65 !important;
  transition: all 0.9s ease-in-out;
}

.sticky .nav-link, .sticky .navbar-brand, .sticky .navbar-text {
  color: white;
}

.sticky .nav .active{
  color: #161d65;
  font-size: 1.1rem;
  background-color:#ededed;
  margin-top: 0px;
  border-radius: 2px;
}

.sticky .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-mobile{
  background: #fff;
  /* background: #54cccb; */
  /* background: linear-gradient(to right,#161d65, #348DCB); */
  padding: 9px;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
  height: 48px;
}

.navbar-mobile-menu{
  display: flex;
  /* float: right; */
  /* justify-content: space-around; */
  justify-content: space-between;
}

.topright{
  /* background: red; */
  display: flex;
  justify-content: space-around;
  width: 20%;
}

.topleft{
  /* background: red; */
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.navbar-mobile-menu a{
  /* color: #fff;
  font-size: 1.3rem; */
  display: flex;
  /* background: red; */
  text-decoration: none;
}

.navbar-mobile-menu a span{
  color: #65c032;
  /* text-shadow: 2px 2px 8px rgba(255,72,0,0.5); */
  /* color: #fff; */
 font-size: 1.3rem
 position: relative;
 top: 1px;

}
.navbar-mobile-menu a h6{
  position: relative;
  top: 3px;
  padding-left: 3px;
  padding-right: 3px;
  color: #fff;
  font-size: 0.9rem

}

.navbar-mobile-menu .hamburger-icon{
  position: absolute;
  top: 14px;
}

.navbar-mobile-menu .user-icon{
  font-size: 1rem;
  position: absolute;
  top: 11px;
  right: 7px;
  border: 1px solid #fff;
  line-height: 20px;
  text-align: center;
  width: 25px;
  height:25px;
  border-radius:50%;
}

.more-button-links {
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  /* right: 80%; */
  bottom: 0;
  background: #fff;
  /* z-index: 50; */
  height: 100vh;
  /* padding-top: 40px; */
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.5);
}

@media (max-width:850px) {

  .more-button-links {
    position: fixed;
    top: 0;
    left: 0;
    right: 20%;
    bottom: 0;
    /* transform: translateX(-120%); */
    background: red;
    z-index: 999;
    height: 100%;
    /* padding-top: 40px; */
    box-shadow: 0 0 200px 0 rgba(0,0,0,0.8);
    padding-left: 10px;

  }
}

.more-button-links .pop-up-close-btn{
  position: absolute;
  top: 20px;
  right: 10px;
}

.more-button-links .pop-up-close-btn span{
  font-size: 2rem;
}

.more-button-links ul {
  position: relative;
  display: list-item;
}

.more-button-links ul li {
  list-style: none;
  font-size: 1.5rem;
  margin: 0 auto;
  padding: 0 10px;
}

/* bardown */

.navbar-mobile-bottom{
  position: fixed;
  background: #fff;
  /* background: #54cccb; */
  /* background: linear-gradient(to right,#161d65, #348DCB); */
  bottom: 0;
  width: 100%;
  z-index: 999;
  padding: 9px 0px 4px 0px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  /* border-top: 0.01rem solid #aaa; */
}

.navbar-mobile-bottom-menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-mobile-bottom-menu .navbar-mobile-bottom-menu-a{
  color: #aaa;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.navbar-mobile-bottom-menu a:nth-child(3){
  width: 50%;
}

.navbar-mobile-bottom-menu .navbar-mobile-bottom-menu-a.active{
  color: #65c032;
}

.new-user{
  position: absolute;
  z-index: 999;
  width: 40px;
  height: 40px;
  /* background: #aaa; */
  background: #ff4800;
  border-radius: 50%;
  bottom: 60%;
  left: calc(50% - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-user span{
  color: #fff;
}

.navbar-cart-no{
  position: absolute;
  right: 5%;
  top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0.7rem;
  background: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

/* navbar end */

.large{
  width: 100% ;
  border-radius: 0 0 0 0 ;
}
.small{
  width: 0px ;
  display: none;
  border-radius: 0 0 0 0 ;
}

@media (max-width: 1080px) {
  .large{
    width: 0% ;
    display: none;
    border-radius: 0 0 0 0 ;
  }
  .small{
    width: 100% ;
    display: block;
    border-radius: 0 0 0 0 ;
  }
}
