/********** tag selectors ************/
body{
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

h1{
  font-size: 3rem;
  font-weight: bold;
}

h2{
  font-size: 2.5rem;
  font-weight: bold;
}
h3{
  font-size: 2rem;
  font-weight: bold;
}
h4{
  font-size: 1.5rem;
  font-weight:normal;
}
h5{
  font-size: 1.2rem;
  font-weight:normal;
}
h6{
  font-size: 0.8rem;
  font-weight:normal;
}


/********** class selectors ************/
.container-fluid{
  width: 100%;
}

/* navbar start */
.navbar{
  /* border-radius:0 0 0 0 ; */
  background-color: #fefefe; /*color changed*/
  /* border-bottom: :1px; */
  border-top: 0;
  border-bottom: 1px;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  border-color: #1638A0;
  /* border: 0 0 5px 0 solid #1638A0; */
}

.navbar-brand{
  /* color: white; */
  color:#1638A0;
  font-size: 1.7rem;
}

.navbar-brand:hover{
  color: #aaa;
}

.navbar-text{
  /* color:white; */
  color:#1638A0;
}

.nav-item{
  width: 120px;
  /* margin-left: 10px; */
  line-height: 2;
}

.nav-link{
  /* color: white; */
  color:#1638A0;
  font-size: 1rem;
  padding: 10px 0 0 0;
  text-align: center;
  font-weight: bold;
}

.active{
  color: #161d65;
  font-size: 1.1rem;
  /* background-color:#ededed; */
  margin-top: 0px;
  /* border: 2px solid yellow; */
  border-top: 0;
  border-right: 0;
  border-bottom: 3px;
  border-left: 0;
  border-color: #ff7b54;
  border-style: solid;
  /* border: 0 0 5px 0 solid red; */
}

.nav-link:hover{
  color: #161d65;
}

.navbar-toggler{
  border: 0 solid white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(22,29,101, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.sticky {
  background-color: #161d65 !important;
  /* transition: background-color 200ms linear; */
  transition: all 0.9s ease-in-out;
}

.sticky .nav-link, .sticky .navbar-brand, .sticky .navbar-text {
  color: white;
}

.sticky .active{
  /* color: #161d65; */
  color:white;
  font-size: 1.1rem;
  /* background-color:#ededed; */
  background-color: #161d65;
  margin-top: 0px;
  /* border-radius: 2px; */
  border-top: 0;
  border-right: 0;
  border-bottom: 3px;
  border-left: 0;
  border-color: #ff7b54;
  border-style: solid;
  /* border: 0 0 5px 0 solid red; */
  transition: border 0.5s linear;
}

.sticky .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* navbar end */

.large{
  width: 100% ;
  border-radius: 0 0 0 0 ;
}
.small{
  width: 0px ;
  display: none;
  border-radius: 0 0 0 0 ;
}

@media (max-width: 1080px) {
  .large{
    width: 0% ;
    display: none;
    border-radius: 0 0 0 0 ;
  }
  .small{
    width: 100% ;
    display: block;
    border-radius: 0 0 0 0 ;
  }
}

.sector-content-area{
  margin: 16px;
  padding:16px;
  height: 250px;
  font-size: 1rem;
  font-weight: lighter;
  color: #161d65;
  line-height: 1.8;
  border-radius: 8px;
  background-color:#f6f6f6;
}

.sector-content-heading{
  font-size:1.5rem;
  font-weight:bold;
  /* color:#161d65 */
}

.statistics-content-area{
  padding:26px;
  background-color:#f6f6f6;
  border-radius:8px;
}

.statistics-content-heading{
   /* color:#888; */
   color:#ff7b54;
}

.statistics-content-number{
  font-size:3rem;
  padding-top:10px;
  padding-bottom:10px;
}


.portfolio-card-text{
  color:#888;
  font-size:normal;
  font-weight:lighter;
  text-align:left;
}

.portfolio-card-text-heading{
  font-weight: bold;
}

/* Multiple Item carousel - script start */

/* @media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
} */

/* display 3 */
/* @media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{
  transform: translateX(0);
} */

/* Multiple Item carousel - script end */

/* Owl Carousel - Start */

#clients .owl-carousel {
  padding:10px;
}
#clients .owl-carousel .item{
  background-color: #fff;
  padding:50px;
  margin: 50px;
}

/* Owl Carousel - End */



/* Footer Section - Start */
#map {
  width: 100%;
  height: 550px;
}

#footer{
  background-color:#161d65;
  text-align:center;
  color:white;
}

.social .fa{
    color: white;
    border-radius: 50px;
    margin: 15px 5px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border: 2px solid white;
    transition: all 0.5s ease-in;
    background: #000;
}

/* Footer Section - End */
