.event-details-sticky-div {
    position: relative;
    border-top: 1px solid #bbb;
    transform: translateY(-1px);
    background: #333C5D;
    cursor: pointer;
    padding: 10px 30px 5px 30px;
    overflow: hidden;
}

.event-details-sticky-div-inner-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-details-sticky-div div small {
    position: relative;
    top: -2px;
    color: #bbb;
    font-size: 0.8rem;
}

@media (max-width: 500px) {
    .event-details-sticky-div {
        padding: 10px 15px 5px 15px;
    }
}

.event-details-sticky-div div h1 {
    color: #fff;
    font-size: 0.9rem;
    margin: 0;
}

.event-details-sticky-div div h2 {
    color: #fff;
    font-size: 0.9rem;
    margin: 0;
    font-weight: normal;
}

.reg-propfile-event-details-expand {
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    z-index: 99;
}

.event-details-sticky-div .reg-propfile-event-details-expand span {
    color: #fff;
    font-size: 2rem;
    transition: 1s;
}

.event-details-sticky-div.active .reg-propfile-event-details-expand span {
    transform: rotate(180deg);
}

.event-details-sticky-div .reg-profile-event-card {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    transition: 1.5s ease-out;
}

.event-details-sticky-div.active .reg-profile-event-card {
    max-height: 800px;
    opacity: 1;
    pointer-events: all;
    padding-bottom: 20px;
    transition: 2s ease-in;
}

.reg-participant-outter {
    width: 100%;
    overflow: hidden;
}

.reg-participant-outter .reg-participant-inner {
    width: 300%;
    display: flex;
}

.reg-participant-outter .reg-participant-inner .reg-participant-divs {
    padding: 5px;
    width: 100%;
    transition: 2s;
}

.event-registration-participant-card {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    height: 100px;
    cursor: pointer;
}

.add-paticipant-card {
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0.1);
    /* background: rgba(52, 141, 203, 0.3); */
}

.add-paticipant-card span {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6E5E5E;
    font-size: 2rem;
    color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.add-paticipant-card h1 {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    padding-top: 5px;
    color: #6E5E5E;
}

.event-registration-participant-card .participant-name-div {
    display: flex;
    align-items: center;
}

.event-registration-participant-card .participant-name-div span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    font-size: 1.7rem;
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48
}

.event-registration-participant-card .participant-name-div span.male {
    background: #5cc4f3;
}

.event-registration-participant-card .participant-name-div span.female {
    background: #f576ac;
}

.event-registration-participant-card .participant-name-div h1 {
    color: #333C5D;
    position: relative;
    top: 3px;
    font-size: 1.3rem;
    padding: 0 15px 0 10px;
    margin: 0;
    margin-bottom: 2px;
}

.event-registration-participant-card .participant-name-div h2 {
    position: relative;
    top: 2px;
    padding-left: 10px;
    font-size: 0.9rem;
    color: #aaa;
    font-weight: normal;
    margin: 0;
}

.participant-edit-text {
    padding: 0 10px;
    font-size: 0.8rem;
    margin: 0;
    position: relative;
    top: -3px;
}

.event-registration-participant-card .participant-card-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    right: 0;
}

.event-registration-participant-card .participant-card-arrow span {
    font-size: 1.8rem;
    color: #bbb;
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48
}

.reg-form-email {
    font-size: 1rem;
    text-align: center;
    color: #aaa;
    font-weight: normal;
    margin: 0;
}

.reg-form-email.male {
    color: #5cc4f3;
}

.reg-form-email.female {
    color: #f576ac;
}

.reg-participant-form-field {
    padding: 15px 5px;
    position: relative;
}

.reg-participant-form-field input,
.reg-participant-form-field select {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: none;
    border: 1px solid #ddd;
    color: #333C5D;
    letter-spacing: 1px;
    border-radius: 8px;
    padding: 0 10px;
    font-size: 0.9rem;
}

.reg-participant-form-field input:read-only {
    background: #efefef;
}

.reg-participant-date-picker {
    background: none !important;
    border: 1px solid #ddd !important;
    height: 40px;
    border-radius: 8px 0 0 8px !important;
}

.reg-participant-date-picker-icon {
    height: 40px;
    background: none;
    border: 1px solid #ddd;
    border-left: none;
    border-radius: 0 8px 8px 0;
}

.reg-participant-form-field span {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.1rem;
    color: #aaa;
    padding: 0 8px;
    pointer-events: none;
    transition: 0.5s;
}

.reg-participant-form-field input:focus~span,
.reg-participant-form-field input:valid~span,
.reg-participant-form-field input.email-input-invalid:invalid~span,
span.already-active {
    top: 15px;
    background: #fff;
    font-size: 0.9rem;
    color: #348DCB;
    font-weight: bold;
    padding: 0 8px;
}

.ref-participant-save-div {
    display: flex;
    justify-content: center;
}

.ref-participant-save-div button {
    width: 140px;
    margin: 0 10px;
}

@media (max-width: 850px) {
    .ref-participant-save-div button {
        width: 100%;
    }
}

.reg-first-form-gender-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.gender-section-inside-div {
    width: 33%;
}

.city-section-inside-div {
    width: 66%;
    display: flex;
}

@media (max-width: 1200px) {
    .reg-first-form-gender-section .gender-section-inside-div {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .reg-first-form-gender-section .gender-section-inside-div {
        width: 100%;
    }

    .city-section-inside-div {
        width: 100%;
    }
}

.reg-form-dots {
    width: 100%;
    display: flex;
    justify-content: center;
}

.reg-form-dots div {
    padding: 0 15px;
    height: 10px;
}

.reg-form-dots div::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #ddd;
    border-radius: 50%;
}

.reg-form-dots div.active::before {
    background: #348DCB;
}


.reg-category-card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
}

.reg-category-card.payment-pending {
    border: 1px solid orange;
}

.reg-category-card.payment-completed {
    border: 1px solid green;
}

.reg-category-card.active {
    /* background: rgba(52, 141, 203, 1); */
    background: #eee;
    /* height: 230px; */
}

.display-flex-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    min-height: 95px;
}

.reg-category-card .category-details {
    width: 60%;
}

.reg-category-card h1 {
    font-size: 1.2rem;
    margin: 0;
}

.reg-category-card .category-icons span.male {
    color: #5cc4f3;
}

.reg-category-card .category-icons span.female {
    color: #f576ac;
}

.category-icons.team span {
    font-size: 1.2rem;
}

.reg-category-card .category-fees {
    width: 40%;
    text-align: right;
}

.reg-category-card .category-fees h2 {
    font-size: 1.2rem;
    position: relative;
    top: 10px;
    color: #aaa;
}

.reg-category-card h3 {
    font-size: 0.9rem;
    font-weight: normal;
    color: #348DCB;
    margin: 0;
}

.reg-category-card .select-category-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    background: #ddd;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    pointer-events: none;
}

.reg-category-card.active .select-category-div {
    background: #348DCB;
    border: 1px solid #348DCB;
}

.reg-category-card .select-category-div span {
    display: none;
    font-size: 1rem;
    color: #fff;
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48
}

.reg-category-card.active .select-category-div span {
    display: block;
}

.category-checkout {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    /* background: #333C5D; */
    background: rgba(52, 141, 203, 1);
    /* background: #eee; */
    border-top: 1px solid #ddd;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    z-index: 99;
    cursor: pointer;
    transition: 1s;
}

@media (max-width: 1080px) {
    .category-checkout {
        bottom: 50px;
    }
}

.category-checkout .category-checkout-expand-more {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    transition: 1s;
}

.category-checkout.active .category-checkout-expand-more {
    top: 0;
    transform: translateX(-50%) rotate(0deg);
}

.category-checkout .category-checkout-expand-more span {
    font-size: 2rem;
    color: #fff;
}

.category-checkout .category-checkout-full-details {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    transition: 1s ease-out;
}

.category-checkout.active .category-checkout-full-details {
    max-height: 400px;
    opacity: 1;
    pointer-events: all;
    transition: 2s ease-in;
}

.category-checkout-full-details div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 0;
    transition: 1s;
}

.category-checkout-full-details div:nth-last-child(1) {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.category-checkout-full-details div span,
.category-checkout-full-details div small {
    color: #ddd;
    font-size: 1rem;
}

.category-checkout .category-checkout-first-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-checkout.active .category-checkout-first-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.category-checkout .first-details-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    transition: 1s;
}

.category-checkout.active .first-details-total {
    width: 100%;
    padding-top: 10px;
}

.category-checkout .category-checkout-first-details .first-details-total h3 {
    font-size: 1.3rem;
    color: #fff;
    display: none;
    transition: 1s;
}

.category-checkout.active .category-checkout-first-details .first-details-total h3 {
    display: block;
}

.category-checkout .category-checkout-first-details .first-details-total h1 {
    font-size: 1.1rem;
    margin: 0;
    color: #fff;
    font-weight: 500;
    transition: 1s;
}

.category-checkout .category-checkout-first-details .first-details-total h2 {
    font-size: 0.9rem;
    color: #ddd;
    font-weight: normal;
    margin: 0;
    transition: 1s;
}

.category-checkout.active .category-checkout-first-details .first-details-total h1,
.category-checkout.active .category-checkout-first-details .first-details-total h2 {
    text-align: right;
}

.category-checkout .category-checkout-button-div {
    width: auto;
    transition: 1s;
}

.category-checkout.active .category-checkout-button-div {
    width: 100%;
}

.category-checkout .category-checkout-button-div button {
    background: #eee;
    color: #333C5D;
    width: auto;
    margin: 0;
    transition: 1s;
}

.category-checkout.active .category-checkout-button-div button {
    width: 100%;
    margin: 10px 0 25px 0;
}

.reg-category-card.active input {
    background: #fff;
}

.category-doubles-partner-div {
    height: 0;
    pointer-events: none;
    overflow: hidden;
    transition: 1s;
}

.category-doubles-partner-div.show {
    padding-top: 5px;
    height: 140px;
    pointer-events: all;
}

.category-doubles-partner-div .partner-error-message h1 {
    position: absolute;
    transform: translateY(-10px);
    left: 17px;
    width: calc(100% - 34px);
    font-size: 0.8rem;
    color: red;
}

.partner-intelicence {
    position: absolute;
    top: 55px;
    left: 5px;
    height: 200px;
    width: 100%;
    min-width: 200px;
    overflow-y: auto;
    background: #eee;
    z-index: 99;
    /* display: none; */
}

.partner-intelicence a {
    display: block;
    padding: 10px 0 10px 10px;
    color: #333C5D;
    font-size: 1rem;
    text-decoration: none;
    /* text-align: center; */
    border-bottom: 1px solid #ddd;
}

.partner-intelicence a:hover {
    text-decoration: none;
}

.cancel-partner {
    position: relative;
    left: 5px;
    text-align: right;
    padding-top: 10px;
}

.cancel-partner a {
    padding: 0 20px;
    text-decoration: none;
}

.cancel-partner a:hover {
    text-decoration: none;
}

.payment-status {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    border-radius: 0 0 10px 10px;
    height: 40px;
}

.payment-status.pending {
    border-top: 1px solid orange;
    background: #edc091;
}

.payment-status.completed {
    border-top: 1px solid green;
    background: #91eda2;
}

.convenience-fee-div {
    text-align: center;
}

.convenience-fee-div h1 {
    font-size: 1rem;
    font-weight: normal;
}

.reg-checkout-note {
    padding: 20px 0 10px 0;
    border-radius: 10px;
    /* border: 1px solid #aaa; */
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.reg-checkout-note h1 {
    font-size: 1.1rem;
    margin: 0;
    padding: 0 20px;
}

.reg-checkout-note hr {
    margin: 20px 0;
}

.reg-checkout-note div {
    padding: 0 20px 0 5px;
}

.reg-checkout-note div small {
    color: #666;
}

/* .date-picker-input {
    position: absolute;
    width: 100%;
    height: 40px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
    z-index: 5;
    pointer-events: none;
} */

.registration-catergory-loding {
    position: relative;
}

.registration-catergory-loding .registration-catergory-loding-inner {
    position: absolute;
    left: -10px;
    width: calc(100% - -20px);
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 5;
    display: flex;
    justify-content: center;
}

.registration-catergory-loding .registration-catergory-loding-inner lottie-player {
    width: 80%;
    max-width: 330px;
    height: 100%;
    max-height: 330px;
    background: rgba(255, 255, 255, 0.8);
}