/*************** tag selecter **************/

body{
  background-color: #f7f3e9;
  font-family:Arsenal;

}
hr{
  width:83%;

}

/*************** class selecter **************/
.top-bar {
    position: relative;
    height: 35px;
    background: #343148;
}
.top-bar .top-bar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.div1{
 font-size: 24px;
 color: black;
 background-color: #eee;
}

.footer-text{
  font-size: 16px;
  color: black;

}

.fa {
  padding: 20px;
  font-size: 40px;
  width:100px;
  text-align: center;
  text-decoration: none;
}





/*************** id selecter **************/
