/********** tag selectors ************/
body{

  font-family: 'Roboto Condensed';
}
img{
border-radius:8px ;
}


/********** class selectors ************/

/************** Navbar ************/
.large{
  width: 100% ;
  border-radius: 0 0 0 0 ;
}
.small{
  width: 0px ;
  display: none;
  border-radius: 0 0 0 0 ;
}

@media (max-width: 1080px) {
  .large{
    width: 0% ;
    display: none;
    border-radius: 0 0 0 0 ;
  }
  .small{
    width: 100% ;
    display: block;
    border-radius: 0 0 0 0 ;
  }
}




@media (max-width: 500px) {
  .sticky {
    position: fixed;
    top: 0;
    width: 91.5%;
    /* margin-left: 150px; */
    /* margin: 0 0.1rem 0 0.1px; */
  }
}

@media (min-width: 800px) {
.sticky {
  position: fixed;
  top: 0;
  width: 98%;
  /* margin-left: 150px; */
  /* margin: 0 0.1rem 0 0.1px; */
}
}


.sticky + .content {
  padding-top: 260px;
}

.mynavbar{
  border-radius:0 0 0 0 ;
  background-color: #d99632; /*color changed*/
  color: white;

}

.navbar-brand{
  color: white;
  font-size: 1.7rem;
}

.navbar-brand:hover{
  color: #aaa;
}

.nav-link{
  color: white;
}

.nav-link:hover{
  color: #aaa;
}


.time-phone-row{
  background-color: #d99632 ;
  margin: 0 0.1px 0 0.1px ;
  color: white;
  font-size: 1.3rem;
  padding-bottom:  6px;
  z-index: 1;
}

.time-icon{
  text-align:right;
}

.phone-icon{
  text-align:left;
}

/************** Navbar ending ************/

/************** Banner ************/

.heading-img{
  width:100%;
  border-radius: 0 0 0 0 ;
}

/************** Banner ending ************/


/************** Below banner content ************/

.p1{
  font-size: 1.5rem ;
  text-align: center;
  padding: 1.5rem 0 1.5rem 0;
}
.h1-1{
  font-size: 0.9rem ;
  text-align: center ;
  padding: 0 0 0 0;
  font-family: 'noto sans';
  color: #1b0c07;
}

/************** Below banner content ending ************/


/************** Favorite ************/

.favorite-div{
  background-color:#f0f5f5 ;
   text-align: center ;
   padding: 40px 20px 50px 20px;
   border-radius: 8px ;
 }
.heading-content{
  color: #1b0c07;
  text-align: center;
}
.favorite-row{
  text-align: center ;
  }

.favorite-col1{
  background-color:#eee ;
  padding:20px ;
  border-radius: 20px 0 0 0;
}

.favorite-img1{
  margin: 10px 0 10px 0 ;
  width:100%;
}

.favorite-textheading{
  font-size: 1.5rem ;
   text-align: center ;
   font-family: 'PT sans' ;
  }

.favorite-textcontent{
  font-size: 0.9rem ;
  font-family: 'noto sans';
  padding: 0 0 0 0 ;
  text-align: center ;
  color:grey ;
}

.favorite-col2{
  background-color:#eee ;
  padding:20px ;
   border-radius: 0 ;
  }

.favorite-col3{
  background-color:#eee ;
  padding:20px ;
  border-radius: 0 0 20px 0 ;
}


/************** Favorite ending ************/


/************** Order ************/

.order-div{
  text-align: center ;
  padding: 40px 20px 50px 20px;
  border-radius: 8px ;
}

.container1 {
  position: relative;
  width: 100%;
}

.image1 {
  opacity: 1;
  width: 100%;
  transition:all .5s ease-out;
  backface-visibility: hidden;
  margin: 10px 0 10px 0 ;
}

.middle {
  transition:all .5s ease-in;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  cursor: hand;
}

.container1:hover .image1 {
  opacity: 0.3;
}

.container1:hover .middle {
  opacity: 1;
}


/************** Order ending ************/


/************** Gallery ************/

.gallery-div{
  background-color:#f0f5f5 ;
  text-align: center ;
  border-radius: 8px ;
}

.gallery-img{
  width:250px;
  height: 250px;
  transition: all 0.7s ease-in;
  margin:10px;
}

.gallery-img:hover{
  width:300px;
  height: 300px;
  transition: all 0.7s ease-in-out ;
  opacity: 0.8;
}


/************** Gallery ending ************/


/************** About us ************/

.aboutus-content{
transition: .5s ease;
opacity: 1;
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
width: 80%;
}

.mybutton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}
.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}
.button5:hover {
  background-color: #555555;
  color: white;
}

.aboutus-img{
 width:100%;
}

/************** About us ending ************/



/************** Footer ************/

.footer-div{
  text-align: center;;
}

.footer-heading{
  font-size:1.2em;
  padding: 50px 0 0 0;
  color: #1b0c07;
}

.footer-content{
  font-size:0.9em;
  color: grey;
}

.footer-social .fa{
  color:white;
  border-radius:50px;
  margin:15px 5px;
  width:40px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  border: 2px solid white;
  transition: all 0.3s ease-out;
  background: #1b0c07;
}
.footer-social .fa:hover{
  background: #444;
  font-size: 20px;
  width:50px;
  height: 50px;
  line-height: 50px;
    transition: all 0.3s ease-in;
}


.footer-end{
  background-color:#1b0c07 ;
  height: 80px ;
}

.footer-end-content{
  font-size:0.8em ;
  color:white ;
}


/************** Footer ending ************/


/*class ending (index.html)*/
