/* Color Palette - Details

Palette#: 226650 from Colorhunt

Reference Colors:
- Red: #161d65 - main header & footer color
- Light Red: #ff8585 - support colors
- Light Orange: #ffb396 - support colors
- Yellow: #fff5c0- support colors

*/

/********** tag selectors ************/

*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}

body{
  width: 100%;
  margin: 0;
  padding: 0;
  /* font-family: 'Montserrat'; */
  font-family: 'Baloo 2', cursive;
}

h1{
  font-size: 3rem;
  font-weight: bold;
}

h2{
  font-size: 2.5rem;
  font-weight: bold;
}
h3{
  font-size: 2rem;
  font-weight: bold;
}
h4{
  font-size: 1.5rem;
  font-weight:normal;
}
h5{
  font-size: 1.2rem;
  font-weight:normal;
}
h6{
  font-size: 0.8rem;
  font-weight:normal;
}


/********** class selectors ************/
.container-fluid{
  width: 100%;
}

/* navbar start */
.navbar{
  background-color: #fff; /*color changed*/
  border-top: 0;
  border-bottom: 1px;
  border-left: 0;
  border-right: 0;
  /* border-style: solid; */
  /* border-color: #1638A0; */
}

.navbar-brand{
  color: white;
  /* font-size: 0.6rem; */
  /* padding-left: 12px; */
}

.navbar-brand:hover{
  color: #aaa;
}

.navbar-text{
  color:white;
  padding-left: 12px;
}

.nav-item{
  width: 140px;
  /* padding-left: 20px; */
  line-height: 2;
}

.nav-link{
  /* color: white; */
  color:#333C5D;
  font-size: 1rem;
  text-align: center;
  font-weight: 900;
}

.nav-link:hover{
  color: #aaa;
}

.nav .active{
  color: #161d65;
  font-size: 1.1rem;
  background-color:#ededed;
  margin-top: 0px;
}

.navbar-toggler{
  border: 1px solid #ffff00;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

 .sticky {
  background-color: #161d65 !important;
  transition: all 0.9s ease-in-out;
}

.sticky .nav-link, .sticky .navbar-brand, .sticky .navbar-text {
  color: white;
}

.sticky .nav .active{
  color: #161d65;
  font-size: 1.1rem;
  background-color:#ededed;
  margin-top: 0px;
  border-radius: 2px;
}

.sticky .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* navbar end */

.large{
  width: 100% ;
  border-radius: 0 0 0 0 ;
}
.small{
  width: 0px ;
  display: none;
  border-radius: 0 0 0 0 ;
}

@media (max-width: 1080px) {
  .large{
    width: 0% ;
    display: none;
    border-radius: 0 0 0 0 ;
  }
  .small{
    width: 100% ;
    display: block;
    border-radius: 0 0 0 0 ;
  }
}

.statistics-content-area{
  padding:26px;
  background-color:#f6f6f6;
  border-radius:8px;
  background-color:rgb(255,255,255,0.9);
}

.statistics-content-heading{
   /* color:#888; */
   color:#ff7b54;
}

.statistics-content-number{
  font-size:3rem;
  padding-top:10px;
  padding-bottom:10px;
}

/* Designs - Start */
#designs .item {
  /* border: 1px solid #fff5c0; */
  transition: all 1s ease-in-out;
}

.post-slide {
  margin: 0 10px;
}

.post-slide-banner {
  background-size: cover;
  background-position: center;
  height: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.post-slide .post-info {
  padding: 5px 0;
  margin: 0;
  list-style: none;
}

.post-slide .post-info li {
  display: inline-block;
  margin: 0 5px;
}

.post-slide .post-info i {
  margin-right: 0;
}

.post-slide .post-info a {
  font-size: 0.6rem;
  font-weight: bold;
  color: #fff5c0;
  text-transform: uppercase;
  /* font-family: 'Roboto Condensed', sans-serif; */
  font-family: 'Baloo 2', cursive;
}

.post-slide .post-info li a:hover {
  text-decoration: none;
  color: #1dcfd1;
}

.post-slide .post-img {
  position: relative;
}

.post-slide .post-img:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  /* background: rgba(0,0,0,0.6); */
  /* transition: opacity 0.90s linear 0s; */
}

.post-slide:hover .post-img:before {
  opacity: 1;
}

.post-slide-banner:hover .post-img:before {
  opacity: 1;
}

.post-slide .post-img img {
  width: 100%;
  height: auto;
}

.post-slide-banner .post-img img {
  width: 100%;
  height: auto;
}

.post-slide .read {
  position: absolute;
  bottom: 30px;
  left: 50px;
  font-size: 14px;
  color: white;
  text-transform: capitalize;
  opacity: 0;
  transition: all 0.40s linear 0s;
}

.post-slide:hover .read {
  opacity: 1;
}

.post-slide .read:hover {
  text-decoration: none;
  color: deepskyblue;
}

.post-slide .post-content {
  padding: 10px 0 0 0;
  position: relative;
}

.post-slide .post-author {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: absolute;
  top: -45px;
  right: 10px;
  overflow: hidden;
  border: 4px solid white;
}

.post-slide .post-author img {
  width: 100%;
  height: auto;
}

.post-slide .post-title {
  font-size: 0.7rem;
  font-weight: bold;
  color: #333C5D;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  transition: all 0.30s linear 0s;
}

.post-slide .post-title:after {
  content: "";
  width: 25px;
  display: block;
  margin-top: 10px;
  border-bottom: 4px solid #348DCB;
  /* border-bottom: 4px solid #444; */
}

.post-slide .description {
  /* color: white; */
  color: #000;
  font-size: 0.7rem;
  font-weight: 500;
}

.post-slide .post-content .viewbtn {
  /* display: block; */
  opacity: 0;
  /* transition: all 3s ease-in-out; */
}

.item:hover .viewbtn {
  /* display: block; */
  opacity: 1;
  transition: all 0.6s ease-in-out;
  /* transition: all 0.1s ease-in-out; */
}

/* Designs End */

/* Footer Section - Start */
#map {
  width: 100%;
  height: 550px;
}

#footer{
  background-color:#161d65;
  text-align:center;
  color:white;
}

.social .fa{
    color: white;
    border-radius: 50px;
    margin: 15px 5px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border: 2px solid white;
    transition: all 0.5s ease-in;
    background: #000;
}
.before-nav{
  position: relative;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right,#161d65, #348DCB);
  font-family: 'Baloo 2', cursive;
  padding:0.5% 0;
}

@media (max-width: 1080px) {
  .before-nav{
    display: none;
  }
}

.before-nav-information{
  word-spacing: 10px;
  padding-left: 2%;
}
.before-nav-information span{
  font-size: 0.9rem;
}

.before-nav-information a{
  color: #fff;
  text-decoration: none;
}

.before-nav-information a:hover{
  color: #000;
}


.icons{
  word-spacing: 20px;
  padding-right: 2%;
}
.icons a{
  color: #fff;
  text-decoration: none;
}

.icons a:hover{
  color: #333C5D;
}

.headbox{
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
  align-items: center;
  height:60px;
  overflow:hidden;
}

.headbox-div-1{
  background-color:#348DCB;
  display: flex;
  align-items: center;
  width:100%;
  height:100%;
  border-radius:60px 0 0 60px;
}

.secbox{
  font-family: 'Baloo 2', cursive;
  padding: 3%;
  border-radius: 10px;

}

.secbox ul li{
  list-style-type:none;
}
.secbox ul li i{
  color:#348DCB;
  font-size:1.1rem;
}
.textheadleft{
  padding-left :1%;
  color:#333C5D;
}
.firstbox{
  font-family: 'Baloo 2', cursive;
  padding: 3%;
  border-radius: 10px;
}
.firstbox ul li{
  list-style-type:none;
}

.textheadright{

  color:#889;
  padding-left:1%
}
.firstsbox{
  font-family: 'Baloo 2', cursive;

}
.thirdbox{
    font-family: 'Baloo 2', cursive;
    padding: 3%;
    border-radius: 10px;
}
.thirdbox ul li{
  list-style-type:none;
}

.footer-styles-phone{
  display:flex;
  flex-direction:row;
  /* text-align: center; */
  justify-content: space-around;
}
.footer-styles-phone li{
  text-decoration-style: none;
  text-align: center;
  list-style-type: none;
  font-weight: bold;
}

.footer-styles{
  display:flex;
  flex-direction:row;
  /* text-align: center; */
  justify-content: space-around;
}
.footer-styles li{
  text-decoration-style: none;
  list-style-type: none;
  font-weight: bold;
}
.footer-ic{
  position: relative;
  top: 10px;
}


.bardown{
  background-color:#333C5D;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index:100;
  height: 50px;
  font-family: 'Baloo 2', cursive;
  border-top:1px solid;
  padding-top: 5px;

}
.bardown ul{
  display: flex;
  flex-direction:row;
  /* justify-content: center; */
  justify-content: space-between;
  overflow: auto;
  align-items: center;
  padding: 0 10px;
  text-align: center;


}
.bardown ul li{
  list-style-type: none;
  /* padding-top: 1px; */
  font-size: 0.8rem;
  color:#348DCB;
}
.bardown ul li span{
  font-size: 1rem;
}
.bardown ul li a{
  color:#348DCB;
}

.login-full-page{
  width: 100%;
}

.login-register-card{
  /* height: 90vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-register-card-fixed{
  padding: 3% 2%;
  width:100%;
  /* height: 300px; */
  display:flex;
  flex-direction:column;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
  overflow: hidden;
}

.login-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
  transition: transform 1s;
}

.login-form .login-form-feilds{
  height: 65px;
  padding: 0 14px;
}

.login-form .login-form-feilds input{
  width: 100%;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid #000;
  z-index: 999;
  letter-spacing: 1px;
  color: #555;
}

.login-form .login-form-feilds .underline{
  position: relative;
  bottom: 1px;
  height: 1px;
  width: 100%;
  background: #348DCB;
  transform: scaleX(0);
  transition: 0.5s;
}

.login-form .login-form-feilds h5{
  position: relative;
  top: -22px;
  font-size: 1rem;
  z-index: -1;
  transition: 0.5s;
}

.login-form .login-form-feilds input:focus ~ h5,
.login-form .login-form-feilds input:valid ~ h5{
  top: -40px;
  font-size: 0.9rem;
}

.login-form .login-form-feilds input:focus ~ .underline,
.login-form .login-form-feilds input:valid ~ .underline{
  transform: scaleX(1);
}

.form-btn span{
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  /* width: 200px; */
  display: inline-block;
  text-align: center;
}

#Indicator{
  /* width: 210px; */
  width: 50%;
  border: none;
  background: #348DCB;
  height: 3px;
  margin-top: 8px;
  transform: translateX(0px);
  transition: transform 1s;
}

.social-media{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social-media i{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: none;
}

.social-media i:nth-child(1){
  border: 1px solid #1873eb;
  color: #1873eb;
  transition: all 0.5s;
}
.social-media i:nth-child(1):hover{
  background: #1873eb;
  color: #fff;
}

.social-media i:nth-child(2){
  border: 1px solid #1c9cea;
  color: #1c9cea;
  transition: all 0.5s;
}
.social-media i:nth-child(2):hover{
  background: #1c9cea;
  color: #fff;
}

.social-media i:nth-child(3){
  border: 1px solid #d54836;
  color: #d54836;
  transition: all 0.5s;
}
.social-media i:nth-child(3):hover{
  background: #d54836;
  color: #fff;
}

.social-media i:nth-child(4){
  border: 1px solid #0a63bc;
  color: #0a63bc;
  transition: all 0.5s;
}
.social-media i:nth-child(4):hover{
  background: #0a63bc;
  color: #fff;
}

.social-media i:nth-child(5){
  border: 1px solid #0d8cf7;
  color: #0d8cf7;
  transition: all 0.5s;
}
.social-media i:nth-child(5):hover{
  background: #0d8cf7;
  color: #fff;
}
.card{
  border: 2px solid #161d65;
  color: #161d65;
}
.faqsec{
  color:#fff;
  background: linear-gradient(to right,#161d65, #348DCB);
  border-radius: 8px 8px 8px 8px;
}

.faqsec:hover{
  color:#fff;
}
.srchcl{
  color: #fff;
  border-color: #000;
  margin-left: 1%;
}
.srchcl:hover{
  background-color: #348DCB;
  border-color: #348DCB;
}

.btncl:hover{
  background-color: #348DCB;
  width:30px;
}


.in-cl{
  border-color: #348DCB;

}
.clients-card-img{
  /* border-radius: 50%; */
  width: 20%;
  padding: 2%;
  /* border: 1px solid #aaa; */
}

.clients-card-content{
  /* font-family: 'Baloo Tammudu 2'; */
  font-size: 0.9rem;

  font-family: 'Baloo 2', cursive;
}

.owl-item .partners-item img {
  opacity: 0.5;
  transition: 3s;
  transform: scale(0.6);
  filter: saturate(0.5);
}

.owl-item.center .partners-item img {
  opacity: 1;
  transform: scale(1);
  transition: 3s;
  border-radius: 6px;
  filter: saturate(1);
}

.owl-item.active.center .partners-item img {
  opacity: 1;
  transform: scale(1);
  transition: 3s;
  border-radius: 6px;
  filter: saturate(1);
}

.notification-count{
  position: absolute;
  color: #fff;
  font-size: 0.9rem;
  background: red;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: 6px;
  right: 10px;
}

.navbar-mobile{
  background: linear-gradient(to right,#161d65, #348DCB);
  padding: 9px;
  height: 48px;
}

.navbar-mobile-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-mobile-menu a{
  color: #fff;
  font-size: 1.3rem;
}

.navbar-mobile-menu .hamburger-icon{
  position: absolute;
  top: 14px;
}

.navbar-mobile-menu .user-icon{
  font-size: 1rem;
  position: absolute;
  top: 11px;
  right: 7px;
  border: 1px solid #fff;
  line-height: 20px;
  text-align: center;
  width: 25px;
  height:25px;
  border-radius:50%;
}

.more-button-links {
  position: fixed;
  top: 0;
  left: 0;
  right: 20%;
  bottom: 0;
  background: #fff;
  z-index: 50;
  height: 100%;
  /* padding-top: 40px; */
  box-shadow: 0 0 200px 0 rgba(0,0,0,0.7);
}

.more-button-links .pop-up-close-btn{
  position: absolute;
  top: 20px;
  right: 10px;
}

.more-button-links .pop-up-close-btn span{
  font-size: 2rem;
}

.more-button-links ul {
  position: relative;
  display: list-item;
}

.more-button-links ul li {
  list-style: none;
  font-size: 1.5rem;
  margin: 0 auto;
  padding: 0 10px;
}

.linesec{
  background: linear-gradient(to right,#161d65, #348DCB);
}


.more-button-links ul li a .left-nav-first{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  /* background: url('../img/left-nav.mp4'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.more-button-links ul li a .left-nav-first img{
  width: 100px;
  height: 100px;
  background: #efefef;
  border-radius: 50%;
}

.more-button-links ul li a .left-nav-first h5{
  color: #666;
  padding-top: 20px;
  margin: 0 auto;
  font-weight: bold;
}

.more-button-links ul li a .left-nav-first small{
  font-size: 0.8rem;
  font-weight: 500;
}

.more-button-links ul li .left-navigation{
  color: #000;
  display: flex;
  padding-top: 20px;
  text-decoration: none;
}

.more-button-links ul li .left-navigation div{
  padding: 0 10px;
}

.more-button-links ul li .left-navigation div:nth-child(3){
  padding: 0;
}

.more-button-links ul li .left-navigation .content{
  width: 100%;
}

.more-button-links ul li .left-navigation .content small{
  color: #aaa;
  font-size: 0.8rem;
  position: relative;
  top: -20px;
}

.more-button-links ul li .left-navigation div .arrow-right{
  color: #666;
}

.more-button-links ul li .left-navigation div:nth-child(1) span{
  color: #bbb;
}

.more-button-links ul li .left-navigation div .notification{
  font-size: 0.8rem;
  background: red;
  padding: 3px 8px;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
}

.hr{
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 0;
}

/* bardown */

.navbar-mobile-bottom{
  position: fixed;
  background: linear-gradient(to right,#161d65, #348DCB);
  /* background: #f4f4f4; */
  bottom: 0;
  width: 100%;
  z-index: 999;
  padding: 9px 0px 4px 0px;
  border-top: 0.01rem solid #aaa;
}

.navbar-mobile-bottom-menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-mobile-bottom-menu .navbar-mobile-bottom-menu-a{
  color: #fff;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.navbar-mobile-bottom-menu a:nth-child(3){
  width: 50%;
}

.navbar-mobile-bottom-menu .navbar-mobile-bottom-menu-a.active{
  color: #fff;
}

.new-user{
  position: absolute;
  z-index: 999;
  width: 40px;
  height: 40px;
  background: #348DCB;
  border-radius: 50%;
  bottom: 60%;
  left: calc(50% - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-user span{
  color: #fff;
}

.navbar-cart-no{
  position: absolute;
  right: 5%;
  top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0.7rem;
  background: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.morePage{
  height:80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* table */

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  /* width: 400px; */
  width:inherit;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background: linear-gradient(to right,#161d65, #348DCB);
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  /* background-color: #f3f3f3; */
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #161d65;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #161d65;
}
.alpharow{
  /* background: #f3f3f3; */
  background: linear-gradient(to right,#161d65, #348DCB);
  color: #fff;
}

.menu-list-tags{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right,#161d65, #348DCB);
  height:60px;
  border-radius: 0 60px 60px 0;

}

.menu-list-tags a{
  /* background: #fff; */
  width: 100%;
  text-align: center;
  color:#ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  height:60px;
  font-size: 0.9rem
}

.menu-list-tags a span{
  font-size: 1rem
}



.menu-list-tags a:hover{
  color:#fff;
  text-decoration: none;
}

.menu-list-tags a.active{
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
}

@media (max-width: 850px) {
  .menu-list-tags a.active{
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
  }

}

.menu-list-tags a.active span {

  font-size: 1.2rem;

}

@media (max-width: 850px) {

  .menu-list-tags a.active span {

    font-size: 1.5rem;

  }

}

.menu-list-parent{
  padding: 0 180px 40px 0;

}

@media (max-width: 850px) {
  .menu-list-parent{
    padding: 4% 4% 2% 0;

  }

}



.menu-list-hr{
  border-top: 6px solid #000;
  margin: 0;
  width: 33.3%;
}

.menu-tag-items{
  width: 100%;
  border-radius: 12px;
  text-align: center;
}

.anchor-tag{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.anchor-tag a{
  text-align: center;
  /* background: red; */
  width: 100%;
  margin:  5px;
  color: #555
}

@media (max-width:850px) {
  .category-box{
    padding: 0 2% 2% 2%;
  }
}

/* ticket */

@media (max-width:850px) {
  .ticketword{
    position: relative;
    top: 10px;
  }
}

@media (max-width:850px) {
  .participantword{
    position: relative;
    top: 10px;
  }
}
.ticket-div{
  /* border: 2px solid black; */
  height:inherit;
  border-radius: 12px 12px 0px 0px;
  position: relative;
  top: 28px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.ticket-head{
  text-align: center;
  background: linear-gradient(to right,#161d65, #348DCB);
  color:#fff;
  /* font-size: 0.2rem; */
  /* box-shadow: 0px 3px 20px #000; */
  border-radius: 12px 12px 0px 0px;


}

.buttonclass{
  position:absolute;
  top:8px;
  right:4px;
  font-size:0.8rem;
  border-radius: 60px;
}

@media (max-width:850px) {
  .buttonclass{
    position: absolute;
    top:24px;
    right: 5px;
  }

}


.ticket-foot{
  text-align: center;
  background: linear-gradient(to right,#161d65, #348DCB);
  color:#fff;
  /* font-size: 0.2rem; */
  /* box-shadow: 0px 3px 20px #000; */
  border-radius: 0px 0px 12px 12px;

}

.ticket-mid{
  /* border: 2px solid red; */
  text-align: center;
  color:#000;
  position: relative;
}

.ticket-mid hr{
  /* border: 2px solid red; */
border: none;
border-bottom: 1px solid #ccc;
position: relative;
top:-12px;

}

.ticket-mid h5{

position: relative;
top:-15px;

}

.participantidbelow{

position: relative;
top:-2px;
color: #ccc;
z-index: 1000;

}

.participantid{
  /* position: absolute;
  top:16px; */
}

.ticket-mid img{

position: relative;
top:-10px;
height: 100px;
width:100px;

}

.ticket-mid-below{
  display: flex;
}

.spandiv{
  /* border-bottom: 2px solid red; */
  display:flex;
  width:100%;
  position: relative;
  top: -28px;
  justify-content: space-around;
  align-items: center;

}

.spandivthings{
  display: flex;
  justify-content: center;
  align-items: center;
}



.lower-tiket{
  display: flex;
  justify-content: space-around;
  /* border: 2px solid red; */

}

.lower-tiket span{
  padding-right: 4px;
  position: relative;
  /* top: 12px; */
}

.lower-tiket p{
  position: relative;
  top: 8px;
}

.lower-tiket-2{
  display: flex;
  justify-content: space-around;

}

.lower-tiket-2 span{
  padding-right: 4px;
  position: relative;
  top: -5px;
  font-size: 1rem;

}

.lower-tiket-2 p{
  padding-right: 4px;
  position: relative;
  top: -7px;
  font-size: 0.9rem;

}

.lower-tiket-after{
  display:flex;

  width: 100%;

  justify-content: center;


}
.lower-tiket-after p{
 /* position: relative;
 top:5px; */
}

/* dashboard starts */
.dashboard-card{
  background: linear-gradient(to right,#161d65, #348DCB);
  margin: 25px 25px;
  padding: 15px 10px;
  border-radius: 10px;
  height: 75px;
  overflow-y: hidden;
  transition: 1s;
  position: relative;

  /* width:100%; */
}
.namebox{
padding:2%;
background:#eee;
border-radius:40px;
margin-bottom: 15px;

}

.nameboxhead{

  display:inline-block;
  position:relative;
  left:35px;
}

@media (max-width:850px) {

.nameboxhead{

  display:inline-block;
  position:relative;
  top:10px;

}
}



.listhead{
position:relative;
left:-200px;
}

@media (max-width:850px) {
  .listhead{
  position:relative;
  left:-40px;
  }
}

.dashboard-card.orgname.active{
  height: 370px;
}

.dashboard-card .arrow-down{
  position: absolute;
  right: 20px;
  /* top: -3px; */
  /* transform: translateY(-20px); */
  transition: 1s;
}

.dashboard-card .arrow-down span{
  transition: 1s;
}

.dashboard-card div .order-icon{
  font-size: 2.4rem;
}

.dashboard-sub-heading{
  font-size: 0.8rem;
  font-weight: 500;
  color: #ccc;
}

.dashboard-card .details{
  padding-left: 20px;
}

.dashboard-card .details h4{
  margin: 0 auto;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
}

.dashboard-card .details p{
  margin: 0 auto;
}

.dashboard-card-order{
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.dashboard-card-order div p{
  font-weight: bold;
  font-size: 1.1rem;
}

.dashboard-card-delivery{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  margin: 10px auto;
}

.dashboard-card-delivery div h5{
  color: #000;
  margin-top: 7px;
  padding-left: 5px;
}
/*
@media (max-width:850px) {
  .playerpartner{
    font-size: 0.6rem
  }

} */

/* dashboard ends */
/* ticket ends */

/* this starts */


/*************** login - End *************/

/* Footer Section - End */
