
.checkout-div{
  position: fixed;
  bottom: 6.5%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  z-index: 999;
  background: #88CA5E;
}

.checkout-div div h5{
  margin: 0 auto;
  color: #fff;
  font-weight: 500;
}

.checkout-div div small{
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0 auto;
}
