/*************** login - Strat *************/

.login-full-page{
  width: 100%;
}

.login-register-card{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-register-card-fixed{
  padding: 3% 2%;
  width:300px;
  height: 500px;
  display:flex;
  flex-direction:column;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
  overflow: hidden;
}

.login-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
  transition: transform 1s;
}

.login-form .login-form-feilds{
  height: 65px;
  padding: 0 14px;
}

.login-form .login-form-feilds input{
  width: 100%;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid #000;
  z-index: 999;
  letter-spacing: 1px;
  color: #555;
}

.login-form .login-form-feilds .underline{
  position: relative;
  bottom: 1px;
  height: 1px;
  width: 100%;
  background: #88CA5E;
  transform: scaleX(0);
  transition: 0.5s;
}

.login-form .login-form-feilds h5{
  position: relative;
  top: -22px;
  font-size: 1rem;
  z-index: -1;
  transition: 0.5s;
}

.login-form .login-form-feilds input:focus ~ h5,
.login-form .login-form-feilds input:valid ~ h5{
  top: -40px;
  font-size: 0.9rem;
}

.login-form .login-form-feilds input:focus ~ .underline,
.login-form .login-form-feilds input:valid ~ .underline{
  transform: scaleX(1);
}

.form-btn div{
  display:flex;
  justify-content: space-around;
}

.form-btn span{
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width: 50%;
  display: inline-block;
  text-align: center;
}

#Indicator{
  width: 130px;
  border: none;
  background: #88CA5E;
  height: 3px;
  margin-top: 8px;
  transform: translateX(0px);
  transition: transform 1s;
}

.social-media{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social-media i{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: none;
}

.social-media i:nth-child(1){
  border: 1px solid #1873eb;
  color: #1873eb;
  transition: all 0.5s;
}
.social-media i:nth-child(1):hover{
  background: #1873eb;
  color: #fff;
}

.social-media i:nth-child(2){
  border: 1px solid #1c9cea;
  color: #1c9cea;
  transition: all 0.5s;
}
.social-media i:nth-child(2):hover{
  background: #1c9cea;
  color: #fff;
}

.social-media i:nth-child(3){
  border: 1px solid #d54836;
  color: #d54836;
  transition: all 0.5s;
}
.social-media i:nth-child(3):hover{
  background: #d54836;
  color: #fff;
}

.social-media i:nth-child(4){
  border: 1px solid #0a63bc;
  color: #0a63bc;
  transition: all 0.5s;
}
.social-media i:nth-child(4):hover{
  background: #0a63bc;
  color: #fff;
}

.social-media i:nth-child(5){
  border: 1px solid #0d8cf7;
  color: #0d8cf7;
  transition: all 0.5s;
}
.social-media i:nth-child(5):hover{
  background: #0d8cf7;
  color: #fff;
}

/*************** login - End *************/
