
.order-summary div{
  text-align: left;
  padding-bottom: 20px;
}

.order-summary div h5{
  font-size: 0.95rem;
  color: rgba(0,0,0,0.4);
}

.order-summary div p{
  padding-left: 20px;
  font-size: 0.95rem;
  font-weight: 500;
  color: rgba(0,0,0,0.5);
}
