
.orders-list-div{
  padding: 10px;
  background: #eaeaea;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.orders-list-div div:nth-child(1) small{
  font-size: 1rem;
  font-weight: bold;
}

.orders-list-div div:nth-child(1){
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orders-list-div h6{
  font-size: 0.95rem;
  color: #666;
  padding-top: 5px;
}

.orders-list-div .order-details{
  display: flex;
  justify-content: space-between;
}

.checkbox{
  width: 20px;
  height: 20px;
}

.orders-list-div .order-details h5{
  font-size: 0.85rem;
}

.cancel{
  color: #888;
}

.payment-pending{
  color: red;
}

.delivery-pending{
  color: orange;
}

.pay-now-div{
  position: absolute;
  background: #eee;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}
